Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Update medhelm docs
  docs/medhelm.md
Due: none

MELT: Fix function name
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Initial commit for reasoning tasks
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

update noteextract llm judge (#3499)
  src/helm/benchmark/annotation/chw_care_plan_annotator.py
Due: run-pre-commit-python

Run linter
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
Due: run-pre-commit-python

Added missing dependencies for medhelm (#3506)
  setup.cfg
Due: none

SHC additional datasets (#3496)
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
Due: run-pre-commit-python

Update medhelm run specifications
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Add back shc_proxy_med function
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Add medhelm reasoning configuration file
  config/run_entries_medhelm_reasoning.conf
Due: none

add stop sequences for medec
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

add stop sequences for medec (#3509)
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Fix formatting with black
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

update omni model
  src/helm/clients/audio_language/qwen2_5_omni_client.py
Due: run-pre-commit-python

Do not automatically increase output tokens for reasoning models
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

run exact match for math
  src/helm/benchmark/static/schema_vhelm.yaml
Due: none

MELT: Revise code linting
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Complete implementation for synthetic reasoning tasks
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Correct comment information
  src/helm/benchmark/presentation/run_entries_melt.conf
Due: none

MELT: Implement Vietnamese MATH scenario
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

Uncomment medhelm entries
  src/helm/benchmark/presentation/run_entries_medhelm.conf
Due: none

Move run_entries_medhelm_reasoning.conf to presentation directory
  src/helm/benchmark/presentation/run_entries_medhelm_reasoning.conf
Due: none

Add metrics to the scenarios table
  helm-frontend/src/routes/Scenarios.tsx
  helm-frontend/src/types/RunGroup.ts
Due: run-pre-commit-frontend

Add Metric column to Scenarios table
  helm-frontend/src/routes/Scenarios.tsx
Due: run-pre-commit-frontend

Do not automatically increase output tokens for reasoning models (#3510)
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

Medhelm mimic bhc annotator (#3503)
  src/helm/benchmark/annotation/mimic_bhc_annotator.py
  src/helm/benchmark/metrics/mimic_bhc_metrics.py
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Fix
  helm-frontend/src/components/AnnotationsDisplay.tsx
Due: run-pre-commit-frontend

Display nested objects in annotations in frontend (#3513)
  helm-frontend/src/components/AnnotationsDisplay.tsx
Due: run-pre-commit-frontend

Add metric column to scenarios table (#3512)
  helm-frontend/src/routes/Scenarios.tsx
  helm-frontend/src/types/RunGroup.ts
Due: run-pre-commit-frontend

Fix mobile menu z-index
  helm-frontend/src/components/NavBar/NavBar.tsx
Due: run-pre-commit-frontend

Fix mobile menu z-index (#3514)
  helm-frontend/src/components/NavBar/NavBar.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-262903c1.js
  src/helm/benchmark/static_build/assets/index-76bf8c8a.js
  src/helm/benchmark/static_build/assets/tremor-38a10867.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Integrate Vietnamese question-answering and summarization tasks (#3464)
  src/helm/benchmark/metrics/summarization_metrics.py
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

Add Qwen2.5 Omni 7B for audio scenarios (#3505)
  setup.cfg
  src/helm/clients/audio_language/qwen2_5_omni_client.py
  src/helm/clients/audio_language/qwen_omni/configuration_qwen2_5_omni.py
  src/helm/clients/audio_language/qwen_omni/modeling_qwen2_5_omni.py
  src/helm/clients/audio_language/qwen_omni/processing_qwen2_5_omni.py
  src/helm/clients/audio_language/qwen_omni/qwen2_5_omni_utils/__init__.py
  src/helm/clients/audio_language/qwen_omni/qwen2_5_omni_utils/v2_5/__init__.py
  src/helm/clients/audio_language/qwen_omni/qwen2_5_omni_utils/v2_5/audio_process.py
  src/helm/clients/audio_language/qwen_omni/qwen2_5_omni_utils/v2_5/vision_process.py
  src/helm/clients/audio_language/test.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Update requirements.txt
  requirements.txt
Due: none

Fixes for SHC
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Add scenerio
  src/helm/benchmark/scenarios/audio_language/speech_disorder_scenario.py
Due: run-pre-commit-python

Fix outout path
  src/helm/benchmark/scenarios/audio_language/speech_disorder_scenario.py
Due: run-pre-commit-python
