Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Add metadata for Unitxt scenarios and metrics (#4293)
  src/helm/benchmark/metrics/unitxt_metrics.py
  src/helm/benchmark/scenarios/unitxt_scenario.py
Due: run-pre-commit-python

Add metric for DeepMind MRCR v2
  src/helm/benchmark/metrics/deepmind_mrcr_v2_metric.py
Due: run-pre-commit-python

Add metric for DeepMind MRCR v2 (#4294)
  src/helm/benchmark/metrics/deepmind_mrcr_v2_metric.py
Due: run-pre-commit-python

docs: fix README typos (#4287)
  README.md
Due: none

Remove stray debug print in TogetherClient (#4286)
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Add link to Arabic Enterprise blog
  helm-frontend/src/components/Landing/ArabicEnterpriseLanding.tsx
Due: run-pre-commit-frontend

Add link to Arabic Enterprise blog (#4295)
  helm-frontend/src/components/Landing/ArabicEnterpriseLanding.tsx
Due: run-pre-commit-frontend

Fixes
  src/helm/benchmark/static/schema_arabic_enterprise.yaml
Due: none

Fix
  src/helm/benchmark/static/schema_arabic_enterprise.yaml
Due: none

Fix codeinsights ast_distance / asm_distance returning similarity not distance
  src/helm/benchmark/metrics/codeinsights_code_evaluation_metrics.py
  src/helm/benchmark/metrics/test_codeinsights_code_evaluation_metrics.py
Due: run-pre-commit-python

Fix JSON serialization round trip for ModelMetadata dates
  src/helm/benchmark/model_metadata_registry.py
  src/helm/benchmark/test_model_metadata_registry.py
  src/helm/proxy/server.py
  src/helm/proxy/services/remote_service.py
Due: run-pre-commit-python

Encrypt and decrypt reasoning
  scripts/decrypt_scenario_states.py
  scripts/encrypt_scenario_states.py
Due: run-pre-commit-python

Encrypt and decrypt reasoning (#4299)
  scripts/decrypt_scenario_states.py
  scripts/encrypt_scenario_states.py
Due: run-pre-commit-python

Test that all schemas in the repository pass validation
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/test_schema.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/benchmark/static/schema_autobencher.yaml
  src/helm/benchmark/static/schema_classic.yaml
  src/helm/benchmark/static/schema_cleva.yaml
  src/helm/benchmark/static/schema_czech_bank.yaml
  src/helm/benchmark/static/schema_enterprise.yaml
  src/helm/benchmark/static/schema_ewok.yaml
  src/helm/benchmark/static/schema_heim.yaml
  src/helm/benchmark/static/schema_long_context.yaml
  src/helm/benchmark/static/schema_safety.yaml
  src/helm/benchmark/static/schema_slp.yaml
  src/helm/benchmark/static/schema_slphelm.yaml
  src/helm/benchmark/static/schema_social_audio.yaml
  src/helm/benchmark/static/schema_sql.yaml
  src/helm/benchmark/static/schema_thai.yaml
  src/helm/benchmark/static/schema_tweetsentbr.yaml
Due: run-pre-commit-python

Switch to Python 3.12 for some GHA workflows
  .github/workflows/publish-pypi.yml
  .github/workflows/update-dependencies.yml
  .github/workflows/upgrade-dependencies.yml
Due: none

Remove python_version specifiers from dependencies
  pyproject.toml
Due: none

Remove python_version specifiers from dependencies (#4301)
  pyproject.toml
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/index-6sfOSsz5.js
  src/helm/benchmark/static_build/assets/index-C3aFzfEs.js
  src/helm/benchmark/static_build/assets/react-BhnNyHuP.js
  src/helm/benchmark/static_build/assets/react-D3IQTVQZ.js
  src/helm/benchmark/static_build/assets/react-markdown-DTLembof.js
  src/helm/benchmark/static_build/assets/recharts-DhnSad7c.js
  src/helm/benchmark/static_build/assets/tremor-B1ftEuaD.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Fix error
  src/helm/benchmark/static/schema_melt.yaml
Due: none

Switch to Python 3.12 for some GHA workflows (#4302)
  .github/workflows/publish-pypi.yml
  .github/workflows/update-dependencies.yml
  .github/workflows/upgrade-dependencies.yml
Due: none

Enter maintenance mode
  README.md
  docs/maintenance_mode.md
Due: none

Update dependencies
  uv.lock
Due: none

Don't bold paper names in readme
  README.md
Due: none

Document that HELM is in maintenance mode (#4304)
  README.md
  docs/maintenance_mode.md
Due: none

Validate all bulit-in schemas in the repository (#4300)
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/test_schema.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/benchmark/static/schema_autobencher.yaml
  src/helm/benchmark/static/schema_classic.yaml
  src/helm/benchmark/static/schema_cleva.yaml
  src/helm/benchmark/static/schema_czech_bank.yaml
  src/helm/benchmark/static/schema_enterprise.yaml
  src/helm/benchmark/static/schema_ewok.yaml
  src/helm/benchmark/static/schema_heim.yaml
  src/helm/benchmark/static/schema_long_context.yaml
  src/helm/benchmark/static/schema_melt.yaml
  src/helm/benchmark/static/schema_safety.yaml
  src/helm/benchmark/static/schema_slp.yaml
  src/helm/benchmark/static/schema_slphelm.yaml
  src/helm/benchmark/static/schema_social_audio.yaml
  src/helm/benchmark/static/schema_sql.yaml
  src/helm/benchmark/static/schema_thai.yaml
  src/helm/benchmark/static/schema_tweetsentbr.yaml
Due: run-pre-commit-python

Don't bold paper names in readme (#4305)
  README.md
Due: none

docs: fix tutorial documentation inconsistencies
  docs/tutorial.md
Due: none

Update HELM Arabic Enterprise schema (#4283)
  src/helm/benchmark/static/schema_arabic_enterprise.yaml
Due: none

Add metadata for Arabic Enterprise scenarios
  src/helm/benchmark/scenarios/arabic_content_generation_scenario.py
  src/helm/benchmark/scenarios/arabic_finance_scenario.py
  src/helm/benchmark/scenarios/arabic_legal_scenario.py
Due: run-pre-commit-python

Add metadata for Arabic Enterprise metrics
  src/helm/benchmark/metrics/arabic_content_generation_metric.py
  src/helm/benchmark/metrics/arabic_finance_calculation_metric.py
  src/helm/benchmark/metrics/arabic_legal_metric.py
  src/helm/benchmark/static/schema_arabic_enterprise.yaml
Due: run-pre-commit-python

Add BGPT REFUTE benchmark
  README.md
Due: none

Validate schema has no unreferenced metrics or metric groups
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Add metadata for Arabic Enterprise metrics (#4309)
  src/helm/benchmark/metrics/arabic_content_generation_metric.py
  src/helm/benchmark/metrics/arabic_finance_calculation_metric.py
  src/helm/benchmark/metrics/arabic_legal_metric.py
  src/helm/benchmark/static/schema_arabic_enterprise.yaml
Due: run-pre-commit-python

@ docs: fix incorrect command name in helm-server tutorial description
  docs/tutorial.md
Due: none

common: fix match_case misidentifying all-caps contractions as capitalized
  src/helm/benchmark/augmentations/test_perturbation.py
  src/helm/common/general.py
Due: run-pre-commit-python

fix(metrics): f1_score returns 0 when gold is a single article word
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/metrics/test_evaluate_reference_metrics.py
Due: run-pre-commit-python

fix(registry): merge duplicate model deployments instead of shadowing
  src/helm/benchmark/model_deployment_registry.py
  src/helm/benchmark/test_model_deployment_registry.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
