Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Add AlGhafa subsets to run entries
  src/helm/benchmark/presentation/run_entries_arabic.conf
Due: none

Add AlGhafa subsets to run entries (#3821)
  src/helm/benchmark/presentation/run_entries_arabic.conf
Due: none

Lint
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
Due: run-pre-commit-python

Add subsets to Arabic MMLU and MadinahQA
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/arabic_mmlu_scenario.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
Due: run-pre-commit-python

Respect subset
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
Due: run-pre-commit-python

Add subsets to Arabic MMLU and MadinahQA (#3817)
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/arabic_mmlu_scenario.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
Due: run-pre-commit-python

Switch to the MBZUAI version of translated MMLU
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
  src/helm/benchmark/scenarios/mbzuai_human_translated_arabic_mmlu.py
Due: run-pre-commit-python

Run spec function for mbzuai_human_translated_arabic_mmlu
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Fix schema
  src/helm/benchmark/static/schema_arabic.yaml
Due: none

Add MBZUAI Human-Translated Arabic MMLU (#3822)
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
  src/helm/benchmark/scenarios/mbzuai_human_translated_arabic_mmlu.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Add subject parameter to Arabic EXAMs
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/arabic_exams_scenario.py
Due: run-pre-commit-python

Fix test
  src/helm/benchmark/scenarios/test_arabic_exams_scenario.py
Due: run-pre-commit-python

Handle malformed regex queries
  helm-frontend/src/routes/Runs.tsx
Due: run-pre-commit-frontend

Lint
  helm-frontend/src/routes/Runs.tsx
Due: run-pre-commit-frontend

Fixes
  helm-frontend/src/components/RowValue.tsx
Due: run-pre-commit-frontend

Easy Button: first commit
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhelm_scenario.py
Due: run-pre-commit-python

Fixes
  helm-frontend/src/components/RowValue.tsx
  helm-frontend/src/routes/Runs.tsx
Due: run-pre-commit-frontend

Fix regular expression query handling in run predictions frontend (#3826)
  helm-frontend/src/components/RowValue.tsx
  helm-frontend/src/routes/Runs.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-2994adba.js
  src/helm/benchmark/static_build/assets/index-c0bce400.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Updated requirements
  docs/medhelm.md
Due: none

Auto-generate metric groups in helm-summarize
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/metrics/gpqa_chain_of_thought_metric.py
  src/helm/benchmark/metrics/ifeval_metrics.py
  src/helm/benchmark/metrics/metric.py
  src/helm/benchmark/metrics/omni_math_metrics.py
  src/helm/benchmark/metrics/wildbench_metrics.py
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Auto-generate metric groups in helm-summarize (#3828)
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/metrics/gpqa_chain_of_thought_metric.py
  src/helm/benchmark/metrics/ifeval_metrics.py
  src/helm/benchmark/metrics/metric.py
  src/helm/benchmark/metrics/omni_math_metrics.py
  src/helm/benchmark/metrics/wildbench_metrics.py
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Add metrics metadata for AIR-Bench 2024
  src/helm/benchmark/metrics/air_bench_metrics.py
Due: run-pre-commit-python

Add metadata to MedHELM metrics
  src/helm/benchmark/metrics/ehr_sql_metrics.py
  src/helm/benchmark/metrics/live_qa_metrics.py
  src/helm/benchmark/metrics/llm_jury_metrics.py
  src/helm/benchmark/metrics/medcalc_bench_metrics.py
  src/helm/benchmark/metrics/medec_metrics.py
  src/helm/benchmark/metrics/mimiciv_billing_code_metrics.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/metrics/medcalc_bench_metrics.py
  src/helm/benchmark/metrics/medec_metrics.py
Due: run-pre-commit-python

Updated adapter for medhelm_benchmark
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhelm_scenario.py
Due: run-pre-commit-python

Add metadata to many common metrics
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/metrics/dry_run_metrics.py
  src/helm/benchmark/metrics/efficiency_metrics.py
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/metrics/language_modeling_metrics.py
  src/helm/benchmark/metrics/toxicity_metrics.py
Due: run-pre-commit-python

Fix
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
Due: run-pre-commit-python

Add subject parameter to Arabic EXAMs (#3825)
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/arabic_exams_scenario.py
  src/helm/benchmark/scenarios/test_arabic_exams_scenario.py
Due: run-pre-commit-python

Add LLM-as-a-judge to ALRAGE
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/alrage_scenario.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/annotation/alrage_annotator.py
  src/helm/benchmark/metrics/alrage_metric.py
  src/helm/benchmark/scenarios/test_alrage_scenario.py
Due: run-pre-commit-python

Fix test
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/scenarios/test_alrage_scenario.py
Due: run-pre-commit-python

Add metadata to MedHELM metrics (#3829)
  src/helm/benchmark/metrics/ehr_sql_metrics.py
  src/helm/benchmark/metrics/live_qa_metrics.py
  src/helm/benchmark/metrics/llm_jury_metrics.py
  src/helm/benchmark/metrics/medcalc_bench_metrics.py
  src/helm/benchmark/metrics/medec_metrics.py
  src/helm/benchmark/metrics/mimiciv_billing_code_metrics.py
Due: run-pre-commit-python

Add LLM-as-a-judge to ALRAGE scenario (#3831)
  src/helm/benchmark/annotation/alrage_annotator.py
  src/helm/benchmark/metrics/alrage_metric.py
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/alrage_scenario.py
  src/helm/benchmark/scenarios/test_alrage_scenario.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Add run expander for instructions for Arabic MCQA scenarios
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Update run entries
  src/helm/benchmark/presentation/run_entries_arabic.conf
Due: none

Add metadata to many common metrics (#3832)
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/metrics/dry_run_metrics.py
  src/helm/benchmark/metrics/efficiency_metrics.py
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/metrics/language_modeling_metrics.py
  src/helm/benchmark/metrics/toxicity_metrics.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
