Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Add arabic_legal_rag and arabic_legal_qa to Arabic Enterprise run entries
  src/helm/benchmark/presentation/run_entries_arabic_enterprise.conf
Due: none

Add metadata to Arabic scenarios
  src/helm/benchmark/scenarios/alghafa_scenario.py
  src/helm/benchmark/scenarios/alrage_scenario.py
  src/helm/benchmark/scenarios/arabic_exams_scenario.py
  src/helm/benchmark/scenarios/arabic_mmlu_scenario.py
  src/helm/benchmark/scenarios/aratrust_scenario.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
  src/helm/benchmark/scenarios/mbzuai_human_translated_arabic_mmlu.py
Due: run-pre-commit-python

Add metadata for Arabic scenarios
  src/helm/benchmark/scenarios/alghafa_scenario.py
  src/helm/benchmark/scenarios/alrage_scenario.py
  src/helm/benchmark/scenarios/arabic_exams_scenario.py
  src/helm/benchmark/scenarios/arabic_mmlu_scenario.py
  src/helm/benchmark/scenarios/aratrust_scenario.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
  src/helm/benchmark/scenarios/mbzuai_human_translated_arabic_mmlu.py
Due: run-pre-commit-python

Add metadata for Arabic scenarios (#4170)
  src/helm/benchmark/scenarios/alghafa_scenario.py
  src/helm/benchmark/scenarios/alrage_scenario.py
  src/helm/benchmark/scenarios/arabic_exams_scenario.py
  src/helm/benchmark/scenarios/arabic_mmlu_scenario.py
  src/helm/benchmark/scenarios/aratrust_scenario.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
  src/helm/benchmark/scenarios/mbzuai_human_translated_arabic_mmlu.py
Due: run-pre-commit-python

Add metadata to mmlu_clinical_afr_scenario and winogrande_afr_scenario
  src/helm/benchmark/scenarios/mmlu_clinical_afr_scenario.py
  src/helm/benchmark/scenarios/winogrande_afr_scenario.py
Due: run-pre-commit-python

Fix print_summary() displaying relevance scores under COHERENCE heading
  src/helm/benchmark/metrics/summarization_metrics.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/scenarios/mmlu_clinical_afr_scenario.py
  src/helm/benchmark/scenarios/winogrande_afr_scenario.py
Due: run-pre-commit-python

Add metadata for audio scenarios
  src/helm/benchmark/scenarios/audio_language/air_bench_chat_scenario.py
  src/helm/benchmark/scenarios/audio_language/air_bench_foundation_scenario.py
  src/helm/benchmark/scenarios/audio_language/ami_scenario.py
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/benchmark/scenarios/audio_language/audiocaps_scenario.py
  src/helm/benchmark/scenarios/audio_language/corebench_scenario.py
  src/helm/benchmark/scenarios/audio_language/covost2_scenario.py
  src/helm/benchmark/scenarios/audio_language/fleurs_fairness_scenario.py
  src/helm/benchmark/scenarios/audio_language/fleurs_scenario.py
  src/helm/benchmark/scenarios/audio_language/iemocap_audio_scenario.py
  src/helm/benchmark/scenarios/audio_language/librispeech_fairness_scenario.py
  src/helm/benchmark/scenarios/audio_language/librispeech_scenario.py
  src/helm/benchmark/scenarios/audio_language/meld_audio_scenario.py
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
  src/helm/benchmark/scenarios/audio_language/mustard_scenario.py
  src/helm/benchmark/scenarios/audio_language/mutox_scenario.py
  src/helm/benchmark/scenarios/audio_language/parade_scenario.py
  src/helm/benchmark/scenarios/audio_language/speech_robust_bench_scenario.py
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
  src/helm/benchmark/scenarios/audio_language/voice_jailbreak_attacks_scenario.py
  src/helm/benchmark/scenarios/audio_language/voxceleb2_scenario.py
Due: run-pre-commit-python

Add metadata to mmlu_clinical_afr_scenario and winogrande_afr_scenario (#4184)
  src/helm/benchmark/scenarios/mmlu_clinical_afr_scenario.py
  src/helm/benchmark/scenarios/winogrande_afr_scenario.py
Due: run-pre-commit-python

Fix singular "grandfather" in plural gender term mapping
  src/helm/benchmark/augmentations/gender_perturbation.py
Due: run-pre-commit-python

Switch Downloading Raw Results documentation to use gcloud cp instead of gcloud rsync
  docs/downloading_raw_results.md
Due: none

Switch documentation to use gcloud cp instead of gcloud rsync (#4188)
  docs/downloading_raw_results.md
Due: none

docs: remove Stanford HAI (chai) logo from homepage
  docs/assets/images/chai-logo.svg
  docs/index.md
Due: none

Add metadata for VHELM scenarios
  src/helm/benchmark/scenarios/vision_language/a_okvqa_scenario.py
  src/helm/benchmark/scenarios/vision_language/bingo_scenario.py
  src/helm/benchmark/scenarios/vision_language/blink_scenario.py
  src/helm/benchmark/scenarios/vision_language/crossmodal_3600_scenario.py
  src/helm/benchmark/scenarios/vision_language/exams_v_scenario.py
  src/helm/benchmark/scenarios/vision_language/fair_face_scenario.py
  src/helm/benchmark/scenarios/vision_language/flickr30k_scenario.py
  src/helm/benchmark/scenarios/vision_language/gqa_scenario.py
  src/helm/benchmark/scenarios/vision_language/hateful_memes_scenario.py
  src/helm/benchmark/scenarios/vision_language/math_vista_scenario.py
  src/helm/benchmark/scenarios/vision_language/mementos_scenario.py
  src/helm/benchmark/scenarios/vision_language/mm_safety_bench_scenario.py
  src/helm/benchmark/scenarios/vision_language/mm_star_scenario.py
  src/helm/benchmark/scenarios/vision_language/mme_scenario.py
  src/helm/benchmark/scenarios/vision_language/mmmu_scenario.py
  src/helm/benchmark/scenarios/vision_language/msr_vtt_scenario.py
  src/helm/benchmark/scenarios/vision_language/pairs_scenario.py
  src/helm/benchmark/scenarios/vision_language/pope_scenario.py
  src/helm/benchmark/scenarios/vision_language/real_world_qa_scenario.py
  src/helm/benchmark/scenarios/vision_language/seed_bench_scenario.py
  src/helm/benchmark/scenarios/vision_language/unicorn_scenario.py
  src/helm/benchmark/scenarios/vision_language/vibe_eval_scenario.py
  src/helm/benchmark/scenarios/vision_language/viz_wiz_scenario.py
  src/helm/benchmark/scenarios/vision_language/vqa_scenario.py
Due: run-pre-commit-python

Change Dependabot interval to monthly
  .github/dependabot.yml
Due: none

Fix unescaped '.' in final_number_exact_match regex
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
Due: run-pre-commit-python

Fix _apply_output_mapping_pattern returning wrong match results
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/presentation/run_display.py
Due: run-pre-commit-python

Fix operator precedence skipping robustness metric group check
  src/helm/benchmark/presentation/torr_robustness_summarizer.py
Due: run-pre-commit-python

docs: Update installation instructions for uv with platform-specific guidance
  README.md
Due: none

docs: Align docs/medhelm.md with new uv-based installation approach
  docs/medhelm.md
Due: none

docs: Align docs/installation.md with new uv-based approach
  docs/installation.md
Due: none

Change Dependabot schedule interval to monthly (#4190)
  .github/dependabot.yml
Due: none

Add LICA-Bench integration
  README.md
  docs/installation.md
  docs/lica_bench.md
  mkdocs.yml
  pyproject.toml
  src/helm/benchmark/run_specs/lica_bench_run_specs.py
  src/helm/benchmark/scenarios/vision_language/lica_bench_scenario.py
Due: run-pre-commit-python

Use git+https for lica-bench dependency (not yet on PyPI)
  pyproject.toml
Due: none

refactor: Update EhrSqlAnnotator to handle SQL execution errors and improve query handling
  src/helm/benchmark/annotation/ehr_sql_annotator.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/ehr_sql_scenario.py
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

fix: Handle empty text input in TiktokenTokenizer to return empty tokens
  src/helm/tokenizers/tiktoken_tokenizer.py
Due: run-pre-commit-python

Fix run_executable returning 0 for failed compilations
  src/helm/benchmark/metrics/codeinsights_correct_code_metrics.py
Due: run-pre-commit-python

Add metadata for Ewok scenario (#4179)
  src/helm/benchmark/scenarios/ewok_scenario.py
Due: run-pre-commit-python

Add metadata for audio scenarios (#4185)
  src/helm/benchmark/scenarios/audio_language/air_bench_chat_scenario.py
  src/helm/benchmark/scenarios/audio_language/air_bench_foundation_scenario.py
  src/helm/benchmark/scenarios/audio_language/ami_scenario.py
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/benchmark/scenarios/audio_language/audiocaps_scenario.py
  src/helm/benchmark/scenarios/audio_language/corebench_scenario.py
  src/helm/benchmark/scenarios/audio_language/covost2_scenario.py
  src/helm/benchmark/scenarios/audio_language/fleurs_fairness_scenario.py
  src/helm/benchmark/scenarios/audio_language/fleurs_scenario.py
  src/helm/benchmark/scenarios/audio_language/iemocap_audio_scenario.py
  src/helm/benchmark/scenarios/audio_language/librispeech_fairness_scenario.py
  src/helm/benchmark/scenarios/audio_language/librispeech_scenario.py
  src/helm/benchmark/scenarios/audio_language/meld_audio_scenario.py
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
  src/helm/benchmark/scenarios/audio_language/mustard_scenario.py
  src/helm/benchmark/scenarios/audio_language/mutox_scenario.py
  src/helm/benchmark/scenarios/audio_language/parade_scenario.py
  src/helm/benchmark/scenarios/audio_language/speech_robust_bench_scenario.py
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
  src/helm/benchmark/scenarios/audio_language/voice_jailbreak_attacks_scenario.py
  src/helm/benchmark/scenarios/audio_language/voxceleb2_scenario.py
Due: run-pre-commit-python

Fix _apply_output_mapping_pattern returning wrong match results (#4192)
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/presentation/run_display.py
Due: run-pre-commit-python

Add link to per_instance_stats.json on frontend (#4166)
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getPerInstanceStatsByName.ts
Due: run-pre-commit-frontend

Fix print_summary() showing relevance scores under COHERENCE (#4183)
  src/helm/benchmark/metrics/summarization_metrics.py
Due: run-pre-commit-python

Add metadata for VHELM scenarios (#4189)
  src/helm/benchmark/scenarios/vision_language/a_okvqa_scenario.py
  src/helm/benchmark/scenarios/vision_language/bingo_scenario.py
  src/helm/benchmark/scenarios/vision_language/blink_scenario.py
  src/helm/benchmark/scenarios/vision_language/crossmodal_3600_scenario.py
  src/helm/benchmark/scenarios/vision_language/exams_v_scenario.py
  src/helm/benchmark/scenarios/vision_language/fair_face_scenario.py
  src/helm/benchmark/scenarios/vision_language/flickr30k_scenario.py
  src/helm/benchmark/scenarios/vision_language/gqa_scenario.py
  src/helm/benchmark/scenarios/vision_language/hateful_memes_scenario.py
  src/helm/benchmark/scenarios/vision_language/math_vista_scenario.py
  src/helm/benchmark/scenarios/vision_language/mementos_scenario.py
  src/helm/benchmark/scenarios/vision_language/mm_safety_bench_scenario.py
  src/helm/benchmark/scenarios/vision_language/mm_star_scenario.py
  src/helm/benchmark/scenarios/vision_language/mme_scenario.py
  src/helm/benchmark/scenarios/vision_language/mmmu_scenario.py
  src/helm/benchmark/scenarios/vision_language/msr_vtt_scenario.py
  src/helm/benchmark/scenarios/vision_language/pairs_scenario.py
  src/helm/benchmark/scenarios/vision_language/pope_scenario.py
  src/helm/benchmark/scenarios/vision_language/real_world_qa_scenario.py
  src/helm/benchmark/scenarios/vision_language/seed_bench_scenario.py
  src/helm/benchmark/scenarios/vision_language/unicorn_scenario.py
  src/helm/benchmark/scenarios/vision_language/vibe_eval_scenario.py
  src/helm/benchmark/scenarios/vision_language/viz_wiz_scenario.py
  src/helm/benchmark/scenarios/vision_language/vqa_scenario.py
Due: run-pre-commit-python

Build frontend
  src/helm/benchmark/static_build/assets/index-1l-PnIC-.js
  src/helm/benchmark/static_build/assets/index-DReQBrpT.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Fix run_executable returning 0 for failed compilations in CodeInsights metric (#4199)
  src/helm/benchmark/metrics/codeinsights_correct_code_metrics.py
Due: run-pre-commit-python

Fix BBQ metrics in HELM Safety schema
  src/helm/benchmark/static/schema_safety.yaml
Due: none

Fix BBQ metrics in HELM Safety schema (#4202)
  src/helm/benchmark/static/schema_safety.yaml
Due: none

Add Gemini 3 Flash and Gemini 3.1 Flash-Lite
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fix PrivacyMetric leakage_email_domain_rate using local_correct_count
  src/helm/benchmark/metrics/decodingtrust_privacy_metrics.py
Due: run-pre-commit-python

Fix links
  src/helm/config/model_deployments.yaml
Due: none
