Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

bit faster
  src/helm/clients/qwen3_client.py
  test_qwen3.py
Due: run-pre-commit-python

bit faster
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

use original tokenizer
  src/helm/config/model_deployments.yaml
Due: none

fit all
  src/helm/benchmark/window_services/local_window_service.py
Due: run-pre-commit-python

print prompts
  test_qwen3.py
Due: run-pre-commit-python

print prompts
  src/helm/benchmark/presentation/run_entries_reasoning.conf
Due: none

30K
  src/helm/benchmark/presentation/run_entries_reasoning.conf
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/index-BnwHD_OD.js
  src/helm/benchmark/static_build/assets/index-COzuWzpT.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Update dependabot.yml (#4014)
  .github/dependabot.yml
Due: none

Update client
  src/helm/benchmark/presentation/run_entries_medhelm_gated.conf
  src/helm/benchmark/presentation/run_entries_medhelm_private_stanford.conf
  src/helm/benchmark/presentation/run_entries_medhelm_public.conf
  src/helm/clients/stanfordhealthcare_http_model_client.py
Due: run-pre-commit-python

Fix dependabot.yml errors
  .github/dependabot.yml
Due: none

Add newline
  .github/dependabot.yml
Due: none

Fixes
  .github/dependabot.yml
Due: none

Fixes again
  .github/dependabot.yml
Due: none

Fix dependabot.yml errors (#4015)
  .github/dependabot.yml
Due: none

Lint
  helm-frontend/src/components/ExtraDataDisplay.tsx
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Remove unused plugin
  helm-frontend/tailwind.config.js
Due: run-pre-commit-frontend

fix 3rd party newline style, no import alias
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Sentence split
  docs/importing_custom_modules.md
Due: none

small model
  src/helm/clients/qwen3_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

1.7b
  src/helm/clients/qwen3_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Update docs based on review
  docs/importing_custom_modules.md
Due: none

Update file path wording
  docs/importing_custom_modules.md
Due: none

qwen base
  test_qwen3.py
Due: run-pre-commit-python

easier
  test_qwen3.py
Due: run-pre-commit-python

0.6 base
  src/helm/clients/qwen3_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

small qwen variants
  src/helm/clients/qwen3_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

aime25
  src/helm/benchmark/presentation/run_entries_reasoning.conf
  src/helm/benchmark/run_specs/reasoning_run_specs.py
  src/helm/benchmark/scenarios/aime_scenario.py
  src/helm/benchmark/static/schema_reasoning.yaml
Due: run-pre-commit-python

test
  src/helm/clients/qwen3_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
