Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

feat: setup default logger on boot, and refactor helm-run to parse, log then use a separate method to use those arguments
  src/helm/benchmark/run.py
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python

refactor: move summarize, create-plot and proxy cli to use new logger
  src/helm/benchmark/presentation/create_plots.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/run.py
  src/helm/proxy/cli.py
Due: run-pre-commit-python

refactor: use hwarn() over hlog(WARNING: to be more semantically accurate
  scripts/decrypt_scenario_states.py
  scripts/encrypt_scenario_states.py
  scripts/medhelm/redact_annotations.py
  scripts/offline_eval/deepfloyd/deepfloyd.py
  scripts/redact_scenario_states.py
  src/helm/benchmark/adaptation/adapters/in_context_learning_adapter.py
  src/helm/benchmark/annotation/bigcodebench_annotator.py
  src/helm/benchmark/annotation/bird_sql_annotator.py
  src/helm/benchmark/annotation/ehr_sql_annotator.py
  src/helm/benchmark/annotation/helpdesk_call_summarization_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/executor.py
  src/helm/benchmark/metrics/classification_metrics.py
  src/helm/benchmark/metrics/cleva_harms_metrics.py
  src/helm/benchmark/metrics/conv_fin_qa_calc_metrics.py
  src/helm/benchmark/metrics/efficiency_metrics.py
  src/helm/benchmark/metrics/ifeval_metrics.py
  src/helm/benchmark/metrics/toxicity_metrics.py
  src/helm/benchmark/metrics/unitxt_metrics.py
  src/helm/benchmark/model_deployment_registry.py
  src/helm/benchmark/presentation/contamination.py
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/reeval_run.py
  src/helm/benchmark/reeval_runner.py
  src/helm/benchmark/run.py
  src/helm/benchmark/runner.py
  src/helm/benchmark/scenarios/autobencher_capabilities_scenario.py
  src/helm/benchmark/scenarios/grammar.py
  src/helm/benchmark/window_services/encoder_decoder_window_service.py
  src/helm/clients/anthropic_client.py
  src/helm/clients/client.py
  src/helm/clients/openai_client.py
  src/helm/clients/palmyra_client.py
  src/helm/clients/reka_client.py
  src/helm/common/credentials_utils.py
Due: run-pre-commit-python

fix: add colorlog to deps as now needed
  requirements.txt
  setup.cfg
Due: none

MELT: Remove unnecessary imports
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Remove duplicated imports
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Separate translation and language modeling into files
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_lm_scenarios.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/scenarios/melt_translation_scenario.py
Due: run-pre-commit-python

MELT: Remove unnecessary stuffs
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Remvoe unnecessary stuffs
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Remove unecessary stuffs
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Remove unnecessary stuffs
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_ir_scenario.py
  src/helm/benchmark/scenarios/melt_knowledge_scenario.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Remvoe unecessary stuffs
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

Initialize dashboard for MELT (#3594)
  docs/reproducing_leaderboards.md
  helm-frontend/project_metadata.json
  helm-frontend/src/components/Landing/MELTLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-24fda1bb.css
  src/helm/benchmark/static_build/assets/index-778ed86c.css
  src/helm/benchmark/static_build/assets/index-979e9015.js
  src/helm/benchmark/static_build/assets/index-f2b2a6ce.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

MELT: Revise the code convention
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Revise code convention
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_lm_scenarios.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/scenarios/melt_translation_scenario.py
Due: run-pre-commit-python

MELT: Revise code convention
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_ir_scenario.py
  src/helm/benchmark/scenarios/melt_knowledge_scenario.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

Integrate Vietnamese text classification sentiment analysis (#3536)
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

Add REEval and MedHELM to documentation table of contents
  README.md
  docs/medhelm.md
  mkdocs.yml
Due: none

Add doc about adding new doc pages to mkdocs.yml
  docs/editing_documentation.md
Due: none

Fix typo
  docs/editing_documentation.md
Due: none

Pin download URL for TruthfulQA CSV file
  src/helm/benchmark/scenarios/truthful_qa_scenario.py
Due: run-pre-commit-python

Add doc about adding new doc pages to mkdocs.yml (#3600)
  docs/editing_documentation.md
Due: none

Add REEval and MedHELM to documentation table of contents (#3599)
  README.md
  docs/medhelm.md
  mkdocs.yml
Due: none

Pin download URL for TruthfulQA CSV file (#3601)
  src/helm/benchmark/scenarios/truthful_qa_scenario.py
Due: run-pre-commit-python

MELT: Fix missing arguments
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

Fix rendering slowness
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend

Partly transposed things
  helm-frontend/src/components/GroupLeaderboard.tsx
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/mmlu_pro_scenario.py
Due: run-pre-commit-python, run-pre-commit-frontend

Fix styling
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend

Fix some styling
  helm-frontend/public/config.js
  helm-frontend/src/components/LeaderboardTable.tsx
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend

MELT: Fix formating
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

Integrate Vietnamese knowledge, toxicity detection, and information retrieval (#3556)
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_ir_scenario.py
  src/helm/benchmark/scenarios/melt_knowledge_scenario.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

Fix widths and lint
  helm-frontend/src/components/GroupLeaderboard.tsx
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend

Revert stray files
  helm-frontend/src/components/LeaderboardTable.tsx
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/mmlu_pro_scenario.py
Due: run-pre-commit-python, run-pre-commit-frontend

Lint again
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend

Revert config.js
  helm-frontend/public/config.js
  helm-frontend/src/components/GroupLeaderboard.tsx
Due: run-pre-commit-frontend

Fix types
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend

Transpose frontend tables for MedHELM (#3602)
  helm-frontend/src/components/GroupLeaderboard.tsx
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend
