Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Fixes
  src/helm/benchmark/annotation/bird_sql_annotator.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/annotation/bird_sql_annotator.py
  src/helm/benchmark/scenarios/bird_sql_scenario.py
Due: run-pre-commit-python

Undo fix
  src/helm/benchmark/annotation/bird_sql_annotator.py
  src/helm/benchmark/metrics/bird_sql_metrics.py
  src/helm/benchmark/static/schema_sql.yaml
Due: run-pre-commit-python

Add execution accuracy metric to Bird-SQL (#3312)
  src/helm/benchmark/annotation/bird_sql_annotator.py
  src/helm/benchmark/metrics/bird_sql_metrics.py
  src/helm/benchmark/run_specs/sql_run_specs.py
  src/helm/benchmark/scenarios/bird_sql_scenario.py
  src/helm/benchmark/static/schema_sql.yaml
Due: run-pre-commit-python

Add multiple annotators to Omni-MATH and rename shared modules (#3291)
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/metrics/omni_math_metrics.py
Due: run-pre-commit-python

handle server errors
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

sanity check
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
Due: run-pre-commit-python

schema
  src/helm/benchmark/static/schema_audio_v0.yaml
Due: none

remove vocal sound empty files
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

Remove empty files in the Vocal Sound audio scenario (#3313)
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

invalid audio file logic
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

invalid audio file logic
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
Due: run-pre-commit-python

add DeepSeekR1-Distill-Llama-8B
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add ECHR Judgment Classification scenario (#3311)
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/echr_judgment_classification_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Fixed problem of empty instances
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
Due: run-pre-commit-python

Add o3-mini model (#3304)
  setup.cfg
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Fix ICL and adapter
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/financial_phrasebank_scenario.py
Due: run-pre-commit-python

Adding IMDB_PTBR Scenario (#3284)
  src/helm/benchmark/run_specs/imdb_ptbr_run_specs.py
  src/helm/benchmark/scenarios/imdb_ptbr_scenario.py
  src/helm/benchmark/scenarios/test_imdb_ptbr_scenario.py
Due: run-pre-commit-python

Use original instance IDs in IFEval (#3275)
  src/helm/benchmark/scenarios/ifeval_scenario.py
Due: run-pre-commit-python

Fixes for BigCodeBench Evaluator (#3310)
  src/helm/benchmark/annotation/annotator_factory.py
  src/helm/benchmark/annotation/bigcodebench_annotator.py
  src/helm/benchmark/scenarios/bigcodebench_scenario.py
Due: run-pre-commit-python

Disable test_math_scenario due to DMCA takedown
  src/helm/benchmark/scenarios/test_math_scenario.py
Due: run-pre-commit-python

add: mental health scenario
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

Fix test_bigcodebench_scenario
  src/helm/benchmark/scenarios/test_bigcodebench_scenario.py
Due: run-pre-commit-python

Add landing page for MedHELM
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
  helm-frontend/src/routes/Home.tsx
  src/helm/benchmark/server.py
Due: run-pre-commit-python, run-pre-commit-frontend

Handle Azure OpenAI content filter
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Add landing page for MedHELM (#3316)
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
  helm-frontend/src/routes/Home.tsx
  src/helm/benchmark/server.py
Due: run-pre-commit-python, run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-43573179.js
  src/helm/benchmark/static_build/assets/index-66622a2b.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

changed max token output for head_qa and medbullets EM multi-choice, cleaned output for medec
  src/helm/benchmark/metrics/medec_metrics.py
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/metrics/wildbench_metrics.py
Due: run-pre-commit-python

Audio HELM v0 fixes (#3314)
  src/helm/benchmark/presentation/run_entries_audio_v0.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
  src/helm/benchmark/static/schema_audio_v0.yaml
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/clients/openai_client.py
  src/helm/common/audio_utils.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

update: mental health schema
  src/helm/benchmark/static/schema_medical.yaml
Due: none

Fix omni math annotators
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/metrics/omni_math_metrics.py
Due: run-pre-commit-python

Lint
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Handle content filtering from Azure OpenAI (#3319)
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

show win rates
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/benchmark/static/schema_audio_v0.yaml
Due: none

Show win rate for audio (#3320)
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/benchmark/static/schema_audio_v0.yaml
Due: none

Add Financial Phrasebank scenario (#3302)
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/financial_phrasebank_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

add DeepSeek Coder 7B Instruct
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Handle Azure OpenAI content filter (second try)
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python
