Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Fix build
  helm-frontend/tailwind.config.js
  helm-frontend/vite.config.ts
Due: run-pre-commit-frontend

Fix tests
  helm-frontend/src/components/AccessBadge/AccessBadge.test.tsx
  helm-frontend/src/components/Indicator/Indicator.test.tsx
Due: run-pre-commit-frontend

Adjust Vite manual bundles
  helm-frontend/vite.config.ts
Due: run-pre-commit-frontend

Adjust Vite manual bundles (#4042)
  helm-frontend/vite.config.ts
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-BdRJBQ1-.css
  src/helm/benchmark/static_build/assets/index-BnwHD_OD.js
  src/helm/benchmark/static_build/assets/index-DF-7ospl.js
  src/helm/benchmark/static_build/assets/index-R8QkG8fS.css
  src/helm/benchmark/static_build/assets/react-BhnNyHuP.js
  src/helm/benchmark/static_build/assets/react-BteFIppM.js
  src/helm/benchmark/static_build/assets/react-markdown-kIsf0iIR.js
  src/helm/benchmark/static_build/assets/recharts-Bmm96ixf.js
  src/helm/benchmark/static_build/assets/recharts-DxuQtTOs.js
  src/helm/benchmark/static_build/assets/tremor-DR4fE7ko.js
  src/helm/benchmark/static_build/assets/tremor-DyW3D1Ox.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Medhelm models (#4018)
  src/helm/benchmark/annotation/ehr_sql_annotator.py
  src/helm/benchmark/metrics/summac/model_summac.py
  src/helm/benchmark/metrics/summarization_metrics.py
  src/helm/benchmark/presentation/run_entries_medhelm_gated.conf
  src/helm/benchmark/presentation/run_entries_medhelm_private_stanford.conf
  src/helm/benchmark/presentation/run_entries_medhelm_public.conf
  src/helm/benchmark/static/schema_medhelm.yaml
  src/helm/clients/stanfordhealthcare_http_model_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Fix broken boolq url (#4039)
  src/helm/benchmark/scenarios/boolq_scenario.py
Due: run-pre-commit-python

Release v0.5.12
  CHANGELOG.md
  pyproject.toml
Due: none

Release v0.5.12 (#4043)
  CHANGELOG.md
  pyproject.toml
Due: none

Update requirements
  uv.lock
Due: none

Add --export-path arg to helm-server for exporting a static website
  src/helm/benchmark/server.py
Due: run-pre-commit-python

Minor cleanup
  src/helm/benchmark/server.py
Due: run-pre-commit-python

Add --export-path arg to helm-server for exporting a static website (#4047)
  src/helm/benchmark/server.py
Due: run-pre-commit-python

Add validation for schema YAML files (#2528)
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/presentation/test_schema.py
  src/helm/benchmark/presentation/test_schema_validation.py
Due: run-pre-commit-python

Upgrade urllib3 and starlette
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

Also upgrade protobuf
  uv.lock
Due: none

Fixes
  constraints.txt
  requirements.txt
Due: none

Upgrade urllib3 and protobuf (#4050)
  constraints.txt
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

Use urlretrieve instead of wget in ensure_file_downloaded by default
  src/helm/common/general.py
Due: run-pre-commit-python

Use Python standard library for decompression
  src/helm/benchmark/scenarios/spider_scenario.py
  src/helm/benchmark/scenarios/the_pile_scenario.py
  src/helm/common/general.py
Due: run-pre-commit-python

Do not set trust_remote_code=True by default in HuggingFaceClient
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Upgrade mkdocstrings
  docs/requirements.txt
Due: none

Use Python standard library for decompression (#4051)
  src/helm/benchmark/scenarios/spider_scenario.py
  src/helm/benchmark/scenarios/the_pile_scenario.py
  src/helm/common/general.py
Due: run-pre-commit-python

Use Python standard library by default for downloading files (#4052)
  src/helm/common/general.py
Due: run-pre-commit-python

Upgrade mkdocstrings (#4053)
  docs/requirements.txt
Due: none

Upgrade flake8 and resolve lint issues
  .flake8
  pre-commit.sh
  pyproject.toml
  scripts/cache/fix_together_cache.py
  scripts/cache/remove_together_api_entries.py
  scripts/compute_request_limits.py
  src/helm/benchmark/adaptation/adapters/in_context_learning_adapter.py
  src/helm/benchmark/annotation/image2struct/webpage_compiler_annotator.py
  src/helm/benchmark/scenarios/big_bench_scenario.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/wmt_14_scenario.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/clients/megatron_client.py
  src/helm/clients/stanfordhealthcare_http_model_client.py
  src/helm/proxy/services/test_service.py
  src/helm/tokenizers/caching_tokenizer.py
  src/helm/tokenizers/huggingface_tokenizer.py
  uv.lock
Due: run-pre-commit-python

Upgrade flake8 and resolve lint issues (#4055)
  .flake8
  pre-commit.sh
  pyproject.toml
  scripts/cache/fix_together_cache.py
  scripts/cache/remove_together_api_entries.py
  scripts/compute_request_limits.py
  src/helm/benchmark/adaptation/adapters/in_context_learning_adapter.py
  src/helm/benchmark/annotation/image2struct/webpage_compiler_annotator.py
  src/helm/benchmark/scenarios/big_bench_scenario.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/wmt_14_scenario.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/clients/megatron_client.py
  src/helm/clients/stanfordhealthcare_http_model_client.py
  src/helm/proxy/services/test_service.py
  src/helm/tokenizers/caching_tokenizer.py
  src/helm/tokenizers/huggingface_tokenizer.py
  uv.lock
Due: run-pre-commit-python

Do not set trust_remote_code=True by default in HuggingFaceClient (#4054)
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Update requirements
  requirements.txt
Due: none

Address reviewer feedback on schema validation
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Add validation for schema YAML files (#2528) (#4049)
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/presentation/test_schema.py
  src/helm/benchmark/presentation/test_schema_validation.py
Due: run-pre-commit-python

Upgrade mkdocs
  docs/requirements.txt
Due: none

Upgrade mkdocs (#4059)
  docs/requirements.txt
Due: none

Upgrade mkdocs to 1.6.0
  docs/requirements.txt
Due: none

Upgrade mkdocs to 1.6.0 (#4060)
  docs/requirements.txt
Due: none

Add experimental arabic_content_generation scenario
  src/helm/benchmark/annotation/arabic_content_generation_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_relative_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_similarity_annotator.py
  src/helm/benchmark/run_specs/arabic_enterprise_run_specs.py
Due: run-pre-commit-python

Add experimental arabic_content_generation scenario (#4061)
  src/helm/benchmark/annotation/arabic_content_generation_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_relative_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_similarity_annotator.py
  src/helm/benchmark/run_specs/arabic_enterprise_run_specs.py
Due: run-pre-commit-python

Improve logs in ensure_file_downloaded
  src/helm/common/general.py
Due: run-pre-commit-python

Add ECH0 Unified 14B model metadata
  src/helm/config/model_metadata.yaml
Due: none

Add ECH0 Unified 14B model deployment
  src/helm/config/model_deployments.yaml
Due: none

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
