Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Add run expander for instructions for Arabic MCQA scenarios (#3833)
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Added metrics
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Add metadata to MedHELM scenarios
  src/helm/benchmark/scenarios/aci_bench_scenario.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/headqa_scenario.py
  src/helm/benchmark/scenarios/med_dialog_scenario.py
  src/helm/benchmark/scenarios/med_mcqa_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/medbullets_scenario.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/scenarios/medec_scenario.py
  src/helm/benchmark/scenarios/medhallu_scenario.py
  src/helm/benchmark/scenarios/medi_qa_scenario.py
  src/helm/benchmark/scenarios/medication_qa_scenario.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.py
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/pubmed_qa_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
Due: run-pre-commit-python

Reduced yaml files
  src/helm/benchmark/presentation/run_entries_medhelm_gated.conf
  src/helm/benchmark/presentation/run_entries_medhelm_private_stanford.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.yaml
  src/helm/benchmark/scenarios/dischargeme_scenario.yaml
  src/helm/benchmark/scenarios/med_dialog_scenario.yaml
  src/helm/benchmark/scenarios/medalign_scenario.yaml
  src/helm/benchmark/scenarios/medhelm/judges.yaml
  src/helm/benchmark/scenarios/medi_qa_scenario.yaml
  src/helm/benchmark/scenarios/medication_qa_scenario.yaml
  src/helm/benchmark/scenarios/mental_health_scenario.yaml
  src/helm/benchmark/scenarios/mimic_bhc_scenario.yaml
  src/helm/benchmark/scenarios/mimic_rrs_scenario.yaml
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.yaml
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.yaml
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.yaml
Due: run-pre-commit-python

Fix lint
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Update names
  src/helm/benchmark/static/schema_slp.yaml
Due: none

Update SLPHelm scenarios
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_transcription_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
Due: run-pre-commit-python

cleanup
  requirements.txt
  src/helm/benchmark/static/schema_slp.yaml
Due: none

revert change
  requirements.txt
Due: none

Upgrade requirements.txt
  requirements.txt
Due: none

Add metadata to MedHELM scenarios (#3834)
  src/helm/benchmark/scenarios/aci_bench_scenario.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/headqa_scenario.py
  src/helm/benchmark/scenarios/med_dialog_scenario.py
  src/helm/benchmark/scenarios/med_mcqa_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/medbullets_scenario.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/scenarios/medec_scenario.py
  src/helm/benchmark/scenarios/medhallu_scenario.py
  src/helm/benchmark/scenarios/medi_qa_scenario.py
  src/helm/benchmark/scenarios/medication_qa_scenario.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.py
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/pubmed_qa_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
Due: run-pre-commit-python

Handle float references in ArabicMMLU
  src/helm/benchmark/scenarios/arabic_mmlu_scenario.py
Due: run-pre-commit-python

Rearrange scenario order for Arabic leaderboard
  src/helm/benchmark/static/schema_arabic.yaml
Due: none

Add --auto-generate-schema flag to helm-summarize
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Updated BenchmarkConfig
  src/helm/benchmark/run_specs/medhelm/__init__.py
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhelm_scenario.py
Due: run-pre-commit-python

Reformatted new files
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Add scenario metadata for CLEVA
  src/helm/benchmark/scenarios/cleva_scenario.py
Due: run-pre-commit-python

Add --auto-generate-schema flag to helm-summarize (#3839)
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Updated metrics
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
Due: run-pre-commit-python

Fix logic error for helm-summarize auto-generate-schema
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Fix logic error for helm-summarize auto-generate-schema (#3842)
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Updated MedHELM extras
  docs/medhelm.md
Due: none

Added init file
  src/helm/benchmark/scenarios/medhelm/__init__.py
Due: run-pre-commit-python

Add scenario metadata for CLEVA (#3841)
  src/helm/benchmark/scenarios/cleva_scenario.py
Due: run-pre-commit-python

Add metadata to DecodingTrust scenarios
  src/helm/benchmark/scenarios/decodingtrust_adv_demonstration_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_adv_robustness_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_fairness_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_machine_ethics_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_ood_robustness_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_privacy_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_stereotype_bias_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_toxicity_prompts_scenario.py
Due: run-pre-commit-python

Updated scenario args
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhelm_scenario.py
Due: run-pre-commit-python

Add scenario metadata to DecodingTrust (#3843)
  src/helm/benchmark/scenarios/decodingtrust_adv_demonstration_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_adv_robustness_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_fairness_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_machine_ethics_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_ood_robustness_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_privacy_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_stereotype_bias_scenario.py
  src/helm/benchmark/scenarios/decodingtrust_toxicity_prompts_scenario.py
Due: run-pre-commit-python

Handle references with float values in ArabicMMLU (#3838)
  src/helm/benchmark/scenarios/arabic_mmlu_scenario.py
Due: run-pre-commit-python

Rearrange scenario order for Arabic leaderboard (#3837)
  src/helm/benchmark/static/schema_arabic.yaml
Due: none

MedHELM extract jury (#3812)
  MANIFEST.in
  src/helm/benchmark/annotation/aci_bench_annotator.py
  src/helm/benchmark/annotation/chw_care_plan_annotator.py
  src/helm/benchmark/annotation/dischargeme_annotator.py
  src/helm/benchmark/annotation/med_dialog_annotator.py
  src/helm/benchmark/annotation/medalign_annotator.py
  src/helm/benchmark/annotation/medi_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/mental_health_annotator.py
  src/helm/benchmark/annotation/mimic_bhc_annotator.py
  src/helm/benchmark/annotation/mimic_rrs_annotator.py
  src/helm/benchmark/annotation/mtsamples_procedures_annotator.py
  src/helm/benchmark/annotation/mtsamples_replicate_annotator.py
  src/helm/benchmark/annotation/starr_patient_instructions_annotator.py
  src/helm/benchmark/metrics/aci_bench_metrics.py
  src/helm/benchmark/metrics/chw_care_plan_metrics.py
  src/helm/benchmark/metrics/dischargeme_metrics.py
  src/helm/benchmark/metrics/med_dialog_metrics.py
  src/helm/benchmark/metrics/medalign_metrics.py
  src/helm/benchmark/metrics/medi_qa_metrics.py
  src/helm/benchmark/metrics/medication_qa_metrics.py
  src/helm/benchmark/metrics/mental_health_metrics.py
  src/helm/benchmark/metrics/mimic_bhc_metrics.py
  src/helm/benchmark/metrics/mimic_rrs_metrics.py
  src/helm/benchmark/metrics/mtsamples_procedures_metrics.py
  src/helm/benchmark/metrics/mtsamples_replicate_metrics.py
  src/helm/benchmark/metrics/starr_patient_instructions_metrics.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhelm/__init__.py
  src/helm/benchmark/scenarios/medhelm/judges.yaml
Due: run-pre-commit-python

Medhelm docs update (#3836)
  docs/medhelm.md
Due: none

Updated MedHELMScenario metadata
  src/helm/benchmark/scenarios/medhelm_scenario.py
Due: run-pre-commit-python

Fix invalid sort column index error in leaderboard frontend
  helm-frontend/public/config.js
  helm-frontend/src/components/LeaderboardTable.tsx
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend

Revert config
  helm-frontend/public/config.js
Due: run-pre-commit-frontend

Fix invalid sort column index error in leaderboard frontend (#3845)
  helm-frontend/src/components/LeaderboardTable.tsx
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-671a5e06.js
  src/helm/benchmark/static_build/assets/index-c0bce400.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

new scenario
  src/helm/benchmark/metrics/robo_reward_bench_metrics.py
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
  src/helm/benchmark/static/schema_video.yaml
Due: run-pre-commit-python

new scenario
  src/helm/benchmark/static/schema_video.yaml
Due: none

new scenario
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
Due: run-pre-commit-python
