Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Fixes
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/openai_mrcr_scenario.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/run_specs/long_context_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
Due: run-pre-commit-python

Fix typos
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/openai_mrcr_scenario.py
Due: run-pre-commit-python

Add OpenAI-MRCR scenario (#3653)
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/openai_mrcr_scenario.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Update long context landing
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Update long context landing page (#3654)
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

More cleanup
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
  src/helm/benchmark/scenarios/infinite_bench_en_qa_scenario.py
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Clean up long context leaderboard
  src/helm/benchmark/presentation/run_entries_long_context.conf
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_en_qa_scenario.py
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
  src/helm/benchmark/scenarios/ruler_qa_scenario_helper.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Fix tests
  src/helm/benchmark/scenarios/test_infinite_bench_en_qa_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_sum_scenario.py
Due: run-pre-commit-python

Type fix
  src/helm/benchmark/run_specs/long_context_run_specs.py
Due: run-pre-commit-python

Add Amazon Nova Premier model
  src/helm/clients/bedrock_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Fixes
  src/helm/clients/bedrock_client.py
Due: run-pre-commit-python

Fix test
  src/helm/benchmark/presentation/run_entries_long_context.conf
  src/helm/benchmark/scenarios/test_infinite_bench_sum_scenario.py
Due: run-pre-commit-python

Change default param
  src/helm/benchmark/run_specs/long_context_run_specs.py
Due: run-pre-commit-python

Add Marin 8B Instruct
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/huggingface_tokenizer.py
Due: run-pre-commit-python

Long context leaderboard cleanup (#3655)
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
  src/helm/benchmark/presentation/run_entries_long_context.conf
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_en_qa_scenario.py
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
  src/helm/benchmark/scenarios/ruler_qa_scenario_helper.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
  src/helm/benchmark/scenarios/test_infinite_bench_en_qa_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_sum_scenario.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Add Amazon Nova Premier model (#3656)
  src/helm/clients/bedrock_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Rename InfiniteBench Sum to InfiniteBench En.Sum
  helm-frontend/src/components/Landing/LongContextLanding.tsx
  src/helm/benchmark/presentation/run_entries_long_context.conf
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_en_sum_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_en_sum_scenario.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Rename InfiniteBench Sum to InfiniteBench En.Sum (#3657)
  helm-frontend/src/components/Landing/LongContextLanding.tsx
  src/helm/benchmark/presentation/run_entries_long_context.conf
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_en_sum_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_en_sum_scenario.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-2b8b9628.css
  src/helm/benchmark/static_build/assets/index-84bb5365.js
  src/helm/benchmark/static_build/assets/index-acfe6db2.js
  src/helm/benchmark/static_build/assets/index-b9779128.css
  src/helm/benchmark/static_build/assets/medhelm-overview-eac29843.png
  src/helm/benchmark/static_build/assets/medhelm-v1-overview-3ddfcd65.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Use metrics from paper for long context scenarios
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Use metrics from paper for long context scenarios (#3659)
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Make SHC models non-default
  src/helm/config/model_deployments.yaml
Due: none

Make SHC models non-default (#3660)
  src/helm/config/model_deployments.yaml
Due: none

Add missing ruler_qa_metrics file
  src/helm/benchmark/metrics/ruler_qa_metrics.py
Due: run-pre-commit-python

Add missing ruler_qa_metrics file (#3661)
  src/helm/benchmark/metrics/ruler_qa_metrics.py
Due: run-pre-commit-python

Add Marin 8B Instruct (#3658)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/huggingface_tokenizer.py
Due: run-pre-commit-python

refactor: clean code by removing debug prints
  src/helm/benchmark/judge_llm.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

refactor judge_llm.py to pass ./pre-commit.sh
  src/helm/benchmark/judge_llm.py
Due: run-pre-commit-python

refactor: standardizes code according to HELM standards.
  helm-frontend/src/components/LLMJudgeDisplay.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

fix: resolve mypy typing issues in run.py and general.py
  src/helm/benchmark/run.py
  src/helm/common/general.py
Due: run-pre-commit-python

Fix typo in run spec name for infinite_bench_en_qa
  src/helm/benchmark/run_specs/long_context_run_specs.py
Due: run-pre-commit-python

Disable logging propagation
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python

resolve conflict
  setup.cfg
Due: none

Fix typo in run spec name for infinite_bench_en_qa (#3663)
  src/helm/benchmark/run_specs/long_context_run_specs.py
Due: run-pre-commit-python

Disable logging propagation (#3664)
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python

don't fix seed
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

tetrachoric
  scripts/tetrachoric.py
  src/helm/benchmark/presentation/run_display.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Factorize code based on HELM convention
  src/helm/benchmark/metrics/code_evaluation_metrics.py
  src/helm/benchmark/metrics/codeinsights_metric_specs.py
  src/helm/benchmark/metrics/correct_code_metrics.py
  src/helm/benchmark/presentation/run_entries_codeinsights.conf
  src/helm/benchmark/run_specs/correct_code_run_specs.py
  src/helm/benchmark/run_specs/mistake_code_run_specs.py
  src/helm/benchmark/run_specs/student_run_specs.py
  src/helm/benchmark/scenarios/code_mistake_scenario.py
  src/helm/benchmark/scenarios/correct_code_scenario.py
  src/helm/benchmark/scenarios/student_coding_scenario.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
