Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Add Qwen3-Next 80B A3B Thinking model
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

fix: module error for "shc_privacy_med" and "shc_proxy_med" run specs
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Add ASR Classification Scenario metric
  src/helm/benchmark/metrics/ultra_suite_asr_classification_metrics.py
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_transcription_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
Due: run-pre-commit-python

Linting fixes
  src/helm/benchmark/metrics/ultra_suite_asr_classification_metrics.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_transcription_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
Due: run-pre-commit-python

Minor updates
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification_scenario.py
Due: run-pre-commit-python

cleanup
  src/helm/config/model_metadata.yaml
Due: none

resolve conflicts
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

video understanding gemini
  src/helm/config/model_metadata.yaml
Due: none

video understanding gemini
  src/helm/benchmark/run_specs/vlm_run_specs.py
Due: run-pre-commit-python

fix: correct spec run failures for shc_privacy_med and shc_proxy_med (#3876)
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

thinking tokens
  src/helm/benchmark/presentation/run_entries_video_understanding_thinking.conf
Due: none

Add Qwen3-Next 80B A3B Thinking model (#3875)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Updated QuickStart
  docs/medhelm.md
Due: none

Allow applying regular expression pattern before mapping output
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/presentation/run_display.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/presentation/run_display.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/presentation/run_display.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

thinking tokens
  src/helm/config/model_deployments.yaml
Due: none

Fix metric
  src/helm/benchmark/metrics/ultra_suite_asr_classification_metrics.py
Due: run-pre-commit-python

fix
  src/helm/benchmark/metrics/robo_reward_bench_metrics.py
Due: run-pre-commit-python

3B run
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

fractal
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/presentation/run_entries_video_understanding_thinking.conf
Due: none

Add Jais Family models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Fixes
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

undo device map auto
  src/helm/config/model_deployments.yaml
Due: none

Trust remote code in tokenizer
  src/helm/config/tokenizer_configs.yaml
Due: none

No trust_remote_code for tokenizer
  src/helm/config/tokenizer_configs.yaml
Due: none

7b run
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

Add quotes to pip install instructions
  src/helm/common/optional_dependencies.py
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Fix incorrect indent
  src/helm/config/tokenizer_configs.yaml
Due: none

Add herror() and hexception() to hierarchical_logger
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python

Add herror() and hexception() to hierarchical_logger.py (#3879)
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python

Add Jais Family models (#3878)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add quotes to pip install instructions (#3877)
  src/helm/common/optional_dependencies.py
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Add DeepSeek-R1-Distill-Llama-70B and DeepSeek-R1-Distill-Qwen-14B (#3873)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/air-overview-DpBbyagA.png
  src/helm/benchmark/static_build/assets/audio-table-Dn5NMMeJ.png
  src/helm/benchmark/static_build/assets/crfm-logo-Du4T1uWZ.png
  src/helm/benchmark/static_build/assets/heim-logo-BJtQlEbV.png
  src/helm/benchmark/static_build/assets/helm-logo-simple-DzOhNN41.png
  src/helm/benchmark/static_build/assets/helm-safety-COfndXuS.png
  src/helm/benchmark/static_build/assets/helmhero-D9TvmJsp.png
  src/helm/benchmark/static_build/assets/index-671a5e06.js
  src/helm/benchmark/static_build/assets/index-BB5JyDd3.js
  src/helm/benchmark/static_build/assets/index-oIeiQW2g.css
  src/helm/benchmark/static_build/assets/instruct-flowchart-CQIN4bVV.svg
  src/helm/benchmark/static_build/assets/instruct-graph-B4NER252.svg
  src/helm/benchmark/static_build/assets/medhelm-overview-CND0EIsy.png
  src/helm/benchmark/static_build/assets/medhelm-v1-overview-Cu2tphBB.png
  src/helm/benchmark/static_build/assets/overview-BwypNWnk.png
  src/helm/benchmark/static_build/assets/process-flow-DWDJC733.png
  src/helm/benchmark/static_build/assets/react-BteFIppM.js
  src/helm/benchmark/static_build/assets/react-f82877fd.js
  src/helm/benchmark/static_build/assets/recharts-4037aff0.js
  src/helm/benchmark/static_build/assets/recharts-DxuQtTOs.js
  src/helm/benchmark/static_build/assets/tremor-38a10867.js
  src/helm/benchmark/static_build/assets/tremor-DR4fE7ko.js
  src/helm/benchmark/static_build/assets/vhelm-aspects-NiDQofvP.png
  src/helm/benchmark/static_build/assets/vhelm-framework-NxJE4fdA.png
  src/helm/benchmark/static_build/assets/vhelm-model-ypCL5Yvq.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add Jais Adapted models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Set device_map to auto
  src/helm/config/model_deployments.yaml
Due: none

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
