Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Fix formatting
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
Due: run-pre-commit-frontend

update who/what/when
  src/helm/benchmark/static/schema_medical.yaml
Due: none

Add landing for MMLU-Winogrande-Afr
  helm-frontend/public/config.js
  helm-frontend/src/components/Landing/MMLUWinograndeAfrLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Revert Config
  helm-frontend/public/config.js
Due: run-pre-commit-frontend

adjust headqa prompt
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

Added deployments
  src/helm/config/model_deployments.yaml
Due: none

Add landing page for MMLU-Winogrande-Afr (#3357)
  helm-frontend/src/components/Landing/MMLUWinograndeAfrLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

update
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/speech_robust_bench_scenario.py
Due: run-pre-commit-python

fix format
  src/helm/benchmark/scenarios/audio_language/speech_robust_bench_scenario.py
Due: run-pre-commit-python

Add landing page for SEA-HELM
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add landing page for SEA-HELM (#3359)
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-6c4512c2.js
  src/helm/benchmark/static_build/assets/index-df4b844b.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add AMI, LibriSpeech audio scenarios and fix Speech Robust Bench audio scenario (#3355)
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ami_scenario.py
  src/helm/benchmark/scenarios/audio_language/librispeech_scenario.py
  src/helm/benchmark/scenarios/audio_language/speech_robust_bench_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

Fix empty output
  src/helm/benchmark/annotation/wildbench_annotator.py
Due: run-pre-commit-python

Add changes to frontend
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add lower_is_better flag
  src/helm/benchmark/static/schema_seahelm.yaml
Due: none

Voice Jailbreak Attacks
  setup.cfg
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/voice_jailbreak_attacks_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

run style checker
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

add check just in case
  setup.cfg
  src/helm/benchmark/scenarios/audio_language/voice_jailbreak_attacks_scenario.py
Due: run-pre-commit-python

add air bench foundation
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/air_bench_foundation_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

update clear prompt
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/clear_scenario.py
Due: run-pre-commit-python

Update MMLU-Winogrande-Afr Landing
  helm-frontend/src/components/Landing/MMLUWinograndeAfrLanding.tsx
Due: run-pre-commit-frontend

Update MMLU-Winogrande-Afr Landing (#3363)
  helm-frontend/src/components/Landing/MMLUWinograndeAfrLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-44e87b99.js
  src/helm/benchmark/static_build/assets/index-df4b844b.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add MMLU-Winogrande-Afr to projects list
  helm-frontend/project_metadata.json
Due: none

Add MMLU-Winogrande-Afr to projects list (#3365)
  helm-frontend/project_metadata.json
Due: none

VoiceJailbreakAttacksScenario (#3361)
  setup.cfg
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/voice_jailbreak_attacks_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

Add Air-Bench Foundation audio scenario for the knowledge aspect (#3362)
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/air_bench_foundation_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

Add Claude 3.7 model
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add ToRR frontend
  helm-frontend/src/components/Landing/ToRRLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add Claude 3.7 model (#3366)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Change metrics for tables benchmark
  src/helm/benchmark/static/schema_tables.yaml
Due: none

Add ToRR landing page (#3367)
  helm-frontend/src/components/Landing/ToRRLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Release AIR-Bench v1.5.0
  helm-frontend/project_metadata.json
Due: none

Change metrics for tables benchmark (#3368)
  src/helm/benchmark/static/schema_tables.yaml
Due: none

Release AIR-Bench v1.5.0 (#3370)
  helm-frontend/project_metadata.json
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/index-44e87b99.js
  src/helm/benchmark/static_build/assets/index-f1226f7b.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Rename configuration files for tables benchmark from tables to torr
  src/helm/benchmark/presentation/run_entries_torr.conf
  src/helm/benchmark/static/schema_torr.yaml
Due: none

Fix empty output annotation in WildBench annotator (#3360)
  src/helm/benchmark/annotation/wildbench_annotator.py
Due: run-pre-commit-python

Spider execution accuracy
  src/helm/benchmark/annotation/bird_sql_annotator.py
  src/helm/benchmark/annotation/spider_annotator.py
  src/helm/benchmark/metrics/bird_sql_metrics.py
  src/helm/benchmark/metrics/spider_metrics.py
  src/helm/benchmark/run_specs/sql_run_specs.py
  src/helm/benchmark/scenarios/spider_scenario.py
Due: run-pre-commit-python
