Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Adding the IFEval scenario (#3122)
  setup.cfg
  src/helm/benchmark/metrics/ifeval/__init__.py
  src/helm/benchmark/metrics/ifeval/instructions.py
  src/helm/benchmark/metrics/ifeval/instructions_registry.py
  src/helm/benchmark/metrics/ifeval/instructions_registry.pyi
  src/helm/benchmark/metrics/ifeval/instructions_util.py
  src/helm/benchmark/metrics/ifeval_metrics.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/scenarios/ifeval_scenario.py
  src/helm/benchmark/scenarios/scenario.py
  src/helm/benchmark/scenarios/test_ifeval_scenario.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

fix fleurs and add additional dependencies
  setup.cfg
  src/helm/benchmark/scenarios/audio_language/fleurs_scenario.py
Due: run-pre-commit-python

adding wildbench
  src/helm/benchmark/annotation/wildbench/eval_template.pairwise.v2.md
  src/helm/benchmark/annotation/wildbench/eval_template.score.v2.md
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/metrics/wildbench_metrics.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/scenarios/test_wildbench_scenario.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

satisfy type checker
  src/helm/benchmark/scenarios/test_wildbench_scenario.py
Due: run-pre-commit-python

add more specs
  src/helm/benchmark/presentation/run_entries_speech.conf
Due: none

fix mandarin
  src/helm/benchmark/presentation/run_entries_speech.conf
  src/helm/benchmark/scenarios/audio_language/fleurs_scenario.py
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
Due: run-pre-commit-python

fix common voice
  src/helm/benchmark/scenarios/audio_language/common_voice_15_scenario.py
Due: run-pre-commit-python

fix common voice
  src/helm/benchmark/scenarios/audio_language/fleurs_scenario.py
Due: run-pre-commit-python

adding adapter to use message on model inferencing
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/adaptation/adapters/adapter_factory.py
  src/helm/benchmark/adaptation/adapters/chat_adapter.py
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
Due: run-pre-commit-python

minor fix
  src/helm/benchmark/adaptation/adapters/adapter_factory.py
Due: run-pre-commit-python

formatting
  src/helm/benchmark/adaptation/adapters/chat_adapter.py
Due: run-pre-commit-python

aligning with original repo
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
Due: run-pre-commit-python

formatting
  src/helm/benchmark/scenarios/wildbench_scenario.py
Due: run-pre-commit-python

minor fix
  src/helm/benchmark/adaptation/adapters/chat_adapter.py
Due: run-pre-commit-python

Speech specs + fix FLEURS + add additional audio dependencies (#3151)
  setup.cfg
  src/helm/benchmark/presentation/run_entries_speech.conf
  src/helm/benchmark/scenarios/audio_language/common_voice_15_scenario.py
  src/helm/benchmark/scenarios/audio_language/fleurs_scenario.py
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
Due: run-pre-commit-python

Add Granite 3.0 2B instruct from IBM
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Granite 3.0 8B base from IBM
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Granite 3.0 3B a800m instruct
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Granite 3.0 3B a800m base
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Legal Contract Summarization scenario (#3131)
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/legal_contract_summarization_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Add Diva Llama model (#3148)
  src/helm/clients/audio_language/__init__.py
  src/helm/clients/audio_language/diva_llama_client.py
  src/helm/common/audio_utils.py
  src/helm/common/media_object.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Add documention on how to edit documentation
  docs/editing_documentation.md
  mkdocs.yml
Due: none

Fixes
  docs/editing_documentation.md
Due: none

Minor grammar edit
  docs/editing_documentation.md
Due: none

Remove OpenVino support
  docs/huggingface_models.md
  requirements.txt
  setup.cfg
  src/helm/benchmark/huggingface_registration.py
  src/helm/benchmark/run.py
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Also remove integration tests
  .github/workflows/test-daily-integration.yml
Due: none

Refactor Instances component out of Run component
  helm-frontend/src/components/Instances.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Fixes
  helm-frontend/src/components/Instances.tsx
Due: run-pre-commit-frontend

Lint again
  helm-frontend/src/components/Instances.tsx
Due: run-pre-commit-frontend

Remove OpenVino support (#3153)
  .github/workflows/test-daily-integration.yml
  docs/huggingface_models.md
  requirements.txt
  setup.cfg
  src/helm/benchmark/huggingface_registration.py
  src/helm/benchmark/run.py
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Refactor Instances component out of Run component (#3154)
  helm-frontend/src/components/Instances.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Refactor RunMetrics component outside of Run component
  helm-frontend/src/components/RunMetrics.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

More lint
  helm-frontend/src/components/RunMetrics.tsx
Due: run-pre-commit-frontend

Add documention on how to edit documentation (#3152)
  docs/editing_documentation.md
  mkdocs.yml
Due: none

Refactor RunMetrics component out of Run component (#3156)
  helm-frontend/src/components/RunMetrics.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Review fixes
  src/helm/benchmark/scenarios/sumosum_scenario.py
Due: run-pre-commit-python

Fixes
  setup.cfg
Due: none

Fix schema
  src/helm/benchmark/static/schema_enterprise.yaml
Due: none

check schema
  src/helm/benchmark/static/schema_speech.yaml
Due: none
