Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Fixes
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

fix: update Executor attribute from service to context for compatibility with latest HELM
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

fix: /prompts folder now icluded on package when installed
  MANIFEST.in
  src/helm/benchmark/prompts/README.md
  src/helm/benchmark/prompts/default_prompt.txt
  src/helm/benchmark/prompts/other_prompt.txt
Due: none

Speech Language Pathology - Additional Scenarios (#3558)
  scripts/fact_completion/utils.py
  scripts/parade/dataset_creation.py
  src/helm/benchmark/metrics/bias_word_lists.py
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
  src/helm/clients/image_generation/dalle_mini/model/configuration.py
  src/helm/clients/image_generation/dalle_mini/model/modeling.py
  src/helm/clients/image_generation/dalle_mini/model/processor.py
  src/helm/clients/image_generation/dalle_mini/model/tokenizer.py
  src/helm/proxy/critique/mechanical_turk_utils.py
Due: run-pre-commit-python

MELT: Fix schema for ViLLM
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/static/schema_melt.yaml
Due: run-pre-commit-python

pass required arguments to Runner constructor in reeval and multi-gpu runners
  src/helm/benchmark/multi_gpu_runner.py
  src/helm/benchmark/reeval_runner.py
Due: run-pre-commit-python

refactor (contamination package): Changed generic typing and documentation pattern
  src/helm/contamination/contamination_evaluator.py
  src/helm/contamination/ts_guessing_question_based.py
  src/helm/contamination/ts_guessing_question_multichoice.py
  src/helm/contamination/utils_contamination.py
Due: run-pre-commit-python

Add extended thinking to Claude 3.7 and Claude 4 (#3622)
  setup.cfg
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Add Claude variants with 20k thinking tokens
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add Claude variants with 20k thinking tokens (#3623)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

fix: change constructor args
  src/helm/benchmark/multi_gpu_runner.py
  src/helm/benchmark/reeval_runner.py
Due: run-pre-commit-python

update codebase to match HELM refactoring guidelines
  src/helm/benchmark/judge_llm.py
  src/helm/benchmark/run.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

feat: add comments to explain the functions
  src/helm/benchmark/judge_llm.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

refactor: remove prints
  src/helm/benchmark/judge_llm.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

Support streaming in Anthropic client
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Support streaming in Anthropic client (#3624)
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Updated source file for RaceBasedMedScenario
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
Due: run-pre-commit-python

Updated source file for RaceBasedMedScenario (#3625)
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
Due: run-pre-commit-python

Move all entries to run_entries_medhelm.conf
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/presentation/run_entries_medhelm_reasoning.conf
Due: none

Divided MedHELM run entries into public/gated/private
  src/helm/benchmark/presentation/run_entries_medhelm_gated.conf
  src/helm/benchmark/presentation/run_entries_medhelm_private_stanford.conf
  src/helm/benchmark/presentation/run_entries_medhelm_public.conf
Due: none

Updated MedHELM documentation
  docs/medhelm.md
  docs/reproducing_leaderboards.md
Due: none

added my main working python files: student_run_specs and student_coding_scenario.py
  CITATION.bib
  src/helm/benchmark/run_specs/student_run_specs.py
  src/helm/benchmark/scenarios/student_coding_scenario.py
Due: run-pre-commit-python

Init
  docs/reproducing_leaderboards.md
  helm-frontend/project_metadata.json
  src/helm/benchmark/presentation/run_entries_slphelm.conf
  src/helm/benchmark/static/schema_slphelm.yaml
Due: none

Add component
  helm-frontend/src/components/Landing/SLPHelmLanding.tsx
Due: run-pre-commit-frontend

Update home
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add schema
  src/helm/benchmark/static/schema_slphelm.yaml
Due: none

Add entries
  src/helm/benchmark/presentation/run_entries_slphelm.conf
Due: none

Lint
  helm-frontend/src/components/Landing/SLPHelmLanding.tsx
Due: run-pre-commit-frontend

Improved documentation
  docs/medhelm.md
Due: none

Make a snapshot of the current MedHELM landing for v1.0.0
  helm-frontend/src/assets/medhelm/medhelm-v1-overview.png
  helm-frontend/src/components/Landing/MedHELMV1Landing.tsx
Due: run-pre-commit-frontend

Make a snapshot of the current MedHELM landing for v1.0.0 (#3628)
  helm-frontend/src/assets/medhelm/medhelm-v1-overview.png
  helm-frontend/src/components/Landing/MedHELMV1Landing.tsx
Due: run-pre-commit-frontend

Add new MedHELM landing page
  helm-frontend/src/assets/medhelm/medhelm-overview.png
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add new MedHELM landing page (#3629)
  helm-frontend/src/assets/medhelm/medhelm-overview.png
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add a scenario for Vietnamese cultural alignment with WVS data
  src/helm/benchmark/run_specs/viet_wvs_run_spec.py
  src/helm/benchmark/scenarios/viet_wvs_scenario.py
Due: run-pre-commit-python

Create helm_scenario1_testing_code.py
  helm_scenario1_testing_code.py
Due: run-pre-commit-python

Removed hard-coded paths to local files
  src/helm/benchmark/presentation/run_entries_medhelm_gated.conf
  src/helm/benchmark/presentation/run_entries_medhelm_private_stanford.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario_helper.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
  src/helm/common/general.py
Due: run-pre-commit-python

Fix lint
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
Due: run-pre-commit-python

Cleaned EHRSHOT code
  src/helm/benchmark/scenarios/ehrshot_scenario.py
Due: run-pre-commit-python

Fix lint
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
Due: run-pre-commit-python
