Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

formatting
  scripts/decrypt_scenario_states.py
  scripts/encrypt_scenario_states.py
Due: run-pre-commit-python

satisfying type checker
  scripts/decrypt_scenario_states.py
Due: run-pre-commit-python

fixed a contributor name mistake, split the list into two parts.
  docs/enterprise_benchmark.md
Due: none

adding schema file
  src/helm/benchmark/static/schema_tweetsentbr.yaml
Due: none

Release Lite and MMLU v1.12.0
  helm-frontend/project_metadata.json
Due: none

Release Lite and MMLU v1.12.0 (#3217)
  helm-frontend/project_metadata.json
Due: none

Revert Lite to v1.11.0
  helm-frontend/project_metadata.json
Due: none

Revert Lite to v1.11.0 (#3218)
  helm-frontend/project_metadata.json
Due: none

running pre-commit
  src/helm/benchmark/run_specs/tweetsentbr_run_specs.py
  src/helm/benchmark/scenarios/test_tweetsentbr_scenario.py
  src/helm/benchmark/scenarios/tweetsentbr_scenario.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/run_specs/tweetsentbr_run_specs.py
  src/helm/benchmark/scenarios/enem_challenge_scenario.py
  src/helm/benchmark/scenarios/test_tweetsentbr_scenario.py
  src/helm/benchmark/scenarios/tweetsentbr_scenario.py
Due: run-pre-commit-python

Pre-commit
  src/helm/benchmark/scenarios/tweetsentbr_scenario.py
Due: run-pre-commit-python

Re-release Lite v1.12.0
  helm-frontend/project_metadata.json
Due: none

Re-release Lite v1.12.0 (#3220)
  helm-frontend/project_metadata.json
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/index-2d9bbc7a.js
  src/helm/benchmark/static_build/assets/index-927fd7a4.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Example scripts for AutoClient and ServerService make_request usage
  scripts/examples/auto_client_usage.py
  scripts/examples/server_service_usage.py
  src/helm/benchmark/static/schema_tables.yaml
Due: run-pre-commit-python

Fix schema_tables.yaml
  src/helm/benchmark/static/schema_tables.yaml
Due: none

Undo stray change
  src/helm/benchmark/static/schema_tables.yaml
Due: none

Example scripts for AutoClient and ServerService make_request usage (#3221)
  scripts/examples/auto_client_usage.py
  scripts/examples/server_service_usage.py
Due: run-pre-commit-python

Add CzechBankQA
  src/helm/benchmark/annotation/czech_bank_qa_annotator.py
  src/helm/benchmark/metrics/czech_bank_qa_metrics.py
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/czech_bank_qa_scenario.py
  src/helm/benchmark/scenarios/test_czech_bank_qa_scenario.py
  src/helm/benchmark/static/schema_czech_bank.yaml
Due: run-pre-commit-python

Fixes?
  src/helm/benchmark/annotation/czech_bank_qa_annotator.py
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/czech_bank_qa_scenario.py
  src/helm/benchmark/scenarios/test_czech_bank_qa_scenario.py
Due: run-pre-commit-python

Fix
  src/helm/benchmark/run_specs/experimental_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/metrics/czech_bank_qa_metrics.py
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/czech_bank_qa_scenario.py
Due: run-pre-commit-python

Add experimental CzechBankQA scenario (#3222)
  src/helm/benchmark/annotation/czech_bank_qa_annotator.py
  src/helm/benchmark/metrics/czech_bank_qa_metrics.py
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/czech_bank_qa_scenario.py
  src/helm/benchmark/scenarios/test_czech_bank_qa_scenario.py
  src/helm/benchmark/static/schema_czech_bank.yaml
Due: run-pre-commit-python

Set max_tokens to 512 for Unitxt
  src/helm/benchmark/run_specs/unitxt_run_specs.py
Due: run-pre-commit-python

Set stop sequences to empty
  src/helm/benchmark/run_specs/unitxt_run_specs.py
Due: run-pre-commit-python

Make boolean arguments for run spec functions case-insensitive
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Set max_tokens to 512 and stop_sequences to empty list for Unitxt (#3223)
  src/helm/benchmark/run_specs/unitxt_run_specs.py
Due: run-pre-commit-python

Make boolean arguments for run spec functions case-insensitive (#3224)
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Enterprise benchmark README (#3211)
  docs/enterprise_benchmark.md
  docs/helm-eb-climate-2024.png
  docs/helm-eb-cybersecurity-2024.png
  docs/helm-eb-finance-2024.png
  docs/helm-eb-legal-2024.png
Due: none

feat: vqa rad scenario
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/vqa_rad_scenario.py
Due: run-pre-commit-python

Added medi_qa scenario
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/scenarios/medi_qa_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

Fixes to HELM capabilities
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

Add run entries for HELM capabilities
  src/helm/benchmark/presentation/run_entries_capabilities.conf
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Fix
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Fixes to HELM capabilities (#3225)
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

Add run entries for HELM capabilities (#3226)
  src/helm/benchmark/presentation/run_entries_capabilities.conf
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Add CzechBankQA
  src/helm/benchmark/annotation/czech_bank_qa_annotator.py
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/czech_bank_qa_scenario.py
  src/helm/benchmark/scenarios/test_czech_bank_qa_scenario.py
Due: run-pre-commit-python

added openai/o1-2024-12-17 and openai/gpt-4o-2024-11-20
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add IBM logo
  helm-frontend/src/components/Landing/HomeLanding.tsx
  helm-frontend/src/components/Landing/LiteLanding.tsx
Due: run-pre-commit-frontend

Add IBM logo to partners (#3229)
  helm-frontend/src/components/Landing/HomeLanding.tsx
  helm-frontend/src/components/Landing/LiteLanding.tsx
Due: run-pre-commit-frontend
