Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Add messages to instance input and use it in WildBench
  src/helm/benchmark/adaptation/adapters/chat_adapter.py
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/scenarios/scenario.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
Due: run-pre-commit-python

New SHC datasets and description update
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
Due: run-pre-commit-python

Fix input
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
Due: run-pre-commit-python

Display instances extra_data in frontend
  helm-frontend/src/components/ExtraDataDisplay.tsx
  helm-frontend/src/components/InstanceData.tsx
  helm-frontend/src/types/Instance.ts
Due: run-pre-commit-frontend

Add messages to instance input and use this in WildBench (#3339)
  src/helm/benchmark/adaptation/adapters/chat_adapter.py
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/scenarios/scenario.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
Due: run-pre-commit-python

Fix multiple annotators for OmniMATH (#3322)
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/metrics/omni_math_metrics.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/annotation/wildbench_annotator.py
Due: run-pre-commit-python

Fixes
  helm-frontend/src/types/Instance.ts
Due: run-pre-commit-frontend

Display instances extra_data in frontend (#3340)
  helm-frontend/src/components/ExtraDataDisplay.tsx
  helm-frontend/src/components/InstanceData.tsx
  helm-frontend/src/types/Instance.ts
Due: run-pre-commit-frontend

Frontend for messages in instance inputs
  helm-frontend/src/components/InstanceData.tsx
  helm-frontend/src/components/Request/Request.tsx
  helm-frontend/src/types/Instance.ts
Due: run-pre-commit-frontend

Fixes
  helm-frontend/src/components/InstanceData.tsx
Due: run-pre-commit-frontend

Fix multiple annotators for WildBench (#3318)
  src/helm/benchmark/annotation/wildbench_annotator.py
  src/helm/benchmark/metrics/wildbench_metrics.py
Due: run-pre-commit-python

Frontend for messages in instance inputs (#3341)
  helm-frontend/src/components/InstanceData.tsx
  helm-frontend/src/components/Request/Request.tsx
  helm-frontend/src/types/Instance.ts
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-4c9ec27a.js
  src/helm/benchmark/static_build/assets/index-53044ef6.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Fixes
  src/helm/benchmark/scenarios/test_bigcodebench_scenario.py
Due: run-pre-commit-python

change word-level asr metrics to the token level
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

update dependency
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
Due: run-pre-commit-python

mutox scenario
  setup.cfg
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_v0.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/mutox_scenario.py
  src/helm/benchmark/static/schema_audio_v0.yaml
Due: run-pre-commit-python

Added PTBM and SEI benchmarks to the benchmark
  src/helm/benchmark/static/schema_medical.yaml
Due: none

Added presentation config for MedHELM
  src/helm/benchmark/presentation/run_entries_medhelm.conf
Due: none

Fix spacing
  src/helm/benchmark/presentation/run_entries_medhelm.conf
Due: none

remove extras
  src/helm/benchmark/presentation/run_entries_audio.conf
Due: none

Release Safety v1.1.0
  helm-frontend/project_metadata.json
Due: none

Release Safety v1.1.0 (#3344)
  helm-frontend/project_metadata.json
Due: none

Fixes
  src/helm/benchmark/scenarios/test_wildbench_scenario.py
Due: run-pre-commit-python

Added metric for medcalcbench
  src/helm/benchmark/metrics/medcalc_bench_metrics.py
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

added mutox confs
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

added mutox confs
  src/helm/benchmark/presentation/run_entries_audio.conf
Due: none

Modified benchmark names
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

Update benchmark descriptions
  src/helm/benchmark/static/schema_medical.yaml
Due: none

Modified descriptions in scenarios
  src/helm/benchmark/scenarios/aci_bench_scenario.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/ehr_sql_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/headqa_scenario.py
  src/helm/benchmark/scenarios/med_dialog_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/medbullets_scenario.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/scenarios/medec_scenario.py
  src/helm/benchmark/scenarios/medi_qa_scenario.py
  src/helm/benchmark/scenarios/medication_qa_scenario.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.py
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/pubmed_qa_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
Due: run-pre-commit-python

skip bad urls and broken audio files
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/scenarios/audio_language/mutox_scenario.py
Due: run-pre-commit-python

Modified descriptions
  src/helm/benchmark/static/schema_medical.yaml
Due: none

add the rest of the mutox languages
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/scenarios/audio_language/mutox_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

update comment
  setup.cfg
Due: none

fix type check
  src/helm/benchmark/scenarios/audio_language/mutox_scenario.py
Due: run-pre-commit-python

MuTox Scenario (#3343)
  setup.cfg
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/presentation/run_entries_audio_v0.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/mutox_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/benchmark/static/schema_audio_v0.yaml
Due: run-pre-commit-python

MUStARDScenario for sarcasm detection
  setup.cfg
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/mustard_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

address pr comment
  src/helm/benchmark/scenarios/audio_language/casual_conversations2_scenario.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
