Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

flash 5-20
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

MELT: Update dashboard
  helm-frontend/project_metadata.json
  helm-frontend/src/components/Landing/MELTLanding.tsx
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/static/schema_melt.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

MELT: Update menu entry
  helm-frontend/project_metadata.json
Due: none

MELT: Format landing page
  helm-frontend/src/components/Landing/MELTLanding.tsx
Due: run-pre-commit-frontend

MELT: Fix HTML bug
  helm-frontend/src/components/Landing/MELTLanding.tsx
Due: run-pre-commit-frontend

Fix broken links in readme (#3609)
  README.md
Due: none

Update MELT Dashboard (#3611)
  helm-frontend/project_metadata.json
  helm-frontend/src/components/Landing/MELTLanding.tsx
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/static/schema_melt.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

MELT: Fix bugs in schema
  src/helm/benchmark/static/schema_melt.yaml
Due: none

MELT: Fix schema
  src/helm/benchmark/static/schema_melt.yaml
Due: none

update metric
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Update metric for CoRe Bench + Added model `google/gemini-2.5-flash-preview-05-20` (#3614)
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Update ViLLM landing page
  docs/reproducing_leaderboards.md
  helm-frontend/src/components/Landing/ViLLMLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Update doc
  docs/reproducing_leaderboards.md
Due: none

Update ViLLM landing page and doc (#3615)
  docs/reproducing_leaderboards.md
  helm-frontend/src/components/Landing/ViLLMLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Use bold black for timestamp
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python

Minor tweaks to log format (#3606)
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python

fix(Runner and UtilsContamination): Fixed contamination metric concatenation error
  src/helm/benchmark/runner.py
  src/helm/contamination/utils_contamination.py
Due: run-pre-commit-python

refactor: modify the name of the display contamination strategies
  src/helm/contamination/ts_guessing_question_based.py
  src/helm/contamination/ts_guessing_question_multichoice.py
Due: run-pre-commit-python

refactor: standardizing the code
  src/helm/benchmark/run.py
  src/helm/benchmark/runner.py
  src/helm/contamination/ts_guessing_question_based.py
  src/helm/contamination/ts_guessing_question_multichoice.py
  src/helm/contamination/utils_contamination.py
Due: run-pre-commit-python

refactor: code standardization according to HELM rules.
  src/helm/benchmark/multi_gpu_runner.py
  src/helm/benchmark/reeval_runner.py
  src/helm/contamination/contamination_evaluator.py
  src/helm/contamination/ts_guessing_question_based.py
  src/helm/contamination/ts_guessing_question_multichoice.py
  src/helm/contamination/utils_contamination.py
Due: run-pre-commit-python

style(contamination package): Fixed lines that exceeded 120 characters
  src/helm/contamination/contamination_evaluator.py
  src/helm/contamination/prompt_translations.py
  src/helm/contamination/ts_guessing_question_based.py
  src/helm/contamination/ts_guessing_question_multichoice.py
  src/helm/contamination/utils_contamination.py
Due: run-pre-commit-python

fix: remove top_p, frequency_penalty and presence_penalty from o series models as also unsupported
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

feat: add LLM Judge CLI arguments to run.py
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Add Anthropic Claude 4 (#3607)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add GitHub workflow for upgrading requirements
  .github/workflows/upgrade-requirements.yml
Due: none

Fix some docs
  .github/workflows/update-requirements.yml
  .github/workflows/upgrade-requirements.yml
Due: none

add suport for LLM-as-Judge evaluation flow
  src/helm/benchmark/judge_llm.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

Add GitHub workflow for upgrading requirements (#3618)
  .github/workflows/upgrade-requirements.yml
Due: none

fix: correct prompt argument name from prompt_file to prompt in argparse
  src/helm/benchmark/run.py
Due: run-pre-commit-python

feat: add prompt folder
  src/helm/benchmark/prompt/README.md
  src/helm/benchmark/prompt/default_prompt.txt
  src/helm/benchmark/prompt/other_prompt.txt
Due: none

Add onnxruntime to constaints
  constraints.txt
Due: none

Fix workflow triggers
  .github/workflows/upgrade-requirements.yml
Due: none

Add onnxruntime to constaints (#3619)
  .github/workflows/upgrade-requirements.yml
  constraints.txt
Due: none

Add constraints.txt to trigger conditions for updating requirements
  .github/workflows/update-requirements.yml
Due: none

Add constraints.txt to trigger conditions for updating requirements (#3620)
  .github/workflows/update-requirements.yml
Due: none

Upgrade requirements.txt
  requirements.txt
Due: none

fix: remove top_p, frequency_penalty and presence_penalty from o series models as unsupported (#3617)
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Add thinking
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Add Claude extended thinking
  setup.cfg
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

Lint
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
