Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

explain scenario
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/speech_disorder_explain_scenario.py
Due: run-pre-commit-python

Change Grok 3 Beta access to limited (#3534)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Added annotation redaction for MedHELM
  scripts/medhelm/redact_annotations.py
Due: run-pre-commit-python

Fix lint
  scripts/medhelm/redact_annotations.py
Due: run-pre-commit-python

fix lint
  scripts/medhelm/redact_annotations.py
Due: run-pre-commit-python

.
  src/helm/benchmark/scenarios/audio_language/speech_disorder_explain_scenario.py
Due: run-pre-commit-python

remove extra files
  CHANGELOG 2.md
  CITATION 2.bib
  LICENSE 2
  MANIFEST 2.in
  README 2.md
  constraints 2.txt
  docs/test.py
  install-dev 2.sh
  install-heim-extras 2.sh
  install-shelm-extras 2.sh
  mkdocs 2.yml
  pre-commit 2.sh
  pre-commit-frontend 2.sh
  pyproject 2.toml
  requirements 2.txt
  setup 2.cfg
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/speech_disorder_asr_scenario.py
Due: run-pre-commit-python

remove util
  docs/test.py
Due: run-pre-commit-python

MELT: Add text classification and sentiment analysis tasks
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

Add Gemini 2.5 models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add o4 and o3-mini
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/proxy/services/server_service.py
Due: run-pre-commit-python

Lint
  src/helm/clients/openai_client.py
  src/helm/proxy/services/server_service.py
Due: run-pre-commit-python

Add kpi_edgar scenario (#3495)
  src/helm/benchmark/metrics/kpi_edgar_metrics.py
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/kpi_edgar_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Add Gemini 2.5 models (#3538)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add o4 and o3-mini (#3539)
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/proxy/services/server_service.py
Due: run-pre-commit-python

update PubmedQA Prompt
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

fix lint
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

update prompt
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

update PubmedQA Prompt to include grounding output (#3540)
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Build frontend
  src/helm/benchmark/static_build/assets/index-76bf8c8a.js
  src/helm/benchmark/static_build/assets/index-9008dde1.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Added annotation redaction for MedHELM (#3535)
  scripts/medhelm/redact_annotations.py
Due: run-pre-commit-python

Add run entries with additional instructions for MMLU-Winogrande-Afr (#3497)
  src/helm/benchmark/presentation/run_entries_mmlu_winogrande_afr_instruct.conf
Due: none

Add run entries for reasoning models for Capabilities and Safety leaderboards
  src/helm/benchmark/presentation/run_entries_capabilities_reasoning.conf
  src/helm/benchmark/presentation/run_entries_safety_reasoning.conf
Due: none

Removed phi and qwen from run_entries_medhelm
  src/helm/benchmark/presentation/run_entries_medhelm.conf
Due: none

Added medhallu
  src/helm/benchmark/presentation/run_entries_medhelm.conf
Due: none

Added medhallu to the leaderboard
  src/helm/benchmark/static/schema_medhelm.yaml
Due: none

Removed file lock from EHRSHOT
  src/helm/benchmark/scenarios/ehrshot_scenario.py
Due: run-pre-commit-python

Removed phi and qwen from run_entries_medhelm (#3542)
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Add run entries for Capabilities with extra prompt
  src/helm/benchmark/presentation/run_entries_capabilities_reasoning_v2.conf
Due: none

scenario change
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/speech_disorder_scenario.py
Due: run-pre-commit-python

Fix bug with AIR-Bench handling of empty responses
  src/helm/benchmark/annotation/air_bench_annotator.py
Due: run-pre-commit-python

Remove Capabilities
  src/helm/benchmark/presentation/run_entries_capabilities_reasoning.conf
Due: none

Move instructions to suffix
  src/helm/benchmark/presentation/run_entries_capabilities_reasoning_v2.conf
Due: none

Add run entries for reasoning models for Safety leaderboard (#3541)
  src/helm/benchmark/presentation/run_entries_safety_reasoning.conf
Due: none

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
