Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Sum token logprobs in Together client responses
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Capabilities run entries v2
  src/helm/benchmark/presentation/run_entries_capabilities_v2.conf
Due: none

Add Palmyra X5 (#3580)
  setup.cfg
  src/helm/clients/writer_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Loosen writerai dependency version requirement
  setup.cfg
Due: none

Loosen writerai dependency version requirement (#3583)
  setup.cfg
Due: none

Update requirements.txt
  requirements.txt
Due: none

Add Speech Disorder Detection Scenario (Binary Classification Task) (#3533)
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
Due: run-pre-commit-python

Lint fixes for #3533
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
Due: run-pre-commit-python

Lint fixes for #3533 (#3585)
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
Due: run-pre-commit-python

Build frontend
  src/helm/benchmark/static_build/assets/index-42060d71.css
  src/helm/benchmark/static_build/assets/index-76bf8c8a.js
  src/helm/benchmark/static_build/assets/index-778ed86c.css
  src/helm/benchmark/static_build/assets/index-f2b2a6ce.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Sum token logprobs in Together client responses (#3581)
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Add InfiniteBench En.QA
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_en_qa_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_en_qa_scenario.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Update
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
Due: run-pre-commit-python

Add InfiniteBench En.QA (#3588)
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_en_qa_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_en_qa_scenario.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Clean up
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/speech_disorder_asr_scenario.py
  src/helm/benchmark/scenarios/audio_language/speech_disorder_explain_scenario.py
Due: run-pre-commit-python

linter
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
Due: run-pre-commit-python

Fix
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
Due: run-pre-commit-python

linter
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
Due: run-pre-commit-python

Linter fixes
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
Due: run-pre-commit-python

first pass
  helm-frontend/public/config.js
  src/helm/benchmark/metrics/robo_reward_bench_metrics.py
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/run_spec_factory.py
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
  src/helm/benchmark/static/schema_video.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Update Long Context landing
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Update Long Context landing (#3589)
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-24fda1bb.css
  src/helm/benchmark/static_build/assets/index-2831049e.js
  src/helm/benchmark/static_build/assets/index-778ed86c.css
  src/helm/benchmark/static_build/assets/index-f2b2a6ce.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

make clear
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
Due: run-pre-commit-python

Speech Language Pathology - Additional Scenarios (#3553)
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
Due: run-pre-commit-python

EMS metric fails when the inputs are identical homogenous images files (#3576)
  src/helm/benchmark/metrics/vision_language/emd_utils.py
Due: run-pre-commit-python

initial
  scripts/parade/audio_pairs_inst.json
  scripts/parade/dataset_creation.py
Due: run-pre-commit-python

blacked
  scripts/parade/dataset_creation.py
Due: run-pre-commit-python

fix style
  scripts/parade/dataset_creation.py
Due: run-pre-commit-python

linting
  scripts/parade/dataset_creation.py
Due: run-pre-commit-python

Initial commit for PARADE (#3591)
  scripts/parade/audio_pairs_inst.json
  scripts/parade/dataset_creation.py
Due: run-pre-commit-python

Run expander for Palmyra X5
  src/helm/benchmark/presentation/run_entries_safety_palmyra_x5.conf
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Run expander for Palmyra X5 (#3593)
  src/helm/benchmark/presentation/run_entries_safety_palmyra_x5.conf
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

MELT: Factorize implementation of syntehtic reasoning scenarios
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/scenarios/melt_srn_scenario.py
  src/helm/benchmark/scenarios/melt_synthetic_reasoning_scenario.py
Due: run-pre-commit-python

Update Palmyra Med metadata
  src/helm/config/model_metadata.yaml
Due: none

Update Palmyra Med metadata (#3596)
  src/helm/config/model_metadata.yaml
Due: none

Change favicon URL
  helm-frontend/index.html
Due: none

Change favicon URL (#3597)
  helm-frontend/index.html
Due: none

Integrate Vietnamese synthetic reasoning and MATH (#3511)
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/scenarios/melt_srn_scenario.py
  src/helm/benchmark/scenarios/melt_synthetic_reasoning_scenario.py
Due: run-pre-commit-python

refactor: switch from print() to python logging in hlog & add hwarn
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python
