Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Add request response format JSON schema support
  src/helm/clients/openai_client.py
  src/helm/clients/together_client.py
  src/helm/common/request.py
  src/helm/common/response_format.py
Due: run-pre-commit-python

Lint
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Add schema and run entries for long context leaderboard (#3412)
  src/helm/benchmark/presentation/run_entries_long_context.conf
  src/helm/benchmark/static/schema_long_context.yaml
Due: none

second commit to apply feedback
  src/helm/benchmark/presentation/run_entries_reeval_air_bench_2024.conf
  src/helm/benchmark/presentation/run_entries_reeval_mmlu.conf
  src/helm/benchmark/reeval_runner.py
  src/helm/benchmark/run_spec.py
  src/helm/benchmark/run_specs/air_bench_run_specs.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/runner.py
  src/helm/benchmark/scenarios/air_bench_scenario.py
  src/helm/benchmark/scenarios/mmlu_scenario.py
Due: run-pre-commit-python

Added OpenAITranscriptionThenCompletionClient
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

ran black
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

type checking
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

anthropic thinking
  setup.cfg
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Added `OpenAITranscriptionThenCompletionClient` (#3416)
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

add gpt4 text-only evaluator for open-end audio scenarios
  src/helm/benchmark/metrics/gpt4_audio_critique_metrics.py
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

initial version of IBM WatsonX Client and models
  setup.cfg
  src/helm/benchmark/annotation/air_bench_annotator.py
  src/helm/clients/ibm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Add GPT4 evaluator for open-ended audio scenarios (#3417)
  src/helm/benchmark/metrics/gpt4_audio_critique_metrics.py
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

more runs and updated schema
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

fix run
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/static/schema_audio.yaml
Due: none

break apart by aspect
  src/helm/benchmark/static/schema_audio.yaml
Due: none

add fairness scenarios
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/fleurs_fairness_scenario.py
  src/helm/benchmark/scenarios/audio_language/librispeech_fairness_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

Add request response format JSON schema support (#3415)
  src/helm/clients/openai_client.py
  src/helm/clients/together_client.py
  src/helm/common/request.py
  src/helm/common/response_format.py
Due: run-pre-commit-python

Make GPQA CoT metric pattern matching less strict
  src/helm/benchmark/metrics/gpqa_chain_of_thought_metric.py
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/metrics/gpqa_chain_of_thought_metric.py
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Make GPQA CoT metric pattern matching less strict (#3420)
  src/helm/benchmark/metrics/gpqa_chain_of_thought_metric.py
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Make Azure OpenAI deployment name configurable
  src/helm/clients/azure_openai_client.py
Due: run-pre-commit-python

update
  src/helm/benchmark/scenarios/audio_language/fleurs_fairness_scenario.py
  src/helm/benchmark/scenarios/audio_language/librispeech_fairness_scenario.py
Due: run-pre-commit-python

Add LibriSpeech and FLEURS gender fairness audio scenarios (#3418)
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/fleurs_fairness_scenario.py
  src/helm/benchmark/scenarios/audio_language/librispeech_fairness_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

set default
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

additional cleanup
  src/helm/benchmark/annotation/air_bench_annotator.py
  src/helm/clients/ibm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

third commit on feedback
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/presentation/run_entries_adaptive_air_bench.conf
  src/helm/benchmark/reeval_runner.py
  src/helm/benchmark/run_spec.py
  src/helm/benchmark/run_specs/air_bench_run_specs.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/run_specs/reeval_run_specs.py
  src/helm/benchmark/scenarios/air_bench_scenario.py
  src/helm/benchmark/scenarios/mmlu_scenario.py
  src/helm/benchmark/scenarios/scenario.py
  src/helm/common/reeval_parameters.py
Due: run-pre-commit-python

Make Azure OpenAI deployment name configurable (#3421)
  src/helm/clients/azure_openai_client.py
Due: run-pre-commit-python

update
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
Due: run-pre-commit-python

Fix multilingual librispeech audio scenario (#3423)
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
Due: run-pre-commit-python

added schema
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

add parade audio scenario
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/parade_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

Add PARADE audio scenario (#3424)
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/parade_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

update schema
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/static/schema_audio.yaml
Due: none

quick run
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
Due: none

MELT: Integrate QA and Summarization scenarios
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenario.py
Due: run-pre-commit-python

Allow overriding Vite base URL with VITE_BASE environment variable
  helm-frontend/vite.config.ts
Due: run-pre-commit-frontend

Lint
  helm-frontend/vite.config.ts
Due: run-pre-commit-frontend

Allow overriding Vite base URL with VITE_BASE environment variable (#3426)
  helm-frontend/vite.config.ts
Due: run-pre-commit-frontend

Load project_metadata.json from the website rather than GitHub
  helm-frontend/src/components/CardGrid.tsx
  helm-frontend/src/components/NavDropdown.tsx
  helm-frontend/src/components/ReleaseDropdown.tsx
Due: run-pre-commit-frontend

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
