Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

test 1.7B
  test_qwen3.py
Due: run-pre-commit-python

quick
  test_qwen3.py
Due: run-pre-commit-python

run distill
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

update name
  src/helm/config/model_metadata.yaml
Due: none

119
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

Update model deployment configuration for Stanford client
  src/helm/config/model_deployments.yaml
Due: none

Update schema
  src/helm/benchmark/static/schema_medhelm.yaml
Due: none

Fix lint
  src/helm/benchmark/metrics/summac/model_summac.py
  src/helm/clients/stanfordhealthcare_http_model_client.py
Due: run-pre-commit-python

Refactor sentence splitting method
  src/helm/benchmark/metrics/summac/model_summac.py
Due: run-pre-commit-python

Fix lint
  src/helm/benchmark/presentation/run_entries_medhelm_gated.conf
  src/helm/clients/stanfordhealthcare_http_model_client.py
Due: run-pre-commit-python

new run
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

Remove tokenizer and make improvements to OpenAIResponseClient
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

Upgrade OpenAI
  pyproject.toml
  uv.lock
Due: none

Add documentation for reproducing the Arabic leaderboard
  docs/reproducing_leaderboards.md
Due: none

Upgrade requirements
  requirements.txt
  uv.lock
Due: none

Add documentation for reproducing the Arabic leaderboard (#4023)
  docs/reproducing_leaderboards.md
Due: none

fix
  pyproject.toml
  uv.lock
Due: none

Remove tokenizer and make improvements to OpenAIResponseClient (#4020)
  pyproject.toml
  src/helm/clients/openai_responses_client.py
  uv.lock
Due: run-pre-commit-python

Fix syntax error
  pyproject.toml
Due: none

Update dspy group dependencies
  pyproject.toml
Due: none

Remove transformers from medhelm
  pyproject.toml
Due: none

Loosen bounds
  pyproject.toml
Due: none

Upgrade urllib3
  constraints.txt
  pyproject.toml
Due: none

Upgrade urllib3 (#4032)
  constraints.txt
  pyproject.toml
Due: none

Update requirements
  requirements.txt
  uv.lock
Due: none

Explicit plugins (#3916)
  docs/developer_adding_new_models.md
  docs/importing_custom_modules.md
  pyproject.toml
  src/helm/benchmark/run.py
  src/helm/benchmark/test_plugins.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/run.py
  src/helm/benchmark/test_plugins.py
  uv.lock
Due: run-pre-commit-python

Revert uv.lock
  uv.lock
Due: none

Lint (#4036)
  src/helm/benchmark/run.py
  src/helm/benchmark/test_plugins.py
Due: run-pre-commit-python

Fix boolq url
  src/helm/benchmark/scenarios/boolq_scenario.py
Due: run-pre-commit-python

Add basic dockerfile
  dockerfiles/README.md
  dockerfiles/helm.dockerfile
Due: none

Use huggingface mirror
  src/helm/benchmark/scenarios/boolq_scenario.py
Due: run-pre-commit-python

Updated SummaC metric
  src/helm/benchmark/metrics/summac/model_summac.py
  src/helm/benchmark/metrics/summarization_metrics.py
Due: run-pre-commit-python

Fix lint
  src/helm/benchmark/metrics/summac/model_summac.py
  src/helm/benchmark/metrics/summarization_metrics.py
Due: run-pre-commit-python

Fix lint
  src/helm/benchmark/metrics/summac/model_summac.py
Due: run-pre-commit-python

Change paper link for MedHELM
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Change paper link for MedHELM (#4041)
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Lint
  helm-frontend/src/components/ExtraDataDisplay.tsx
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
