Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Automatically apply the model=all run expander
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

Change CLI errors
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Fix
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

Automatically apply the model=all run expander (#3491)
  src/helm/benchmark/run.py
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

medalign update
  src/helm/benchmark/scenarios/medalign_scenario_helper.py
Due: run-pre-commit-python

modify mtsamples replicate to use api
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.py
Due: run-pre-commit-python

fix import
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.py
Due: run-pre-commit-python

modify mtsamples replicate to use api (#3493)
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.py
Due: run-pre-commit-python

Medhelm judges (#3484)
  src/helm/benchmark/annotation/aci_bench_annotator.py
  src/helm/benchmark/annotation/chw_care_plan_annotator.py
  src/helm/benchmark/annotation/dischargeme_annotator.py
  src/helm/benchmark/annotation/med_dialog_annotator.py
  src/helm/benchmark/annotation/medalign_annotator.py
  src/helm/benchmark/annotation/medi_qa_annotator.py
  src/helm/benchmark/annotation/mental_health_annotator.py
  src/helm/benchmark/annotation/mimic_rrs_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/mtsamples_procedures_annotator.py
  src/helm/benchmark/annotation/mtsamples_replicate_annotator.py
  src/helm/benchmark/annotation/starr_patient_instructions_annotator.py
  src/helm/benchmark/metrics/aci_bench_metrics.py
  src/helm/benchmark/metrics/chw_care_plan_metrics.py
  src/helm/benchmark/metrics/dischargeme_metrics.py
  src/helm/benchmark/metrics/med_dialog_metrics.py
  src/helm/benchmark/metrics/medalign_metrics.py
  src/helm/benchmark/metrics/medi_qa_metrics.py
  src/helm/benchmark/metrics/mental_health_metrics.py
  src/helm/benchmark/metrics/mimic_rrs_metrics.py
  src/helm/benchmark/metrics/mtsamples_procedures_metrics.py
  src/helm/benchmark/metrics/mtsamples_replicate_metrics.py
  src/helm/benchmark/metrics/starr_patient_instructions_metrics.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Fix prompt
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhallu_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

MedHELM-- Medhallu Dataset Implementation (#3483)
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhallu_scenario.py
Due: run-pre-commit-python

Medalign Update (#3492)
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario_helper.py
Due: run-pre-commit-python

google/gemini-2.5-pro-exp-03-25
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_spec_factory.py
  src/helm/benchmark/scenarios/audio_language/air_bench_chat_scenario.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

cleanup before release
  setup.cfg
  src/helm/clients/ibm_client.py
Due: run-pre-commit-python

Qwen 2.5 VL
  setup.cfg
  src/helm/benchmark/presentation/run_entries_vhelm_debug.conf
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

added logger
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

model family
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

quicker
  src/helm/benchmark/presentation/run_entries_vhelm_debug.conf
Due: none

handle
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

file formatting fix
  src/helm/clients/ibm_client.py
Due: run-pre-commit-python

long line formatting fix
  src/helm/clients/ibm_client.py
Due: run-pre-commit-python

WatsonX Client
  setup.cfg
  src/helm/clients/ibm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

fix typo
  docs/reeval.md
  src/helm/benchmark/reeval_runner.py
Due: run-pre-commit-python

Adaptive evaluation (#3397)
  docs/reeval.md
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/reeval_run.py
  src/helm/benchmark/reeval_runner.py
  src/helm/common/reeval_parameters.py
Due: run-pre-commit-python

Update README.md
  README.md
  docs/index.md
  docs/quick_start.md
Due: none

Update readme
  README.md
Due: none

Clean up Read The Docs index
  docs/index.md
Due: none

Remove unneeded js files
  json-urls-root.js
  json-urls.js
Due: run-pre-commit-frontend

Updated README.md and documentation (#3494)
  README.md
  docs/index.md
  docs/quick_start.md
Due: none

Add kpi_edgar scenario
  src/helm/benchmark/metrics/kpi_edgar_metrics.py
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/kpi_edgar_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Change the score to modified macro
  src/helm/benchmark/static/schema_enterprise.yaml
Due: none

Update scenario and metric
  src/helm/benchmark/metrics/kpi_edgar_metrics.py
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/kpi_edgar_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Fix MetricSpecs
  src/helm/benchmark/run_specs/enterprise_run_specs.py
Due: run-pre-commit-python

Fill out taxonomy
  src/helm/benchmark/static/schema_enterprise.yaml
Due: none

Rename metrics
  src/helm/benchmark/metrics/kpi_edgar_metrics.py
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/metrics/kpi_edgar_metrics.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Fix scenario description
  src/helm/benchmark/metrics/kpi_edgar_metrics.py
  src/helm/benchmark/scenarios/kpi_edgar_scenario.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/scenarios/kpi_edgar_scenario.py
Due: run-pre-commit-python

SHC additional datasets
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
