Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Fixes
  src/helm/benchmark/static/schema_sql.yaml
Due: none

Fixes
  src/helm/benchmark/scenarios/spider_scenario.py
Due: run-pre-commit-python

Add execution accuracy metric to Spider (#3371)
  src/helm/benchmark/annotation/bird_sql_annotator.py
  src/helm/benchmark/annotation/spider_annotator.py
  src/helm/benchmark/metrics/bird_sql_metrics.py
  src/helm/benchmark/metrics/spider_metrics.py
  src/helm/benchmark/run_specs/sql_run_specs.py
  src/helm/benchmark/scenarios/spider_scenario.py
  src/helm/benchmark/static/schema_sql.yaml
Due: run-pre-commit-python

Change Omni-MATH annotator template
  src/helm/benchmark/annotation/omni_math/gpt_evaluation_zero_shot_template.txt
  src/helm/benchmark/annotation/omni_math/helm_omni_math_annotator_template_v1.0.0.txt
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

Change template for Omni-MATH annotator
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

Fix style
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

Added SHC deepseek model
  src/helm/clients/stanfordhealthcare_deepseek_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Cleaning up pre-commit
  src/helm/benchmark/scenarios/med_dialog_scenario.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/scenarios/medi_qa_scenario.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
Due: run-pre-commit-python

Update pre-commit for SHC scenarios
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
Due: run-pre-commit-python

Change Omni-MATH annotator template (#3372)
  src/helm/benchmark/annotation/omni_math/gpt_evaluation_zero_shot_template.txt
  src/helm/benchmark/annotation/omni_math/helm_omni_math_annotator_template_v1.0.0.txt
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

Fix pre-commit for SHC clients
  src/helm/clients/stanfordhealthcare_claude_client.py
  src/helm/clients/stanfordhealthcare_deepseek_client.py
  src/helm/clients/stanfordhealthcare_google_client.py
  src/helm/clients/stanfordhealthcare_http_model_client.py
  src/helm/clients/stanfordhealthcare_shc_openai_client.py
Due: run-pre-commit-python

add args for specifying bertscore model
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/metrics/summarization_metrics.py
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/headqa_scenario.py
Due: run-pre-commit-python

pre-commit fix 4 datasets
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/scenarios/medec_scenario.py
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.py
  src/helm/benchmark/scenarios/pubmed_qa_scenario.py
Due: run-pre-commit-python

Moved MedHELM specs to medhelm_run_specs.py
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

pre-commit 3 datasets
  src/helm/benchmark/scenarios/headqa_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/medbullets_scenario.py
Due: run-pre-commit-python

Updated bert model
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Add instructions for missing final answer
  src/helm/benchmark/annotation/omni_math/gpt_evaluation_zero_shot_template.txt
Due: none

Add instructions to Omni-MATH judge template for missing final answer (#3373)
  src/helm/benchmark/annotation/omni_math/gpt_evaluation_zero_shot_template.txt
Due: none

pre-commit fix 8 datasets
  src/helm/benchmark/scenarios/aci_bench_scenario.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/ehr_sql_scenario.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
Due: run-pre-commit-python

Update ToRR landing
  helm-frontend/src/components/Landing/ToRRLanding.tsx
Due: run-pre-commit-frontend

Remove Tables landing since it was replaced by ToRR
  helm-frontend/src/components/Landing/TablesLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Update MedHELM
  helm-frontend/src/assets/medhelm/medhelm-overview.png
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Update ToRR landing (#3374)
  helm-frontend/src/components/Landing/ToRRLanding.tsx
Due: run-pre-commit-frontend

Remove Tables landing since it was replaced by ToRR (#3376)
  helm-frontend/src/components/Landing/TablesLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Update MedHELM landing (#3375)
  helm-frontend/src/assets/medhelm/medhelm-overview.png
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-79d429b3.js
  src/helm/benchmark/static_build/assets/index-f1226f7b.js
  src/helm/benchmark/static_build/assets/medhelm-overview-3040904f.png
  src/helm/benchmark/static_build/assets/medhelm-overview-86f5aa1c.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add ToRR to project metadata
  helm-frontend/project_metadata.json
Due: none

Add ToRR to project metadata (#3378)
  helm-frontend/project_metadata.json
Due: none

Fix MedHELM image
  helm-frontend/src/assets/medhelm/medhelm-overview.png
Due: none

Fix MedHELM image (#3379)
  helm-frontend/src/assets/medhelm/medhelm-overview.png
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/index-770557f0.js
  src/helm/benchmark/static_build/assets/medhelm-overview-2d5368c4.png
  src/helm/benchmark/static_build/assets/medhelm-overview-86f5aa1c.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

pre-commit fix ehrshot
  src/helm/benchmark/scenarios/ehrshot_scenario.py
Due: run-pre-commit-python

Switch Turl Col Type primary metric to f1_micro in ToRR
  src/helm/benchmark/static/schema_torr.yaml
Due: none

Fix pre-commit 2
  src/helm/benchmark/metrics/medcalc_bench_metrics.py
  src/helm/clients/auto_client.py
Due: run-pre-commit-python

Fix pre-commit for vlm
  src/helm/benchmark/run_specs/vlm_run_specs.py
Due: run-pre-commit-python

Switch Turl Col Type primary metric to f1_micro in ToRR (#3381)
  src/helm/benchmark/static/schema_torr.yaml
Due: none

Add GPT-4.5 model
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fix
  src/helm/config/model_metadata.yaml
Due: none

Add GPT-4.5 model (#3382)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Update MedHELM landing
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend
