Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

fix max tokens
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

update name
  src/helm/config/model_metadata.yaml
Due: none

more cleanup
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

Fixed model_deployments
  src/helm/clients/azure_openai_client.py
  src/helm/clients/stanfordhealthcare_openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Added remaining models
  src/helm/clients/azure_openai_client.py
  src/helm/clients/stanfordhealthcare_claude_client.py
  src/helm/clients/stanfordhealthcare_openai_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Update run entries
  src/helm/benchmark/presentation/run_entries_medhelm.conf
Due: none

Update medhelm run entries for SHC models
  src/helm/benchmark/presentation/run_entries_medhelm.conf
Due: none

Fix head_qa scenario
  src/helm/benchmark/scenarios/headqa_scenario.py
Due: run-pre-commit-python

max tokens
  src/helm/clients/vertexai_client.py
Due: run-pre-commit-python

add comment
  src/helm/clients/vertexai_client.py
Due: run-pre-commit-python

Add example of using JSON Schema in Request
  scripts/examples/request_json_schema.py
Due: run-pre-commit-python

Update Finance landing page
  helm-frontend/src/components/Landing/FinanceLanding.tsx
Due: run-pre-commit-frontend

Fixes
  helm-frontend/src/components/Landing/FinanceLanding.tsx
Due: run-pre-commit-frontend

Add example of using JSON Schema in Request (#3438)
  scripts/examples/request_json_schema.py
Due: run-pre-commit-python

Update Finance landing (#3439)
  helm-frontend/src/components/Landing/FinanceLanding.tsx
Due: run-pre-commit-frontend

Fix whitespace on Finance landing page
  helm-frontend/src/components/Landing/FinanceLanding.tsx
Due: run-pre-commit-frontend

Added medalgin helper file
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario_helper.py
Due: run-pre-commit-python

Removed init from mental_health_scenario
  src/helm/benchmark/scenarios/mental_health_scenario.py
Due: run-pre-commit-python

fix n2c2_ct_matching
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
Due: run-pre-commit-python

simplified Ibm Client
  src/helm/clients/ibm_client.py
Due: run-pre-commit-python

simplified client
  src/helm/clients/ibm_client.py
Due: run-pre-commit-python

Allow sending multiple messages to Bedrock Nova
  src/helm/clients/bedrock_client.py
Due: run-pre-commit-python

Fix whitespace on Finance landing page (#3440)
  helm-frontend/src/components/Landing/FinanceLanding.tsx
Due: run-pre-commit-frontend

Remove BigCodeBench from HELM Capabilities
  src/helm/benchmark/presentation/run_entries_capabilities.conf
  src/helm/benchmark/run_specs/capabilities_run_specs.py
  src/helm/benchmark/static/schema_capabilities.yaml
Due: run-pre-commit-python

Allow sending multiple messages to Bedrock Nova (#3442)
  src/helm/clients/bedrock_client.py
Due: run-pre-commit-python

Remove BigCodeBench from HELM Capabilities (#3443)
  src/helm/benchmark/presentation/run_entries_capabilities.conf
  src/helm/benchmark/run_specs/capabilities_run_specs.py
  src/helm/benchmark/static/schema_capabilities.yaml
Due: run-pre-commit-python

Use uv for Upgrade Requirements GitHub Action
  .github/workflows/upgrade-requirements.yml
Due: none

Remove upgrade strategy
  .github/workflows/upgrade-requirements.yml
Due: none

fifth commit, fix all feedback
  src/helm/benchmark/reeval_run.py
  src/helm/benchmark/reeval_runner.py
  src/helm/benchmark/scenarios/scenario.py
Due: run-pre-commit-python

Fix type error for jiwer cer
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
Due: run-pre-commit-python

Further loosen GPQA CoT metric regex
  src/helm/benchmark/metrics/gpqa_chain_of_thought_metric.py
Due: run-pre-commit-python

Add bounds to httpx
  setup.cfg
Due: none

Further loosen GPQA CoT metric regex (#3445)
  src/helm/benchmark/metrics/gpqa_chain_of_thought_metric.py
Due: run-pre-commit-python

Fixes
  .github/workflows/update-requirements.yml
  .github/workflows/upgrade-requirements.yml
Due: none

Use uv for Update Requirements GitHub Action (#3444)
  .github/workflows/update-requirements.yml
  .github/workflows/upgrade-requirements.yml
  setup.cfg
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
Due: run-pre-commit-python

Minor changes to Update requirements GitHub Action
  .github/workflows/update-requirements.yml
Due: none

Minor changes to Update requirements GitHub Action (#3448)
  .github/workflows/update-requirements.yml
Due: none

Update requirements.txt
  requirements.txt
Due: none

Add schedule and change Python version for updating dependencies
  .github/workflows/update-requirements.yml
Due: none

Add workflow_dispatch back
  .github/workflows/update-requirements.yml
Due: none
