Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Fix MadinahQA scenario to include Context field for reading comprehension (#4127)
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
Due: run-pre-commit-python

Update documentation for Efficient Benchmarking paper (#4132)
  README.md
  docs/efficient_benchmarking.md
  mkdocs.yml
Due: none

Add model deployments for Google Vertex AI and Gemini API
  src/helm/benchmark/model_deployments/google_model_deployments.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/model_deployment_registry.py
  src/helm/benchmark/model_deployments/google_model_deployments.py
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Add model deployments for Google Vertex AI and Gemini API (#4131)
  src/helm/benchmark/model_deployment_registry.py
  src/helm/benchmark/model_deployments/google_model_deployments.py
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Update MedHELM paper title
  README.md
Due: none

Install dependencies for Read the Docs with uv
  .readthedocs.yaml
  pyproject.toml
  uv.lock
Due: none

Remove docs/requirements.txt
  docs/editing_documentation.md
  docs/requirements.txt
Due: none

Update MedHELM paper title (#4139)
  README.md
Due: none

Install dependencies for Read the Docs with uv (#4140)
  .readthedocs.yaml
  docs/editing_documentation.md
  docs/requirements.txt
  pyproject.toml
  uv.lock
Due: none

Update requirements
  requirements.txt
Due: none

Remove requirements
  .github/workflows/update-requirements.yml
  .github/workflows/upgrade-requirements.yml
  install-dev.sh
Due: none

Rename files
  .github/workflows/update-dependencies.yml
  .github/workflows/upgrade-dependencies.yml
Due: none

Remove requirements.txt and install-dev.sh (#4142)
  .github/workflows/update-dependencies.yml
  .github/workflows/upgrade-dependencies.yml
  install-dev.sh
Due: none

Change Dependabot interval to monthly
  .github/dependabot.yml
Due: none

Update changelog
  CHANGELOG.md
Due: none

Fixes
  CHANGELOG.md
Due: none

Update changelog (#4135)
  CHANGELOG.md
Due: none

Release v0.5.14
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Release v0.5.14 (#4143)
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Minor fix to changelog
  CHANGELOG.md
Due: none

docs: fix HEIM/VHELM pages (logo, internal links, Jekyll _site)
  docs/_site/assets/images/heim-logo.png
  docs/_site/heim.html
  docs/_site/vhelm.html
  docs/assets/images/heim-logo.png
  docs/heim.md
  docs/vhelm.md
Due: none

docs: normalize internal links to absolute site paths
  docs/editing_documentation.md
  docs/heim.md
  docs/huggingface_models.md
  docs/index.md
  docs/installation.md
  docs/medhelm.md
  docs/reproducing_leaderboards.md
  docs/run_entries.md
  docs/vhelm.md
Due: none

docs: sync reference pages and clean styling
  docs/_layouts/docs.html
  docs/assets/css/style.css
  docs/developer_setup.md
  docs/metrics.md
  docs/models.md
  docs/perturbations.md
  docs/scenarios.md
  docs/schemas.md
Due: none

docs: escape Liquid-like braces in scenarios citations
  docs/scenarios.md
Due: none

Refactor MedHELM section in index.md
  docs/index.md
Due: none

Add section header for MedHELM project
  docs/index.md
Due: none

Change header to 'MedHELM' in index.md
  docs/index.md
Due: none

Add GPT-5.4 mini and nano
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add GPT-5.4 mini and nano (#4145)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Minor fix to changelog (#4144)
  CHANGELOG.md
Due: none

docs: generate reference pages from code; expand Jekyll via MkDocs
  .github/workflows/deploy-docs.yml
  docs/_config.yml
  docs/metrics.md
  docs/models.md
  docs/perturbations.md
  docs/requirements.txt
  docs/scenarios.md
  docs/schemas.md
  docs/scripts/jekyll_prepare_mkdocstring_pages.py
Due: run-pre-commit-python

fix(docs): HTML-escape {{ }} in Jekyll-expanded reference pages
  docs/scripts/jekyll_prepare_mkdocstring_pages.py
Due: run-pre-commit-python

docs: trim reference page intros; ignore MkDocs build output
  .gitignore
  docs/metrics.md
  docs/models.md
  docs/perturbations.md
  docs/scenarios.md
Due: none

Add HELM Arabic Enterprise landing
  helm-frontend/src/components/Landing/ArabicEnterpriseLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add HELM Arabic Enterprise landing (#4147)
  helm-frontend/src/components/Landing/ArabicEnterpriseLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

refactor: Fixing a bug in the contamination metric calculation
  src/helm/benchmark/metrics/contamination_metrics.py
  src/helm/benchmark/metrics/test_contamination_metrics.py
  src/helm/benchmark/run_specs/contamination_run_specs.py
  src/helm/benchmark/scenarios/contamination/contamination_utils.py
  src/helm/benchmark/scenarios/contamination/test_contamination_scenario.py
  src/helm/benchmark/scenarios/contamination/ts_guessing_question_based.py
  src/helm/benchmark/scenarios/contamination/ts_guessing_question_multichoice.py
Due: run-pre-commit-python

Fix formatting with Black
  src/helm/benchmark/metrics/contamination_metrics.py
  src/helm/benchmark/metrics/test_contamination_metrics.py
  src/helm/benchmark/run_specs/contamination_run_specs.py
  src/helm/benchmark/scenarios/contamination/contamination_utils.py
  src/helm/benchmark/scenarios/contamination/test_contamination_scenario.py
Due: run-pre-commit-python
