Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Fix mypy strict typing for instance_id
  src/helm/benchmark/metrics/contamination_metrics.py
Due: run-pre-commit-python

Update README.md
  README.md
Due: none

Update citations in documentation
  docs/index.md
Due: none

Add Llama 4 Maverick on Vertex AI Llama 4 API Service
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Suppress duplicate warnings from truncate_sequence
  src/helm/clients/client.py
Due: run-pre-commit-python

Suppress duplicate warnings from truncate_sequence (#4151)
  src/helm/clients/client.py
Due: run-pre-commit-python

Add Llama 4 Maverick on Vertex AI Llama 4 API Service (#4150)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add Qwen3.5 models on Together
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Qwen3.5 models on Together (#4152)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Remove requirements.txt
  requirements.txt
Due: none

Remove requirements.txt (#4154)
  requirements.txt
Due: none

docs: enlarge MedHELM and CRFM logos on homepage partner row
  docs/assets/css/style.css
  docs/index.md
Due: none

Default suite to "default" in helm-run and helm-summarize
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Add pkg_resources to tool.uv.extra-build-dependencies for openai-whisper
  pyproject.toml
Due: none

Add pkg_resources to tool.uv.extra-build-dependencies for openai-whisper (#4157)
  pyproject.toml
Due: none

Set extra-build-dependencies for openai-whisper
  pyproject.toml
Due: none

Change version
  pyproject.toml
Due: none

Set extra-build-dependencies for openai-whisper (#4159)
  pyproject.toml
Due: none

Ignore type errors caused by upgrading transformers
  pyproject.toml
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Default suite to "default" in helm-run and helm-summarize (#4155)
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Ignore type errors caused by upgrading transformers (#4160)
  pyproject.toml
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Update dependencies
  uv.lock
Due: none

Upgrade dependencies
  uv.lock
Due: none

Add per_instance_stats.json download link to frontend
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getPerInstanceStatsByName.ts
Due: run-pre-commit-frontend

Add link to per_instance_stats.json on frontend
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getPerInstanceStatsByName.ts
Due: run-pre-commit-frontend

Fix GenderPerturbation regex to match words at text boundaries
  src/helm/benchmark/augmentations/gender_perturbation.py
Due: run-pre-commit-python

Fix GenderPerturbation to match words at text boundaries
  src/helm/benchmark/augmentations/gender_perturbation.py
Due: run-pre-commit-python

Ignore type errors in model_summac
  src/helm/benchmark/metrics/summac/model_summac.py
Due: run-pre-commit-python

Ignore type errors in model_summac (#4171)
  src/helm/benchmark/metrics/summac/model_summac.py
Due: run-pre-commit-python

Add metadata for HEIM scenarios
  src/helm/benchmark/scenarios/image_generation/common_syntactic_processes_scenario.py
  src/helm/benchmark/scenarios/image_generation/cub200_scenario.py
  src/helm/benchmark/scenarios/image_generation/daily_dalle_scenario.py
  src/helm/benchmark/scenarios/image_generation/demographic_stereotypes_scenario.py
  src/helm/benchmark/scenarios/image_generation/detection_scenario.py
  src/helm/benchmark/scenarios/image_generation/draw_bench_scenario.py
  src/helm/benchmark/scenarios/image_generation/i2p_scenario.py
  src/helm/benchmark/scenarios/image_generation/landing_page_scenario.py
  src/helm/benchmark/scenarios/image_generation/logos_scenario.py
  src/helm/benchmark/scenarios/image_generation/magazine_cover_scenario.py
  src/helm/benchmark/scenarios/image_generation/mental_disorders_scenario.py
  src/helm/benchmark/scenarios/image_generation/mscoco_scenario.py
  src/helm/benchmark/scenarios/image_generation/parti_prompts_scenario.py
  src/helm/benchmark/scenarios/image_generation/relational_understanding_scenario.py
  src/helm/benchmark/scenarios/image_generation/time_most_significant_historical_figures_scenario.py
  src/helm/benchmark/scenarios/image_generation/winoground_scenario.py
Due: run-pre-commit-python

Lazily load model in HuggingFaceClient
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Lazily load model in HuggingFaceClient (#4172)
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Parse Arabic content generation annotator using a more permissive regex
  src/helm/benchmark/annotation/arabic_content_generation_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_relative_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_similarity_annotator.py
Due: run-pre-commit-python

Parse Arabic content generation annotator using a more permissive regex (#4173)
  src/helm/benchmark/annotation/arabic_content_generation_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_relative_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_similarity_annotator.py
Due: run-pre-commit-python

Parse int in Arabic conten generation annotator
  src/helm/benchmark/annotation/arabic_content_generation_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_relative_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_similarity_annotator.py
Due: run-pre-commit-python

Parse int in Arabic conten generation annotator (#4174)
  src/helm/benchmark/annotation/arabic_content_generation_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_relative_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_similarity_annotator.py
Due: run-pre-commit-python

Fix duplicate entries in med_dialog dataset (#3746)
  src/helm/benchmark/scenarios/med_dialog_scenario.py
Due: run-pre-commit-python

Add metadata for Ewok scenario
  src/helm/benchmark/scenarios/ewok_scenario.py
Due: run-pre-commit-python

Add metadata for HEIM scenarios (#4169)
  src/helm/benchmark/scenarios/image_generation/common_syntactic_processes_scenario.py
  src/helm/benchmark/scenarios/image_generation/cub200_scenario.py
  src/helm/benchmark/scenarios/image_generation/daily_dalle_scenario.py
  src/helm/benchmark/scenarios/image_generation/demographic_stereotypes_scenario.py
  src/helm/benchmark/scenarios/image_generation/detection_scenario.py
  src/helm/benchmark/scenarios/image_generation/draw_bench_scenario.py
  src/helm/benchmark/scenarios/image_generation/i2p_scenario.py
  src/helm/benchmark/scenarios/image_generation/landing_page_scenario.py
  src/helm/benchmark/scenarios/image_generation/logos_scenario.py
  src/helm/benchmark/scenarios/image_generation/magazine_cover_scenario.py
  src/helm/benchmark/scenarios/image_generation/mental_disorders_scenario.py
  src/helm/benchmark/scenarios/image_generation/mscoco_scenario.py
  src/helm/benchmark/scenarios/image_generation/parti_prompts_scenario.py
  src/helm/benchmark/scenarios/image_generation/relational_understanding_scenario.py
  src/helm/benchmark/scenarios/image_generation/time_most_significant_historical_figures_scenario.py
  src/helm/benchmark/scenarios/image_generation/winoground_scenario.py
Due: run-pre-commit-python
