Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Support MongoDB cache credentials outside URI
  docs/credentials.md
  src/helm/benchmark/run.py
  src/helm/common/cache.py
  src/helm/common/cache_backend_config.py
  src/helm/common/mongo_key_value_store.py
  src/helm/common/test_cache_backend_config.py
  src/helm/proxy/server.py
Due: run-pre-commit-python

refactor: apply PR feedback (file renaming, param adjustments, minor fixes)
  src/helm/benchmark/metrics/test_contamination_metrics.py
  src/helm/benchmark/metrics/ts_guessing_contamination_metrics.py
  src/helm/benchmark/run_specs/contamination_run_specs.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/prompt_translations.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/test_contamination_scenario.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_contamination_base.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_contamination_scenario.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_contamination_strategy.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_contamination_utils.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_question_based.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_question_multichoice.py
Due: run-pre-commit-python

feat: add regex validation for answer choice suffixes
  src/helm/benchmark/metrics/ts_guessing_contamination_metrics.py
Due: run-pre-commit-python

fix(medhelm): score PubMedQA with punctuation-tolerant metric
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Add more tests for the contamination text processing
  src/helm/benchmark/metrics/test_contamination_metrics.py
  src/helm/benchmark/metrics/ts_guessing_contamination_metrics.py
Due: run-pre-commit-python

Handle missing answer_prefix with empty string fallback
  src/helm/benchmark/metrics/ts_guessing_contamination_metrics.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_contamination_base.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_contamination_strategy.py
Due: run-pre-commit-python

Add Claude Opus 4.7
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fix date
  src/helm/config/model_metadata.yaml
Due: none

Add Claude Opus 4.7 (#4278)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Delete deprecated parameters for Claude Opus 4.7
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

Remove deprecated parameters from Claude Opus 4.7 API requests
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

Fix title on Arabic Enterprise landing page
  helm-frontend/src/components/Landing/ArabicEnterpriseLanding.tsx
Due: run-pre-commit-frontend

Lint
  helm-frontend/src/components/Landing/ArabicEnterpriseLanding.tsx
Due: run-pre-commit-frontend

Fix title on Arabic Enterprise landing page (#4280)
  helm-frontend/src/components/Landing/ArabicEnterpriseLanding.tsx
Due: run-pre-commit-frontend

Remove deprecated parameters from Claude Opus 4.7 API requests (#4279)
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

Update descriptions for Arabic.AI model metadata
  src/helm/config/model_metadata.yaml
Due: none

Update HELM Arabic Enterprise schema
  src/helm/benchmark/static/schema_arabic_enterprise.yaml
Due: none

Update descriptions for Arabic.AI model metadata (#4282)
  src/helm/config/model_metadata.yaml
Due: none

Update Arabic Enterprise landing
  helm-frontend/src/components/Landing/ArabicEnterpriseLanding.tsx
Due: run-pre-commit-frontend

Update
  src/helm/benchmark/static/schema_arabic_enterprise.yaml
Due: none

Update Arabic Enterprise landing (#4284)
  helm-frontend/src/components/Landing/ArabicEnterpriseLanding.tsx
Due: run-pre-commit-frontend

Rerun with context
  src/helm/benchmark/presentation/run_entries_arabic_rerun_with_context.conf
Due: none

Fix language parameter handling in TSGuessingQuestionMultiChoiceStrategy
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_contamination_base.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/ts_guessing_question_multichoice.py
Due: run-pre-commit-python

Rename spec from "contamination" to "ts_guessing_contamination"
  src/helm/benchmark/run_specs/contamination_run_specs.py
Due: run-pre-commit-python

Rename test_contamination_scenario.py to test_ts_guessing_contamination_scenario.py
  src/helm/benchmark/scenarios/ts_guessing_contamination/test_ts_guessing_contamination_scenario.py
Due: run-pre-commit-python

Rename test_contamination_metrics.py to test_ts_guessing_contamination_metrics.py
  src/helm/benchmark/metrics/test_ts_guessing_contamination_metrics.py
Due: run-pre-commit-python

Fix duplicated field in Solar Pro model metadata
  src/helm/config/model_metadata.yaml
Due: none

Remove stray debug print in TogetherClient response handler
  src/helm/clients/together_client.py
Due: run-pre-commit-python

docs: fix README CI badge link and typos
  README.md
Due: none

Add ArxivRollBench scenario
  src/helm/benchmark/run_specs/arxivrollbench_run_specs.py
  src/helm/benchmark/scenarios/arxivrollbench_scenario.py
  src/helm/benchmark/scenarios/test_arxivrollbench_scenario.py
Due: run-pre-commit-python

Fix final_number_exact_match matching non-digits as the decimal part
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
Due: run-pre-commit-python

robustly parse predicted multiple-choice options containing punctuation or whitespace
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
Due: run-pre-commit-python

Fix duplicated field in Solar Pro model metadata (#4285)
  src/helm/config/model_metadata.yaml
Due: none

Fix incorrect references for Unitxt metrics
  src/helm/benchmark/metrics/unitxt_metrics.py
Due: run-pre-commit-python

Fix incorrect references for Unitxt metrics (#4292)
  src/helm/benchmark/metrics/unitxt_metrics.py
Due: run-pre-commit-python

Add metadata for Unitxt scenarios and metrics
  src/helm/benchmark/metrics/unitxt_metrics.py
  src/helm/benchmark/scenarios/unitxt_scenario.py
Due: run-pre-commit-python

Get metadata
  src/helm/benchmark/metrics/unitxt_metrics.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/scenarios/unitxt_scenario.py
Due: run-pre-commit-python

Revert summarize
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Don't cache dataset
  src/helm/benchmark/metrics/unitxt_metrics.py
Due: run-pre-commit-python

Nicer display name
  src/helm/benchmark/metrics/unitxt_metrics.py
Due: run-pre-commit-python
