Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Update MedHELM landing (#3383)
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-809f88d7.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Update the MedHELM image
  helm-frontend/src/assets/medhelm/medhelm-overview.png
Due: none

Update the MedHELM image (#3385)
  helm-frontend/src/assets/medhelm/medhelm-overview.png
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/index-c900ab98.js
  src/helm/benchmark/static_build/assets/medhelm-overview-2d5368c4.png
  src/helm/benchmark/static_build/assets/medhelm-overview-3ddfcd65.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Revise annotator for helpdesk call summarization
  src/helm/benchmark/annotation/helpdesk_call_summarization_annotator.py
  src/helm/benchmark/metrics/helpdesk_call_summarization_metrics.py
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit-python

Fix schema
  src/helm/benchmark/static/schema_call_center.yaml
Due: none

Revise annotator for helpdesk call summarization (#3387)
  src/helm/benchmark/annotation/helpdesk_call_summarization_annotator.py
  src/helm/benchmark/metrics/helpdesk_call_summarization_metrics.py
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit-python

handle internal server error
  src/helm/benchmark/scenarios/audio_language/voice_jailbreak_attacks_scenario.py
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Normalize call center summarization scores to between 0 and 1
  src/helm/benchmark/metrics/helpdesk_call_summarization_metrics.py
Due: run-pre-commit-python

Fix name
  src/helm/benchmark/metrics/helpdesk_call_summarization_metrics.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit-python

Normalize call center summarization scores to between 0 and 1 (#3388)
  src/helm/benchmark/metrics/helpdesk_call_summarization_metrics.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit-python

fix: precommit ehrsql and mimiciv billing code
  src/helm/benchmark/annotation/ehr_sql_annotator.py
  src/helm/benchmark/metrics/ehr_sql_metrics.py
  src/helm/benchmark/metrics/mimiciv_billing_code_metrics.py
Due: run-pre-commit-python

Update Call Center landing
  helm-frontend/public/config.js
  helm-frontend/src/components/Landing/CallCenterLanding.tsx
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
Due: run-pre-commit-frontend

Update Call Center landing (#3389)
  helm-frontend/public/config.js
  helm-frontend/src/components/Landing/CallCenterLanding.tsx
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/accenture-6f97eeda.png
  src/helm/benchmark/static_build/assets/cresta-9e22b983.png
  src/helm/benchmark/static_build/assets/index-31e03f9a.css
  src/helm/benchmark/static_build/assets/index-990a4a38.js
  src/helm/benchmark/static_build/assets/index-c900ab98.js
  src/helm/benchmark/static_build/assets/index-f59fe494.css
  src/helm/benchmark/static_build/config.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Launch MedHELM leaderboard
  helm-frontend/project_metadata.json
Due: none

Launch MedHELM leaderboard (#3391)
  helm-frontend/project_metadata.json
Due: none

Remove all logos from frontend
  helm-frontend/public/config.js
  helm-frontend/src/assets/logos/01.png
  helm-frontend/src/assets/logos/accenture.png
  helm-frontend/src/assets/logos/ai21.png
  helm-frontend/src/assets/logos/aisingapore.png
  helm-frontend/src/assets/logos/aleph-alpha.png
  helm-frontend/src/assets/logos/anthropic.png
  helm-frontend/src/assets/logos/bigscience.png
  helm-frontend/src/assets/logos/cohere.png
  helm-frontend/src/assets/logos/cresta.png
  helm-frontend/src/assets/logos/cuhk.png
  helm-frontend/src/assets/logos/eleutherai.png
  helm-frontend/src/assets/logos/google.png
  helm-frontend/src/assets/logos/ibm.png
  helm-frontend/src/assets/logos/index.ts
  helm-frontend/src/assets/logos/meta.png
  helm-frontend/src/assets/logos/microsoft.png
  helm-frontend/src/assets/logos/mistral.png
  helm-frontend/src/assets/logos/nvidia.png
  helm-frontend/src/assets/logos/openai.png
  helm-frontend/src/assets/logos/scb10x.png
  helm-frontend/src/assets/logos/scbx.jpg
  helm-frontend/src/assets/logos/tii.png
  helm-frontend/src/assets/logos/together.png
  helm-frontend/src/assets/logos/tsinghua-keg.png
  helm-frontend/src/assets/logos/wellsfargo.png
  helm-frontend/src/assets/logos/writer.png
  helm-frontend/src/assets/logos/yandex.png
  helm-frontend/src/components/Landing/CLEVALanding.tsx
  helm-frontend/src/components/Landing/FinanceLanding.tsx
  helm-frontend/src/components/Landing/HomeLanding.tsx
  helm-frontend/src/components/Landing/LiteLanding.tsx
  helm-frontend/src/components/Landing/ThaiExamLanding.tsx
Due: run-pre-commit-frontend

Pin mkdocs-autorefs dependency version
  docs/requirements.txt
Due: none

Fix config.js
  helm-frontend/public/config.js
Due: run-pre-commit-frontend

Remove all logos from frontend (#3392)
  helm-frontend/public/config.js
  helm-frontend/src/assets/logos/01.png
  helm-frontend/src/assets/logos/accenture.png
  helm-frontend/src/assets/logos/ai21.png
  helm-frontend/src/assets/logos/aisingapore.png
  helm-frontend/src/assets/logos/aleph-alpha.png
  helm-frontend/src/assets/logos/anthropic.png
  helm-frontend/src/assets/logos/bigscience.png
  helm-frontend/src/assets/logos/cohere.png
  helm-frontend/src/assets/logos/cresta.png
  helm-frontend/src/assets/logos/cuhk.png
  helm-frontend/src/assets/logos/eleutherai.png
  helm-frontend/src/assets/logos/google.png
  helm-frontend/src/assets/logos/ibm.png
  helm-frontend/src/assets/logos/index.ts
  helm-frontend/src/assets/logos/meta.png
  helm-frontend/src/assets/logos/microsoft.png
  helm-frontend/src/assets/logos/mistral.png
  helm-frontend/src/assets/logos/nvidia.png
  helm-frontend/src/assets/logos/openai.png
  helm-frontend/src/assets/logos/scb10x.png
  helm-frontend/src/assets/logos/scbx.jpg
  helm-frontend/src/assets/logos/tii.png
  helm-frontend/src/assets/logos/together.png
  helm-frontend/src/assets/logos/tsinghua-keg.png
  helm-frontend/src/assets/logos/wellsfargo.png
  helm-frontend/src/assets/logos/writer.png
  helm-frontend/src/assets/logos/yandex.png
  helm-frontend/src/components/Landing/CLEVALanding.tsx
  helm-frontend/src/components/Landing/FinanceLanding.tsx
  helm-frontend/src/components/Landing/HomeLanding.tsx
  helm-frontend/src/components/Landing/LiteLanding.tsx
  helm-frontend/src/components/Landing/ThaiExamLanding.tsx
Due: run-pre-commit-frontend

Release AIR-Bench v1.6.0 and Safety v1.2.0
  helm-frontend/project_metadata.json
Due: none

Release AIR-Bench v1.6.0 and Safety v1.2.0 (#3396)
  helm-frontend/project_metadata.json
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/01-694cb9b7.png
  src/helm/benchmark/static_build/assets/ai21-0eb91ec3.png
  src/helm/benchmark/static_build/assets/aisingapore-6dfc9acf.png
  src/helm/benchmark/static_build/assets/aleph-alpha-7ce10034.png
  src/helm/benchmark/static_build/assets/anthropic-70d8bc39.png
  src/helm/benchmark/static_build/assets/bigscience-7f0400c0.png
  src/helm/benchmark/static_build/assets/cohere-3550c6cb.png
  src/helm/benchmark/static_build/assets/cuhk-8c5631e9.png
  src/helm/benchmark/static_build/assets/eleutherai-b9451114.png
  src/helm/benchmark/static_build/assets/google-06d997ad.png
  src/helm/benchmark/static_build/assets/index-0f8e5f7d.js
  src/helm/benchmark/static_build/assets/index-42060d71.css
  src/helm/benchmark/static_build/assets/index-990a4a38.js
  src/helm/benchmark/static_build/assets/index-f59fe494.css
  src/helm/benchmark/static_build/assets/meta-5580e9f1.png
  src/helm/benchmark/static_build/assets/microsoft-f5ee5016.png
  src/helm/benchmark/static_build/assets/mistral-18e1be23.png
  src/helm/benchmark/static_build/assets/nvidia-86fa75c1.png
  src/helm/benchmark/static_build/assets/openai-3f8653e4.png
  src/helm/benchmark/static_build/assets/scb10x-204bd786.png
  src/helm/benchmark/static_build/assets/scbx-71e53e72.jpg
  src/helm/benchmark/static_build/assets/tii-24de195c.png
  src/helm/benchmark/static_build/assets/together-a665a35b.png
  src/helm/benchmark/static_build/assets/tsinghua-keg-97d4b395.png
  src/helm/benchmark/static_build/assets/wellsfargo-a86a6c4a.png
  src/helm/benchmark/static_build/assets/yandex-38e09d70.png
  src/helm/benchmark/static_build/config.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Pin mkdocs-autorefs dependency version (#3394)
  docs/requirements.txt
Due: none

Initial code for adaptive evaluation
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/presentation/run_entries_adaptive_air_bench.conf
  src/helm/benchmark/run_spec.py
  src/helm/benchmark/run_specs/air_bench_run_specs.py
  src/helm/benchmark/runner.py
  src/helm/benchmark/scenarios/air_bench_scenario.py
Due: run-pre-commit-python

fix: quant model names
  src/helm/config/model_deployments.yaml
Due: none

fix: quant model names
  src/helm/benchmark/presentation/run_entries_medhelm.conf
Due: none

fix librispeech
  src/helm/benchmark/scenarios/audio_language/librispeech_scenario.py
Due: run-pre-commit-python

Added GPT-4-turbo
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fix MedHELM link
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Fix MedHELM link (#3399)
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-dbf6f50c.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

fix: pre-commit ehr_sql_annotator
  src/helm/benchmark/annotation/ehr_sql_annotator.py
Due: run-pre-commit-python

Add new summarizer for computing ToRR robustness
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/presentation/torr_robustness_summarizer.py
  src/helm/benchmark/static/schema_torr.yaml
Due: run-pre-commit-python

pre-commit fix
  src/helm/benchmark/metrics/medec_metrics.py
  src/helm/benchmark/scenarios/medalign_scenario.py
Due: run-pre-commit-python

Add new summarizer for computing ToRR robustness (#3402)
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/presentation/torr_robustness_summarizer.py
  src/helm/benchmark/static/schema_torr.yaml
Due: run-pre-commit-python

Renamed schema_medical.yaml to schema_medhelm.yaml
  src/helm/benchmark/static/schema_medhelm.yaml
Due: none

Fix formatting
  src/helm/benchmark/metrics/medec_metrics.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/pubmed_qa_scenario.py
  src/helm/benchmark/scenarios/vision_language/vqa_rad_scenario.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
