Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Add instructions for downloading ToRR results (#3795)
  docs/downloading_raw_results.md
Due: none

Handle safety and usage guidelines errors from Grok API (#3770)
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Rollback med_mcqa changes
  src/helm/benchmark/scenarios/med_mcqa_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

MedHELM - MedQA and MedMCQA (#3781)
  setup.cfg
  src/helm/benchmark/presentation/run_entries_medhelm_public.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

can only first
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

Handle GPT-5 safety filter
  src/helm/benchmark/presentation/run_entries_safety_reasoning.conf
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Fixes
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Fix
  src/helm/benchmark/presentation/run_entries_safety_reasoning.conf
Due: none

Handle GPT-5 safety filter (#3797)
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Switch from setup.cfg to pyproject.toml
  .flake8
  .github/workflows/update-requirements.yml
  .github/workflows/upgrade-requirements.yml
  docs/developer_setup.md
  pyproject.toml
  src/helm/benchmark/metrics/summac/model_summac.py
  src/helm/clients/audio_language/llama_omni/model/builder.py
  src/helm/clients/image_generation/cogview2/sr_pipeline/dsr_model.py
  src/helm/clients/image_generation/mindalle/models/stage1/layers.py
Due: run-pre-commit-python

Port heim fixes to pyproject.toml
  pyproject.toml
  setup.cfg
Due: none

port latest setup.cfg changes
  pyproject.toml
Due: none

fix missing dep in medhelm
  pyproject.toml
Due: none

Fix python version / full version mismatch
  pyproject.toml
Due: none

Updated MedHELM docs
  docs/medhelm.md
Due: none

Migrate to pyproject.toml (#3767)
  .flake8
  .github/workflows/update-requirements.yml
  .github/workflows/upgrade-requirements.yml
  docs/developer_setup.md
  pyproject.toml
  setup.cfg
  src/helm/benchmark/metrics/summac/model_summac.py
  src/helm/clients/audio_language/llama_omni/model/builder.py
  src/helm/clients/image_generation/cogview2/sr_pipeline/dsr_model.py
  src/helm/clients/image_generation/mindalle/models/stage1/layers.py
Due: run-pre-commit-python

Update requirements.txt
  requirements.txt
Due: none

more rewad models
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

checkpoint 1100
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

better checkpoints
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

Upgrade requirements.txt
  requirements.txt
Due: none

Grouped reproducing and viewing results sections
  docs/medhelm.md
Due: none

Medhelm download (#3799)
  docs/medhelm.md
Due: none

Add ALRAGE Scenario (#3721)
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/alrage_scenario.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Add MadinahQA scenario
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Lint
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Revert instructions
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Add MadinahQA scenario (#3800)
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Add Arabic instructions
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/scenarios/madinah_qa_scenario.py
Due: run-pre-commit-python

Set up default logging in proxy server
  src/helm/proxy/server.py
Due: run-pre-commit-python

Use GPT-4.1 in example queries in proxy
  src/helm/proxy/example_queries.py
Due: run-pre-commit-python

Support displaying responses with no tokens in proxy frontend
  src/helm/proxy/static/index.css
  src/helm/proxy/static/index.js
Due: run-pre-commit-frontend

Remove console.log
  src/helm/proxy/static/index.js
Due: run-pre-commit-frontend

Style
  src/helm/proxy/static/index.js
Due: run-pre-commit-frontend

Set up default logging in proxy server (#3801)
  src/helm/proxy/server.py
Due: run-pre-commit-python

Support displaying responses with no tokens in proxy frontend (#3802)
  src/helm/proxy/static/index.css
  src/helm/proxy/static/index.js
Due: run-pre-commit-frontend

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
