Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Remove meta/llama-3.1-405b-instruct-turbo judge from Omni-MATH
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

bench: default to MedHELM schema; allow HELM_SCHEMA_PATH override
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Add Gemini 3 Flash and Gemini 3.1 Flash-Lite (#4204)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fix PrivacyMetric leakage_email_domain_rate using local_correct_count (#4203)
  src/helm/benchmark/metrics/decodingtrust_privacy_metrics.py
Due: run-pre-commit-python

Add metadata for MELT scenarios
  src/helm/benchmark/scenarios/melt_ir_scenario.py
  src/helm/benchmark/scenarios/melt_knowledge_scenario.py
  src/helm/benchmark/scenarios/melt_lm_scenarios.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/scenarios/melt_srn_scenario.py
  src/helm/benchmark/scenarios/melt_synthetic_reasoning_scenario.py
  src/helm/benchmark/scenarios/melt_translation_scenario.py
Due: run-pre-commit-python

Fix AutobencherSafetyScenario parsing the file path string as JSON
  src/helm/benchmark/scenarios/autobencher_safety_scenario.py
Due: run-pre-commit-python

Fix CodeInsightsCorrectCodeScenario prompt conditional precedence
  src/helm/benchmark/scenarios/codeinsights_correct_code_scenario.py
Due: run-pre-commit-python

Fix AutoBencherCapabilitiesScenario excluding the requested subject instead of including it
  src/helm/benchmark/scenarios/autobencher_capabilities_scenario.py
Due: run-pre-commit-python

Fix DisinformationScenario reiteration dropping every narrative when topic is None
  src/helm/benchmark/scenarios/disinformation_scenario.py
Due: run-pre-commit-python

fix(frontend): honor instancesPage query param
  helm-frontend/src/components/Instances.test.tsx
  helm-frontend/src/components/Instances.tsx
Due: run-pre-commit-frontend

fix(frontend): filter leaderboard run links by scenario
  helm-frontend/src/components/GroupLeaderboard.tsx
  helm-frontend/src/components/LeaderboardTable.tsx
  helm-frontend/src/components/MiniLeaderboard.tsx
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
  helm-frontend/src/routes/Runs.test.tsx
  helm-frontend/src/routes/Runs.tsx
Due: run-pre-commit-frontend

fix(frontend): keep instance metrics readable
  helm-frontend/src/components/Predictions.test.tsx
  helm-frontend/src/components/Predictions.tsx
Due: run-pre-commit-frontend

feat(frontend): add metric filters to predictions page
  helm-frontend/src/components/Instances.tsx
  helm-frontend/src/components/instanceMetricFilters.test.ts
  helm-frontend/src/components/instanceMetricFilters.ts
Due: run-pre-commit-frontend

fix(medhelm): use quasi match for PubMedQA
  src/helm/benchmark/scenarios/pubmed_qa_scenario.py
  src/helm/benchmark/scenarios/test_pubmed_qa_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Fix AnnotatorResponseParseFailure passing kwargs dict to Exception instead of message string
  src/helm/benchmark/annotation/arabic_finance_calculation_annotator.py
  src/helm/benchmark/annotation/arabic_legal_annotator.py
  src/helm/benchmark/annotation/autobencher_capabilities_annotator.py
  src/helm/benchmark/annotation/autobencher_safety_annotator.py
  src/helm/benchmark/annotation/helpdesk_call_summarization_annotator.py
Due: run-pre-commit-python

feat(frontend): add predictions page search filter
  helm-frontend/src/components/Instances.tsx
  helm-frontend/src/components/instanceFilters.test.ts
  helm-frontend/src/components/instanceFilters.ts
Due: run-pre-commit-frontend

fix(presentation): dedupe duplicate main metric columns
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/presentation/test_summarize.py
Due: run-pre-commit-python

Apply same fix to model_as_judge.py
  src/helm/benchmark/annotation/model_as_judge.py
Due: run-pre-commit-python

Fix ArabicMMLU Scenario context bug
  src/helm/benchmark/scenarios/arabic_mmlu_scenario.py
Due: run-pre-commit-python

Add missing f-string prefix to codeinsights past-mistake example headers
  src/helm/benchmark/scenarios/codeinsights_student_mistake_scenario.py
Due: run-pre-commit-python

Add metadata for MELT scenarios (#4205)
  src/helm/benchmark/scenarios/melt_ir_scenario.py
  src/helm/benchmark/scenarios/melt_knowledge_scenario.py
  src/helm/benchmark/scenarios/melt_lm_scenarios.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/scenarios/melt_srn_scenario.py
  src/helm/benchmark/scenarios/melt_synthetic_reasoning_scenario.py
  src/helm/benchmark/scenarios/melt_translation_scenario.py
Due: run-pre-commit-python

Update dataset for Arabic Finance scenario
  src/helm/benchmark/scenarios/arabic_finance_scenario.py
  src/helm/benchmark/scenarios/run_entries_arabic_enterprise_finance.yaml
Due: run-pre-commit-python

Don't import torch when registering run spec functions
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

Update dataset for Arabic Finance scenario (#4220)
  src/helm/benchmark/scenarios/arabic_finance_scenario.py
  src/helm/benchmark/scenarios/run_entries_arabic_enterprise_finance.yaml
Due: run-pre-commit-python

Fix GenderPerturbation missing words at text boundaries or between single-char separators
  src/helm/benchmark/augmentations/gender_perturbation.py
  src/helm/benchmark/augmentations/test_perturbation.py
Due: run-pre-commit-python

docs: update installation and command examples for repo and PyPI installs
  README.md
  docs/README.md
  docs/index.md
  docs/installation.md
  docs/medhelm.md
  docs/quick_start.md
Due: none

Fix Pydantic validation for OpenAIResponseClient
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

Add doc
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

nit
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

Don't import torch when registering run spec functions (#4221)
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

Fix missing context in ArabicMMLU scenario (#4218)
  src/helm/benchmark/scenarios/arabic_mmlu_scenario.py
Due: run-pre-commit-python

Work around Pydantic validation error in `OpenAIResponseClient` (#4223)
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

Delete relative and similarity annotators for `arabic_content_generation` scenario
  src/helm/benchmark/annotation/arabic_content_generation_relative_annotator.py
  src/helm/benchmark/annotation/arabic_content_generation_similarity_annotator.py
  src/helm/benchmark/run_specs/arabic_enterprise_run_specs.py
Due: run-pre-commit-python

Change name
  src/helm/benchmark/presentation/run_entries_arabic_enterprise.conf
  src/helm/benchmark/run_specs/arabic_enterprise_run_specs.py
Due: run-pre-commit-python

Fix name
  src/helm/benchmark/run_specs/arabic_enterprise_run_specs.py
Due: run-pre-commit-python

fixes
  src/helm/benchmark/run_specs/arabic_enterprise_run_specs.py
Due: run-pre-commit-python

fix(security): client-side decryption model exposes encryption ke
  helm-frontend/src/services/getInstances.ts
Due: run-pre-commit-frontend

Switch Arabic legal scenarios to use Arabic language prompts
  src/helm/benchmark/run_specs/arabic_enterprise_run_specs.py
Due: run-pre-commit-python

Release v0.5.15
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none
