Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Set groups for run specs for mmlu-winogrande-afr
  src/helm/benchmark/run_specs/mmlu_clinical_afr_run_specs.py
  src/helm/benchmark/run_specs/winogrande_afr_run_specs.py
Due: run-pre-commit-python

Set groups for run specs for mmlu-winogrande-afr (#3404)
  src/helm/benchmark/run_specs/mmlu_clinical_afr_run_specs.py
  src/helm/benchmark/run_specs/winogrande_afr_run_specs.py
Due: run-pre-commit-python

Fix calculation of ToRR robustness and add documentation
  src/helm/benchmark/presentation/torr_robustness_summarizer.py
  src/helm/benchmark/static/schema_torr.yaml
Due: run-pre-commit-python

Fix calculation of ToRR robustness and add documentation (#3405)
  src/helm/benchmark/presentation/torr_robustness_summarizer.py
  src/helm/benchmark/static/schema_torr.yaml
Due: run-pre-commit-python

Add run entries
  src/helm/benchmark/presentation/run_entries_mmlu_winogrande_afr.conf
Due: none

Add schema
  src/helm/benchmark/static/schema_mmlu_winogrande_afr.yaml
Due: none

Removed unused compute method
  src/helm/benchmark/metrics/ehr_sql_metrics.py
  src/helm/benchmark/metrics/medec_metrics.py
  src/helm/benchmark/metrics/mimiciv_billing_code_metrics.py
Due: run-pre-commit-python

Remove unused imports
  src/helm/benchmark/metrics/ehr_sql_metrics.py
  src/helm/benchmark/metrics/medec_metrics.py
  src/helm/benchmark/metrics/mimiciv_billing_code_metrics.py
Due: run-pre-commit-python

Fix AI Singapore logo
  helm-frontend/src/assets/seahelm/aisingapore.png
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
Due: run-pre-commit-frontend

copying app code over
  src/helm/benchmark/annotation/bigcodebench/bigcodebench_cli.py
Due: run-pre-commit-python

silencing type checker and flake8, since we are only minimally modifying the original gradio app
  src/helm/benchmark/annotation/bigcodebench/bigcodebench_cli.py
Due: run-pre-commit-python

formatting
  src/helm/benchmark/annotation/bigcodebench/bigcodebench_cli.py
  src/helm/benchmark/annotation/bigcodebench/bigcodebench_evaluator.py
Due: run-pre-commit-python

cli and evaluator
  src/helm/benchmark/annotation/bigcodebench/bigcodebench_cli.py
  src/helm/benchmark/annotation/bigcodebench/bigcodebench_evaluator.py
Due: run-pre-commit-python

adding trailing new line
  src/helm/benchmark/annotation/bigcodebench/bigcodebench_evaluator.py
Due: run-pre-commit-python

Add instructions to Omni-MATH
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Skip NovaRunExpander
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

Remove Nova tag
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

Add instructions to Omni-MATH prompt (#3407)
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Do not automatically apply NovaRunExpander (#3408)
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

adding scenario
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_sum_scenario.py
Due: run-pre-commit-python

add run spec
  src/helm/benchmark/run_specs/experimental_run_specs.py
Due: run-pre-commit-python

formatting
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_sum_scenario.py
Due: run-pre-commit-python

satisfying typechecker
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/ruler_qa_scenario_helper.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/ruler_qa_scenario_helper.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
  src/helm/benchmark/static/schema_safety.yaml
Due: run-pre-commit-python

Lint
  src/helm/benchmark/run_specs/long_context_run_specs.py
Due: run-pre-commit-python

Add run entries and schema for MMLU-Winogrande-Afr (#3406)
  src/helm/benchmark/presentation/run_entries_mmlu_winogrande_afr.conf
  src/helm/benchmark/static/schema_mmlu_winogrande_afr.yaml
Due: none

integrate requested change
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_sum_scenario.py
Due: run-pre-commit-python

Added /gemini-2.0-flash-thinking-exp-01-21
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Added `gemini-2.0-flash-thinking-exp-01-21` (#3410)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add InfiniteBenchSum scenario and run spec (#3409)
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
  src/helm/benchmark/scenarios/test_infinite_bench_sum_scenario.py
Due: run-pre-commit-python

Add HotPotQA and SQuAD scenarios from RULER (#3411)
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/ruler_qa_scenario_helper.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Schema
  src/helm/benchmark/static/schema_long_context.yaml
Due: none

run entries
  src/helm/benchmark/presentation/run_entries_long_context.conf
Due: none

shuffle scenario across aspects
  src/helm/benchmark/presentation/run_entries_vhelm.conf
  src/helm/benchmark/static/schema_vhelm.yaml
Due: none

Add SEA-HELM leaderboard and SEA-LIONv3 models (#3347)
  docs/reproducing_leaderboards.md
  helm-frontend/project_metadata.json
  helm-frontend/src/assets/seahelm/aisingapore.png
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
  setup.cfg
  src/helm/benchmark/metrics/bhasa_metrics_specs.py
  src/helm/benchmark/metrics/seahelm_metrics.py
  src/helm/benchmark/metrics/seahelm_metrics_specs.py
  src/helm/benchmark/presentation/run_entries_seahelm.conf
  src/helm/benchmark/presentation/run_entries_seahelm_zero_shot.conf
  src/helm/benchmark/run_specs/seahelm_run_specs.py
  src/helm/benchmark/scenarios/seahelm_scenario.py
  src/helm/benchmark/static/schema_seahelm.yaml
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Remove logo from SEA-HELM landing
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
Due: run-pre-commit-frontend

Remove logo from SEA-HELM landing (#3414)
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-262903c1.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend
