Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Build frontend
  src/helm/benchmark/static_build/assets/index-2d9bbc7a.js
  src/helm/benchmark/static_build/assets/index-aeb31514.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add links to enterprise benchmarks documentation
  README.md
  docs/index.md
  mkdocs.yml
Due: none

Update CzechBankQA (#3227)
  src/helm/benchmark/annotation/czech_bank_qa_annotator.py
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/scenarios/czech_bank_qa_scenario.py
  src/helm/benchmark/scenarios/test_czech_bank_qa_scenario.py
Due: run-pre-commit-python

Added openai/o1-2024-12-17 and openai/gpt-4o-2024-11-20 (#3228)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add links to enterprise benchmarks documentation (#3230)
  README.md
  docs/index.md
  mkdocs.yml
Due: none

Fix template import in WildBenchAnnotator
  MANIFEST.in
  src/helm/benchmark/annotation/wildbench_annotator.py
Due: run-pre-commit-python

Add Safety to the Reproducing Leaderboards documentation
  docs/reproducing_leaderboards.md
Due: none

Fix template import in WildBenchAnnotator (#3231)
  MANIFEST.in
  src/helm/benchmark/annotation/wildbench_annotator.py
Due: run-pre-commit-python

Add Safety to the Reproducing Leaderboards documentation (#3232)
  docs/reproducing_leaderboards.md
Due: none

Fix incorrect file path in CzechBankQAAnnotator
  src/helm/benchmark/annotation/czech_bank_qa_annotator.py
Due: run-pre-commit-python

Remove boolean answer from instructions for natural_qa
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Add conf file
  src/helm/benchmark/presentation/run_entries_lite_20240424_nova.conf
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Add run entries
  src/helm/benchmark/presentation/run_entries_lite_20240424_nova.conf
Due: none

Lint
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

More fixes
  src/helm/benchmark/presentation/run_entries_lite_20240424_nova.conf
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Add more instructions customization to output_format_instructions run expander (#3233)
  src/helm/benchmark/presentation/run_entries_lite_20240424_nova.conf
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Fix incorrect package name in WildBenchAnnotator
  src/helm/benchmark/annotation/wildbench_annotator.py
Due: run-pre-commit-python

Update run entries config for Nova
  src/helm/benchmark/presentation/run_entries_lite_20240424_nova.conf
Due: none

Update run entries config for Nova (#3235)
  src/helm/benchmark/presentation/run_entries_lite_20240424_nova.conf
Due: none

handle o1 vision
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

handle new o1
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Add Encryption for GPQA (#3216)
  helm-frontend/src/components/Instances.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getInstances.ts
  helm-frontend/src/types/EncryptionDataMap.ts
  scripts/decrypt_scenario_states.py
  scripts/encrypt_scenario_states.py
Due: run-pre-commit-python, run-pre-commit-frontend

Fix incorrect package name in WildBenchAnnotator (#3234)
  src/helm/benchmark/annotation/wildbench_annotator.py
Due: run-pre-commit-python

Adding MMLU and Winogrande human-translated into 11 African languages
  src/helm/benchmark/run_specs/mmlu_clinical_afr_run_specs.py
  src/helm/benchmark/run_specs/winogrande_afr_run_specs.py
  src/helm/benchmark/scenarios/mmlu_clinical_afr_scenario.py
  src/helm/benchmark/scenarios/test_mmlu_clinical_afr_scenario.py
  src/helm/benchmark/scenarios/test_winogrande_afr_scenario.py
  src/helm/benchmark/scenarios/winogrande_afr_scenario.py
Due: run-pre-commit-python

Adding TweetSentBR Scenario (#3219)
  src/helm/benchmark/run_specs/tweetsentbr_run_specs.py
  src/helm/benchmark/scenarios/test_tweetsentbr_scenario.py
  src/helm/benchmark/scenarios/tweetsentbr_scenario.py
  src/helm/benchmark/static/schema_tweetsentbr.yaml
Due: run-pre-commit-python

Changes
  src/helm/benchmark/adaptation/adapters/ehr_instruction_adapter.py
  src/helm/benchmark/metrics/comet_metric.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/scenario.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/adaptation/adapters/ehr_instruction_adapter.py
  src/helm/benchmark/scenarios/medalign_scenario.py
Due: run-pre-commit-python

Bump jinja2 version
  requirements.txt
Due: none

Bump jinja2 version (#3239)
  requirements.txt
Due: none

Fix incorrect file path in CzechBankQAAnnotator (#3240)
  src/helm/benchmark/annotation/czech_bank_qa_annotator.py
Due: run-pre-commit-python

Add landing page for HELM Capabilities leaderboard
  helm-frontend/src/components/Landing/CapabilitiesLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add landing page for HELM Capabilities leaderboard (#3241)
  helm-frontend/src/components/Landing/CapabilitiesLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-15f51007.js
  src/helm/benchmark/static_build/assets/index-a8fe93a8.css
  src/helm/benchmark/static_build/assets/index-aba4e626.css
  src/helm/benchmark/static_build/assets/index-aeb31514.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add MedAlign scenario (#3038)
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/adaptation/adapters/adapter_factory.py
  src/helm/benchmark/adaptation/adapters/ehr_instruction_adapter.py
  src/helm/benchmark/metrics/comet_metric.py
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

Make encrypt_scenario_states script idempotent
  scripts/encrypt_scenario_states.py
Due: run-pre-commit-python

Make encrypt_scenario_states script idempotent (#3242)
  scripts/encrypt_scenario_states.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
