Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Add Gemma 3n and Gemma 4 on Together
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Fix comments
  src/helm/config/model_deployments.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Widen version range for `together` dependecy
  pyproject.toml
Due: none

Add DeepSeek V4 Pro
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Remove comment
  src/helm/config/model_deployments.yaml
Due: none

Update dependencies
  uv.lock
Due: none

change model name
  src/helm/config/model_metadata.yaml
Due: none

Fix PerspectiveAPIClient scoring entire comment instead of first span only
  src/helm/clients/perspective_api_client.py
Due: run-pre-commit-python

fix ratio
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
Due: run-pre-commit-frontend

50-50
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
Due: run-pre-commit-frontend

display
  src/helm/config/model_metadata.yaml
Due: none

Skip Pydantic model validation for OpenAI API responses
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

Lint
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

Skip Pydantic model validation for Together API responses
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Make retries configurable via environment
  src/helm/proxy/retry.py
Due: run-pre-commit-python

Document model request API
  docs/model_request_api.md
  mkdocs.yml
Due: none

Remove `HelpdeskCallSummarizationAnnotator`
  src/helm/benchmark/annotation/helpdesk_call_summarization_annotator.py
Due: run-pre-commit-python

Add metadata for disinformation metrics
  src/helm/benchmark/metrics/disinformation_metrics.py
Due: run-pre-commit-python

Add metadata for `NSFWMetric`
  src/helm/benchmark/metrics/image_generation/nsfw_metrics.py
Due: run-pre-commit-python

Add metadata to long context metrics
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
  src/helm/benchmark/metrics/ruler_qa_metrics.py
Due: run-pre-commit-python

Add metadata for `SafetyScoreMetric` and `BBQMetric`
  src/helm/benchmark/metrics/bbq_metrics.py
  src/helm/benchmark/metrics/safety_metrics.py
Due: run-pre-commit-python

Use Cohere API for command-a-03-2025
  src/helm/config/model_deployments.yaml
Due: none

Upgrade openai-whisper dependency
  pyproject.toml
  uv.lock
Due: none

Add metadata for HEIM metrics
  src/helm/benchmark/metrics/image_generation/aesthetics_metrics.py
  src/helm/benchmark/metrics/image_generation/clip_score_metrics.py
  src/helm/benchmark/metrics/image_generation/detection_metrics.py
  src/helm/benchmark/metrics/image_generation/fidelity_metrics.py
  src/helm/benchmark/metrics/image_generation/fractal_dimension_metric.py
  src/helm/benchmark/metrics/image_generation/gender_metrics.py
  src/helm/benchmark/metrics/image_generation/image_critique_metrics.py
  src/helm/benchmark/metrics/image_generation/lpips_metrics.py
  src/helm/benchmark/metrics/image_generation/multi_scale_ssim_metrics.py
  src/helm/benchmark/metrics/image_generation/nudity_metrics.py
  src/helm/benchmark/metrics/image_generation/photorealism_critique_metrics.py
  src/helm/benchmark/metrics/image_generation/psnr_metrics.py
  src/helm/benchmark/metrics/image_generation/skin_tone_metrics.py
  src/helm/benchmark/metrics/image_generation/uiqi_metrics.py
  src/helm/benchmark/metrics/image_generation/watermark_metrics.py
Due: run-pre-commit-python

Fix Cache.get treating falsy cached responses as cache misses
  src/helm/common/cache.py
Due: run-pre-commit-python

Whisper was updated, but artifacts with old bugged Version remained, changed those Versions to the new one
  pyproject.toml
  uv.lock
Due: none

Add DeepMind MRCR v2
  src/helm/benchmark/metrics/deepmind_mrcr_v2_utils.py
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/deepmind_mrcr_v2_scenario.py
Due: run-pre-commit-python

Add 30 day cooldown to package managers
  .github/dependabot.yml
  helm-frontend/.yarnrc.yaml
  pyproject.toml
Due: none

Revert stray change
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
Due: run-pre-commit-python

Validate needle count
  src/helm/benchmark/run_specs/long_context_run_specs.py
Due: run-pre-commit-python

Remove unneded variable
  src/helm/benchmark/scenarios/deepmind_mrcr_v2_scenario.py
Due: run-pre-commit-python

Cleanup
  src/helm/benchmark/scenarios/deepmind_mrcr_v2_scenario.py
Due: run-pre-commit-python

Add type annotations
  src/helm/benchmark/metrics/image_generation/detection_metrics.py
  src/helm/benchmark/metrics/image_generation/fidelity_metrics.py
  src/helm/benchmark/metrics/image_generation/skin_tone_metrics.py
Due: run-pre-commit-python

Add metadata for Image2Struct scenarios
  src/helm/benchmark/scenarios/vision_language/image2struct/image2struct_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/latex_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/musicsheet_scenario.py
  src/helm/benchmark/scenarios/vision_language/image2struct/webpage_scenario.py
Due: run-pre-commit-python

Revert
  src/helm/benchmark/scenarios/vision_language/image2struct/image2struct_scenario.py
Due: run-pre-commit-python

Shorten cooldown to 7 days
  .github/dependabot.yml
  helm-frontend/.yarnrc.yaml
  pyproject.toml
Due: none

Fix bug with handling reasoning in Together client
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Decrypt reasoning in frontend
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getInstances.ts
  helm-frontend/src/utils/decryptField.ts
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-6sfOSsz5.js
  src/helm/benchmark/static_build/assets/index-D30r2Sub.css
  src/helm/benchmark/static_build/assets/index-DReQBrpT.js
  src/helm/benchmark/static_build/assets/index-Dh3duhNA.css
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Address model request API doc review
  docs/model_request_api.md
Due: none
