Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

roboreward landing
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
Due: run-pre-commit-frontend

RoboReward Landing Page (#3976)
  helm-frontend/src/assets/roboreward/overview.png
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

schema
  src/helm/benchmark/static/schema_video.yaml
Due: none

update
  src/helm/benchmark/static/schema_video.yaml
Due: none

typo
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
Due: run-pre-commit-frontend

Make the graphic larger on the RoboReward landing page
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
Due: run-pre-commit-frontend

Fix typo for landing page (#3977)
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
Due: run-pre-commit-frontend

Make the graphic larger on the RoboReward landing page (#3978)
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-B-e-H0ne.js
  src/helm/benchmark/static_build/assets/index-BbGr8qxx.js
  src/helm/benchmark/static_build/assets/index-DiW-3hLI.css
  src/helm/benchmark/static_build/assets/index-oIeiQW2g.css
  src/helm/benchmark/static_build/assets/overview-CVXNopt8.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Upgrade requirements
  requirements.txt
  uv.lock
Due: none

Add missing name entry for WinoGrande in schema_mmlu_winogrande_afr.yaml (#3973)
  src/helm/benchmark/static/schema_mmlu_winogrande_afr.yaml
Due: none

Improve plugin entry point tests
  docs/importing_custom_modules.md
  pyproject.toml
  src/helm/benchmark/run.py
  src/helm/benchmark/test_plugins.py
  src/helm/common/import_utils.py
Due: run-pre-commit-python

Update schema_thai.yaml to remove duplicate description (#3972)
  src/helm/benchmark/static/schema_thai.yaml
Due: none

Refine docs
  docs/importing_custom_modules.md
Due: none

Allow using Together models without configuration
  src/helm/benchmark/model_deployment_registry.py
  src/helm/benchmark/run.py
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

Change how models_to_run run entry rewriting works
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Rename variable
  src/helm/benchmark/model_deployment_registry.py
Due: run-pre-commit-python

Document plugin types and extend plugin tests
  docs/importing_custom_modules.md
  src/helm/benchmark/test_plugins.py
Due: run-pre-commit-python

Allow using Together models without configuration (#3980)
  src/helm/benchmark/model_deployment_registry.py
  src/helm/benchmark/run.py
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_spec_factory.py
Due: run-pre-commit-python

Add LiteLLMCompletionClient
  pyproject.toml
  src/helm/clients/litellm_client.py
  uv.lock
Due: run-pre-commit-python

Lint
  src/helm/clients/litellm_client.py
Due: run-pre-commit-python

Fix paths
  src/helm/benchmark/model_deployment_registry.py
  src/helm/clients/litellm_client.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/model_deployment_registry.py
  src/helm/clients/litellm_client.py
Due: run-pre-commit-python

Remove commented out part
  src/helm/clients/litellm_client.py
Due: run-pre-commit-python

Remove comment
  src/helm/clients/litellm_client.py
Due: run-pre-commit-python

Add support for LiteLLM completions (#3981)
  pyproject.toml
  src/helm/benchmark/model_deployment_registry.py
  src/helm/clients/litellm_client.py
  uv.lock
Due: run-pre-commit-python

Support more models and return thinking output from LiteLLM
  src/helm/clients/litellm_client.py
Due: run-pre-commit-python

Support more models and thinking output for LiteLLM (#3982)
  src/helm/clients/litellm_client.py
Due: run-pre-commit-python

fix typo
  docs/developer_adding_new_models.md
Due: none

indent the test code
  src/helm/benchmark/test_plugins.py
Due: run-pre-commit-python

Rework importing custom module docs
  docs/importing_custom_modules.md
Due: none

doc tweaks
  docs/importing_custom_modules.md
Due: none

Allow using Hugging Face models without configuration
  src/helm/benchmark/model_deployment_registry.py
  src/helm/benchmark/tokenizer_config_registry.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
