Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Upgrade Jinja2
  requirements.txt
Due: none

Fixes
  src/helm/clients/together_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Revert triton to 2.2.0
  requirements.txt
Due: none

Add DeepSeek v3 model (#3253)
  src/helm/clients/together_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Simplify boto3 credentials for Bedrock
  src/helm/clients/bedrock_client.py
  src/helm/clients/bedrock_utils.py
Due: run-pre-commit-python

Simplify credentials
  src/helm/clients/bedrock_client.py
  src/helm/clients/bedrock_utils.py
Due: run-pre-commit-python

Lint
  src/helm/clients/bedrock_utils.py
Due: run-pre-commit-python

Also pass session token
  src/helm/clients/bedrock_utils.py
Due: run-pre-commit-python

Restore BEDROCK_ASSUME_ROLE
  src/helm/clients/bedrock_client.py
Due: run-pre-commit-python

Simplify credential management for Bedrock client (#3255)
  src/helm/clients/bedrock_client.py
  src/helm/clients/bedrock_utils.py
Due: run-pre-commit-python

Adding MMLU and Winogrande human-translated into 11 African languages (#3237)
  src/helm/benchmark/run_specs/mmlu_clinical_afr_run_specs.py
  src/helm/benchmark/run_specs/winogrande_afr_run_specs.py
  src/helm/benchmark/scenarios/mmlu_clinical_afr_scenario.py
  src/helm/benchmark/scenarios/test_mmlu_clinical_afr_scenario.py
  src/helm/benchmark/scenarios/test_winogrande_afr_scenario.py
  src/helm/benchmark/scenarios/winogrande_afr_scenario.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/run_specs/mmlu_clinical_afr_run_specs.py
  src/helm/benchmark/run_specs/winogrande_afr_run_specs.py
  src/helm/benchmark/scenarios/mmlu_clinical_afr_scenario.py
  src/helm/benchmark/scenarios/winogrande_afr_scenario.py
Due: run-pre-commit-python

Lint fixes for African MMLU and Winogrande (#3256)
  src/helm/benchmark/run_specs/mmlu_clinical_afr_run_specs.py
  src/helm/benchmark/run_specs/winogrande_afr_run_specs.py
  src/helm/benchmark/scenarios/mmlu_clinical_afr_scenario.py
  src/helm/benchmark/scenarios/winogrande_afr_scenario.py
Due: run-pre-commit-python

rename
  src/helm/benchmark/static/schema_vhelm.yaml
Due: none

add: add new scenarios
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

New arg for quasi-exact match (#3257)
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/presentation/run_entries_vhelm_debug.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/static/schema_vhelm.yaml
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/scenarios/cti_to_mitre_scenario.py
Due: run-pre-commit-python

added cti_mitre. I removed the support for "precision" and "recall" as the original basic_metric does not have those.
  src/helm/benchmark/scenarios/cti_mitre_scenario.py
Due: run-pre-commit-python

Fixes and lint
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/cti_to_mitre_scenario.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/scenarios/cti_to_mitre_scenario.py
Due: run-pre-commit-python

Fix bad merge in schema
  src/helm/benchmark/static/schema_enterprise.yaml
Due: none

Add schema
  src/helm/benchmark/scenarios/cti_to_mitre_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Rename dataset to cti_to_mitre, pin gitref, don't use zip archive
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/cti_to_mitre_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Fix type error
  src/helm/benchmark/scenarios/cti_to_mitre_scenario.py
Due: run-pre-commit-python

Add cti_to_mitre scenario (#3249)
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/cti_to_mitre_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

adding models from the granite 3.1 family
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

remove some models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Refactor frontend encryption
  helm-frontend/src/components/UserAgreement.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getInstances.ts
  helm-frontend/src/utils/isScenarioEncrypted.ts
Due: run-pre-commit-frontend

Lint
  helm-frontend/src/components/UserAgreement.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/utils/isScenarioEncrypted.ts
Due: run-pre-commit-frontend

Refactor agreement frontend (#3258)
  helm-frontend/src/components/UserAgreement.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getInstances.ts
  helm-frontend/src/utils/isScenarioEncrypted.ts
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-15f51007.js
  src/helm/benchmark/static_build/assets/index-66622a2b.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Release Lite v1.13.0
  helm-frontend/project_metadata.json
Due: none

Release Lite v1.13.0 (#3260)
  helm-frontend/project_metadata.json
Due: none

Add Granite 3.1 2B Instruct
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Granite 3.1 2B Base
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Granite 3.1 3B a800m Instruct
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Granite 3.1 3B a800m Base
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none
