Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

MELT: Fix indexing
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

Refactored jury code
  src/helm/benchmark/metrics/aci_bench_metrics.py
  src/helm/benchmark/metrics/chw_care_plan_metrics.py
  src/helm/benchmark/metrics/dischargeme_metrics.py
  src/helm/benchmark/metrics/llm_jury_metrics.py
  src/helm/benchmark/metrics/med_dialog_metrics.py
  src/helm/benchmark/metrics/medalign_metrics.py
  src/helm/benchmark/metrics/medi_qa_metrics.py
  src/helm/benchmark/metrics/medication_qa_metrics.py
  src/helm/benchmark/metrics/mental_health_metrics.py
  src/helm/benchmark/metrics/mimic_bhc_metrics.py
  src/helm/benchmark/metrics/mimic_rrs_metrics.py
  src/helm/benchmark/metrics/mtsamples_procedures_metrics.py
  src/helm/benchmark/metrics/mtsamples_replicate_metrics.py
  src/helm/benchmark/metrics/starr_patient_instructions_metrics.py
Due: run-pre-commit-python

Remove comments (#3562)
  src/helm/config/model_deployments.yaml
Due: none

Medhelm entries (#3557)
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/presentation/run_entries_medhelm_reasoning.conf
  src/helm/benchmark/static/schema_medhelm.yaml
Due: none

MELT: Fix typos in reasoning and missing answer in MATH
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Fix PhoATIS multi-label bug
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Fix translation scenario inheritance
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Fix typo bug in information retrieval scenarios
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Fix loading dataset for MMARCO dataset
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

Clean up
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_tags_scenario.py
Due: run-pre-commit-python

Accounting for audio (#3552)
  scripts/estimate_cost_audio.py
  src/helm/benchmark/run_spec_factory.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

add corebench v0
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/corebench_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

MELT: Fix multi-label classification for PhoATIS dataset
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Fix loading data for translation tasks
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

HELM: Fix wrong input type for closed book QA
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Remove unnecessary input noun for multiple choice QA
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Change prefixes to Vietnamese in information retrieval tasks
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Add fewshot option for information retrieval tasks
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Fix instruction for knowledge multiple choice questions
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Set input noun to None for multiple choice QA
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

MELT: Fix missing library
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

MELT: Initialize dashboard
  docs/reproducing_leaderboards.md
  helm-frontend/project_metadata.json
  helm-frontend/src/components/Landing/MELTLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Update run spec
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
Due: run-pre-commit-python

Update call transcript summarization landing page
  helm-frontend/src/components/Landing/CallTranscriptSummarizationLanding.tsx
Due: run-pre-commit-frontend

Fixes
  helm-frontend/src/components/Landing/CallTranscriptSummarizationLanding.tsx
Due: run-pre-commit-frontend

Add image dimensions
  helm-frontend/src/components/Landing/CallTranscriptSummarizationLanding.tsx
Due: run-pre-commit-frontend

Update call transcript summarization landing page (#3570)
  helm-frontend/src/components/Landing/CallTranscriptSummarizationLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-42060d71.css
  src/helm/benchmark/static_build/assets/index-76bf8c8a.js
  src/helm/benchmark/static_build/assets/index-778ed86c.css
  src/helm/benchmark/static_build/assets/index-cca7f508.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Medhelm jury (#3566)
  src/helm/benchmark/metrics/aci_bench_metrics.py
  src/helm/benchmark/metrics/chw_care_plan_metrics.py
  src/helm/benchmark/metrics/dischargeme_metrics.py
  src/helm/benchmark/metrics/llm_jury_metrics.py
  src/helm/benchmark/metrics/med_dialog_metrics.py
  src/helm/benchmark/metrics/medalign_metrics.py
  src/helm/benchmark/metrics/medi_qa_metrics.py
  src/helm/benchmark/metrics/medication_qa_metrics.py
  src/helm/benchmark/metrics/mental_health_metrics.py
  src/helm/benchmark/metrics/mimic_bhc_metrics.py
  src/helm/benchmark/metrics/mimic_rrs_metrics.py
  src/helm/benchmark/metrics/mtsamples_procedures_metrics.py
  src/helm/benchmark/metrics/mtsamples_replicate_metrics.py
  src/helm/benchmark/metrics/starr_patient_instructions_metrics.py
Due: run-pre-commit-python

Adding 21 Vietnamese LLMs (#3563)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none
