Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Add AudioMNIST Scenario
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_scenarios.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

Add description
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

Update doc
  src/helm/benchmark/scenarios/audio_scenarios.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/scenarios/audio_scenarios.py
Due: run-pre-commit-python

Link to VHELM and HEIM from the installation doc (#3089)
  docs/installation.md
Due: none

Add extra_data field to Instance
  src/helm/benchmark/scenarios/scenario.py
Due: run-pre-commit-python

undo
  src/helm/clients/together_client.py
Due: run-pre-commit-python

added mistral large and llama 3.1 models on Amazon Bedrock
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add support for Mistral Pixtral (2409) (#3073)
  setup.cfg
  src/helm/benchmark/presentation/run_entries_vhelm_lite.conf
  src/helm/clients/mistral_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

get rid of typo perturbation
  src/helm/benchmark/presentation/run_entries_vhelm.conf
  src/helm/benchmark/static/schema_vhelm.yaml
Due: none

Add extra_data field to Instance (#3094)
  src/helm/benchmark/scenarios/scenario.py
Due: run-pre-commit-python

Add GPT-4o Audio Preview (2024-10-01) model (#3091)
  src/helm/clients/openai_client.py
  src/helm/common/multimodal_request_utils.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

new scenarios
  src/helm/benchmark/scenarios/vision_language/blink_scenario.py
  src/helm/benchmark/scenarios/vision_language/mm_star_scenario.py
Due: run-pre-commit-python

Review fixes
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

Used the extra_data field in Instance to store chain of thought in the train instances of GPQA.
  src/helm/benchmark/scenarios/gpqa_scenario.py
Due: run-pre-commit-python

Add audio support to Gemini 1.5 models (#3092)
  src/helm/clients/vertexai_client.py
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Removed the chain of thought prefix/suffix for another PR
  src/helm/benchmark/scenarios/gpqa_scenario.py
Due: run-pre-commit-python

More fixes
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

Add web player for audio objects
  helm-frontend/src/components/MediaObjectDisplay.tsx
  helm-frontend/src/utils/getBenchmarkEndpoint.ts
Due: run-pre-commit-frontend

Fix
  helm-frontend/src/utils/getBenchmarkEndpoint.ts
Due: run-pre-commit-frontend

Add AudioMNIST scenario (#3093)
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_scenarios.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

Added the adapter specs for MC joint CoT and for the GPQA run specs
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/adaptation/common_adapter_specs.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Add temporary schema for Lite v2
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: none

formatting
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Added the MC Joint CoT adapter
  src/helm/benchmark/adaptation/adapters/adapter_factory.py
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_adapter.py
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_chain_of_thought_adapter.py
Due: run-pre-commit-python

capture cases where an instance has no extra data
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_chain_of_thought_adapter.py
Due: run-pre-commit-python

formatting
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_chain_of_thought_adapter.py
Due: run-pre-commit-python

deleting whitespaces in blank line, which somehow evaded from black
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_chain_of_thought_adapter.py
Due: run-pre-commit-python

Bugfix
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: none

Remove trailing space
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: none

Schema file for GPQA and MMLU-Pro. (#3100)
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: none

blink + mmstar in vhelm schema and conf
  src/helm/benchmark/presentation/run_entries_vhelm.conf
  src/helm/benchmark/presentation/run_entries_vhelm_debug.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/blink_scenario.py
  src/helm/benchmark/scenarios/vision_language/mm_star_scenario.py
  src/helm/benchmark/static/schema_vhelm.yaml
Due: run-pre-commit-python

Fix typo in downloading_raw_results.md
  docs/downloading_raw_results.md
Due: none

add qwen-audio-chat and rephrase audio-language scenario
  docs/models.md
  install-shelm-extras.sh
  setup.cfg
  src/helm/benchmark/model_metadata_registry.py
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/clients/audio_language/qwen_audiolm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

fix qwen-audio-chat
  src/helm/clients/audio_language/qwen_audiolm_client.py
Due: run-pre-commit-python

VHELM v2.1.0 (#3101)
  src/helm/benchmark/presentation/run_entries_vhelm.conf
  src/helm/benchmark/presentation/run_entries_vhelm_debug.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/blink_scenario.py
  src/helm/benchmark/scenarios/vision_language/mm_star_scenario.py
  src/helm/benchmark/static/schema_vhelm.yaml
Due: run-pre-commit-python

add qwen2-audio-instruct and improve qwen-audio model
  setup.cfg
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

fix cohere error with transformers
  src/helm/benchmark/model_metadata_registry.py
  src/helm/clients/cohere_client.py
Due: run-pre-commit-python
