Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Rename Vite config environment variable to VITE_HELM_FRONTEND_BASE
  helm-frontend/vite.config.ts
Due: run-pre-commit-frontend

Rename Vite config environment variable to VITE_HELM_FRONTEND_BASE (#3428)
  helm-frontend/vite.config.ts
Due: run-pre-commit-frontend

Load project_metadata.json from the website rather than GitHub (#3427)
  helm-frontend/src/components/CardGrid.tsx
  helm-frontend/src/components/NavDropdown.tsx
  helm-frontend/src/components/ReleaseDropdown.tsx
Due: run-pre-commit-frontend

Add more landing pages
  helm-frontend/src/components/Landing/LongContextLanding.tsx
  helm-frontend/src/components/Landing/SQLLanding.tsx
  helm-frontend/src/components/Landing/SpeechLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add more landing pages (#3430)
  helm-frontend/src/components/Landing/LongContextLanding.tsx
  helm-frontend/src/components/Landing/SQLLanding.tsx
  helm-frontend/src/components/Landing/SpeechLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

cleanup
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/static/schema_audio.yaml
Due: none

fix schmea
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/static/schema_audio.yaml
Due: none

fix black
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

fix check
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

update schema
  src/helm/benchmark/static/schema_audio.yaml
Due: none

added IBM as dependency
  setup.cfg
Due: none

fourth commit to generalize without config
  src/helm/benchmark/presentation/run_entries_reeval_air_bench_2024.conf
  src/helm/benchmark/presentation/run_entries_reeval_mmlu.conf
  src/helm/benchmark/reeval_run.py
  src/helm/benchmark/reeval_runner.py
  src/helm/benchmark/run_specs/reeval_run_specs.py
  src/helm/benchmark/scenarios/scenario.py
  src/helm/common/reeval_parameters.py
Due: run-pre-commit-python

Change seahelm ID from sea-helm to seahelm
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Change SEA-HELM frontend ID from sea-helm to seahelm (#3433)
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

fix issue in ehr sql
  src/helm/benchmark/annotation/ehr_sql_annotator.py
  src/helm/benchmark/metrics/ehr_sql_metrics.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/ehr_sql_scenario.py
Due: run-pre-commit-python

Improve URL generation for audio media objects in GCS
  helm-frontend/src/components/MediaObjectDisplay.tsx
  helm-frontend/src/utils/getBenchmarkEndpoint.ts
Due: run-pre-commit-frontend

Improve URL generation for audio media objects in GCS (#3434)
  helm-frontend/src/components/MediaObjectDisplay.tsx
  helm-frontend/src/utils/getBenchmarkEndpoint.ts
Due: run-pre-commit-frontend

black format ehr sql scenario
  src/helm/benchmark/scenarios/ehr_sql_scenario.py
Due: run-pre-commit-python

change ehr sql metric none handling
  src/helm/benchmark/metrics/ehr_sql_metrics.py
Due: run-pre-commit-python

change ehr sql metric formatting
  src/helm/benchmark/metrics/ehr_sql_metrics.py
Due: run-pre-commit-python

fix ehr sql prompt format, add default black formatter
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

modify medec metric and mtsamples procedures
  src/helm/benchmark/metrics/medec_metrics.py
  src/helm/benchmark/scenarios/medec_scenario.py
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.py
Due: run-pre-commit-python

Updates
  src/helm/benchmark/metrics/medcalc_bench_metrics.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/aci_bench_scenario.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/scenarios/ehr_sql_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/headqa_scenario.py
  src/helm/benchmark/scenarios/medi_qa_scenario.py
  src/helm/benchmark/scenarios/pubmed_qa_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Add link to AISG SEA-HELM Leaderboard
  helm-frontend/public/config.js
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
Due: run-pre-commit-frontend

Revert config.js
  helm-frontend/public/config.js
Due: run-pre-commit-frontend

Add link to AISG SEA-HELM Leaderboard (#3436)
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
Due: run-pre-commit-frontend

Added medalign lxml dependency to setup.cfg
  setup.cfg
Due: none

modify mtsamples procedures format
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.py
Due: run-pre-commit-python

modify format
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/aci_bench_scenario.py
  src/helm/benchmark/scenarios/ehr_sql_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/headqa_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
Due: run-pre-commit-python

AHELM fix v0 (#3432)
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

initial fix
  src/helm/clients/ibm_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

workaround
  src/helm/config/model_deployments.yaml
Due: none

set max tokens to be greater than budget tokens
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

set timeout
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

increase timeout
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

fix temp
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

fix prams
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

cleanup
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python

cleanup
  setup.cfg
  src/helm/clients/anthropic_client.py
Due: run-pre-commit-python
