Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Fix empty output handling
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

Add hlog for epmty output
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

Handle Azure OpenAI content filter (second try) (#3321)
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Various fixes
  src/helm/benchmark/annotation/wildbench_annotator.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/metrics/omni_math_metrics.py
Due: run-pre-commit-python

fix throat clearing
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
Due: run-pre-commit-python

rename to audio
  src/helm/benchmark/presentation/run_entries_audio.conf
Due: none

Fix Azure content filter error
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Fix lint
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Fix Vocal Sound reference for throat clearing (#3325)
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/scenarios/audio_language/vocal_sound_scenario.py
Due: run-pre-commit-python

Improve leaderboard frontend navigation
  helm-frontend/src/App.tsx
  helm-frontend/src/routes/Group.tsx
  helm-frontend/src/routes/Leaderboard.tsx
  helm-frontend/src/routes/Scenarios.tsx
Due: run-pre-commit-frontend

Fixes
  helm-frontend/src/routes/Leaderboard.tsx
Due: run-pre-commit-frontend

Added support for Microsoft's policy content filter
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Fix
  helm-frontend/src/routes/Leaderboard.tsx
Due: run-pre-commit-frontend

Fix Azure content filter error (#3327)
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Set max train instances to 0 for missing MedHELM scenarios
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

chw_care_plan scenario
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

fix EHRShot prompt
  src/helm/benchmark/scenarios/ehrshot_scenario.py
Due: run-pre-commit-python

feat: add phi3.5 quantized
  src/helm/config/model_deployments.yaml
Due: none

feat: add starr patient instructions dataset
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

Added support for max length for Medalign scenario
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/medalign.yaml
  src/helm/benchmark/scenarios/medalign_scenario.py
Due: run-pre-commit-python

updated bertscore to fix range issue
  src/helm/benchmark/metrics/summarization_metrics.py
Due: run-pre-commit-python

Merged main
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

fix: starr patient instructions prompt
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/medalign.yaml
Due: run-pre-commit-python

Modified EHRSHOT prompt
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
Due: run-pre-commit-python

feat: remove medalign yaml
  src/helm/benchmark/scenarios/medalign.yaml
Due: none

feat: add clear dataset
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

add azure ml client
  src/helm/clients/azure_ml_client.py
Due: run-pre-commit-python

Update model_deployments.yaml
  src/helm/config/model_deployments.yaml
Due: none

feat: clear edits
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

feat: add mcq to reference
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/clear_scenario.py
Due: run-pre-commit-python

fix: prompt for med_dialog
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

Release AIR-Bench v1.4.0
  helm-frontend/project_metadata.json
Due: none

fix chw benchmark, catch empty examples
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
Due: run-pre-commit-python

feat: predefined one shot logic
  src/helm/benchmark/metrics/medcalc_bench_metrics.py
  src/helm/benchmark/run_specs/medcalc_bench_specs.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
Due: run-pre-commit-python

Editing some files
  src/helm/benchmark/run_specs/oab_exams_specs.py
  src/helm/benchmark/scenarios/oab_exams_scenario.py
Due: run-pre-commit-python

SHC scenarios, client, deployments and run_specs
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
  src/helm/clients/stanfordhealthcare_shc_openai_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Release AIR-Bench v1.4.0 (#3328)
  helm-frontend/project_metadata.json
Due: none

Improve leaderboard frontend navigation (#3330)
  helm-frontend/src/App.tsx
  helm-frontend/src/routes/Group.tsx
  helm-frontend/src/routes/Leaderboard.tsx
  helm-frontend/src/routes/Scenarios.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-31e03f9a.css
  src/helm/benchmark/static_build/assets/index-4c9ec27a.js
  src/helm/benchmark/static_build/assets/index-66622a2b.js
  src/helm/benchmark/static_build/assets/index-aba4e626.css
  src/helm/benchmark/static_build/assets/react-f82877fd.js
  src/helm/benchmark/static_build/assets/recharts-4037aff0.js
  src/helm/benchmark/static_build/assets/tremor-9cefc3c5.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
