Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Allow using Hugging Face models without configuration (#3983)
  src/helm/benchmark/model_deployment_registry.py
  src/helm/benchmark/tokenizer_config_registry.py
Due: run-pre-commit-python

Fixes?
  src/helm/benchmark/server.py
Due: run-pre-commit-python

Remove symlinks
  src/helm/benchmark/annotation/image2struct/webpage_compiler_annotator.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/run.py
  src/helm/benchmark/runner.py
  src/helm/benchmark/server.py
  src/helm/common/general.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/server.py
Due: run-pre-commit-python

Formatting
  src/helm/benchmark/server.py
Due: run-pre-commit-python

refactor: consolidate MedCalc-Bench scenario versions into a single function with version parameter
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/scenarios/test_medcalc_bench_scenario.py
Due: run-pre-commit-python

fix: update get_medcalc_bench_spec to handle version parameter and adjust run spec name
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

removed: unrelated to this pr
  src/helm/benchmark/scenarios/math_scenario.py
Due: run-pre-commit-python

reasoning
  src/helm/benchmark/metrics/math_metrics.py
  src/helm/benchmark/presentation/run_entries_reasoning.conf
  src/helm/benchmark/run_specs/reasoning_run_specs.py
  src/helm/benchmark/scenarios/aime_scenario.py
  src/helm/benchmark/scenarios/math500_scenario.py
  src/helm/benchmark/static/schema_reasoning.yaml
Due: run-pre-commit-python

qwen3
  src/helm/benchmark/scenarios/aime_scenario.py
  src/helm/clients/qwen3_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Move dependabot.yml to .github
  .github/dependabot.yml
Due: none

Move dependabot.yml to .github (#3985)
  .github/dependabot.yml
Due: none

Use npm ecosystem in dependabot.yml
  .github/dependabot.yml
Due: none

Use npm ecosystem in dependabot.yml (#3986)
  .github/dependabot.yml
Due: none

log
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

Build frontend
  src/helm/benchmark/static_build/assets/index-BdRJBQ1-.css
  src/helm/benchmark/static_build/assets/index-BnwHD_OD.js
  src/helm/benchmark/static_build/assets/index-DiW-3hLI.css
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Remove usages of symlinks (#3984)
  src/helm/benchmark/annotation/image2struct/webpage_compiler_annotator.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/run.py
  src/helm/benchmark/runner.py
  src/helm/benchmark/server.py
  src/helm/common/general.py
Due: run-pre-commit-python

Support newer versions of MedCalc-Bench (#3921)
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/math_scenario.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/scenarios/test_medcalc_bench_scenario.py
Due: run-pre-commit-python

debug
  test_qwen3.py
Due: run-pre-commit-python

debug
  src/helm/clients/qwen3_client.py
  test_qwen3.py
Due: run-pre-commit-python

aime
  src/helm/benchmark/presentation/run_entries_reasoning.conf
Due: none

decoding parameters
  src/helm/benchmark/run_specs/reasoning_run_specs.py
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

increase
  src/helm/benchmark/presentation/run_entries_reasoning.conf
Due: none

5000
  src/helm/benchmark/presentation/run_entries_reasoning.conf
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

debug faster
  src/helm/clients/qwen3_client.py
  test_qwen3.py
Due: run-pre-commit-python

redo
  test_qwen3.py
Due: run-pre-commit-python

flash
  test_qwen3.py
Due: run-pre-commit-python

inputs
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

inputs
  src/helm/benchmark/presentation/run_entries_reasoning.conf
Due: none

30000
  src/helm/benchmark/presentation/run_entries_reasoning.conf
Due: none

30000
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

force
  src/helm/clients/qwen3_client.py
Due: run-pre-commit-python

faaster:
  test_qwen3.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
