Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

downgrade
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

lift weak
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Update MEDIQA scenario description for clarity
  src/helm/benchmark/scenarios/medi_qa_scenario.py
Due: run-pre-commit-python

Fix bugs for PolyGuard scenario
  src/helm/benchmark/annotation/lmkt_polyguard_annotator.py
  src/helm/benchmark/metrics/common_metric_specs.py
  src/helm/benchmark/metrics/regression_metrics.py
Due: run-pre-commit-python

square weak
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

update square
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

update weak
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

Add AceGPT-v2, ALLaM and SILMA Arabic language models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add AceGPT-v2, ALLaM and SILMA Arabic language models (#3867)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Reorder scenarios in long context leaderboard to match blog post
  src/helm/benchmark/static/schema_long_context.yaml
Due: none

Edit Long Context landing page
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Add links to model cards for long context models
  src/helm/config/model_metadata.yaml
Due: none

More descriptions
  src/helm/config/model_metadata.yaml
Due: none

Add links to model cards for long context models (#3870)
  src/helm/config/model_metadata.yaml
Due: none

Fixes
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Edit Long Context landing page (#3869)
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Add left padding to list in Long Context landing
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Add left padding to list in Long Context landing (#3871)
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/audio-table-fc8f0e23.png
  src/helm/benchmark/static_build/assets/index-1f10edf6.js
  src/helm/benchmark/static_build/assets/index-671a5e06.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add metadata to long context, finance and legal scenarios
  src/helm/benchmark/scenarios/banking77_scenario.py
  src/helm/benchmark/scenarios/bird_sql_scenario.py
  src/helm/benchmark/scenarios/czech_bank_qa_scenario.py
  src/helm/benchmark/scenarios/financebench_scenario.py
  src/helm/benchmark/scenarios/infinite_bench_en_mc_scenario.py
  src/helm/benchmark/scenarios/infinite_bench_en_sum_scenario.py
  src/helm/benchmark/scenarios/legalbench_scenario.py
  src/helm/benchmark/scenarios/openai_mrcr_scenario.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
  src/helm/benchmark/scenarios/spider_scenario.py
  src/helm/benchmark/scenarios/thai_exam_scenario.py
Due: run-pre-commit-python

Reorder scenarios in long context leaderboard to match blog post (#3868)
  src/helm/benchmark/static/schema_long_context.yaml
Due: none

Add metadata to long context, finance and legal scenarios (#3872)
  src/helm/benchmark/scenarios/banking77_scenario.py
  src/helm/benchmark/scenarios/bird_sql_scenario.py
  src/helm/benchmark/scenarios/czech_bank_qa_scenario.py
  src/helm/benchmark/scenarios/financebench_scenario.py
  src/helm/benchmark/scenarios/infinite_bench_en_mc_scenario.py
  src/helm/benchmark/scenarios/infinite_bench_en_sum_scenario.py
  src/helm/benchmark/scenarios/legalbench_scenario.py
  src/helm/benchmark/scenarios/openai_mrcr_scenario.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
  src/helm/benchmark/scenarios/spider_scenario.py
  src/helm/benchmark/scenarios/thai_exam_scenario.py
Due: run-pre-commit-python

Add DeepSeek-R1-Distill-Llama-70B and DeepSeek-R1-Distill-Qwen-14B
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add DeepSeek-R1-Distill-Llama-8B back
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Update MEDIQA scenario description for clarity (#3866)
  src/helm/benchmark/scenarios/medi_qa_scenario.py
Due: run-pre-commit-python

Added requirments section
  docs/medhelm.md
Due: none

Added exaplanation of max tokens
  docs/medhelm.md
Due: none

Added explanation of max eval instances
  docs/medhelm.md
Due: none

280
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

update checkpoint
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

Added comment on Python 3.12 for GCP CLI
  docs/medhelm.md
Due: none

Updated examples to use environment variables
  docs/medhelm.md
Due: none

for final roborewardbench
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
  src/helm/benchmark/static/schema_video.yaml
Due: run-pre-commit-python

more runs
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
Due: none

penalize:
  src/helm/benchmark/metrics/robo_reward_bench_metrics.py
Due: run-pre-commit-python

Make priority optional for run entries (#3865)
  src/helm/benchmark/presentation/run_entry.py
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Add reproduction instructions for Capabilities leaderboard (#3864)
  docs/reproducing_leaderboards.md
  src/helm/benchmark/presentation/run_entries_safety.conf
  src/helm/benchmark/presentation/run_entries_safety_palmyra_x5.conf
  src/helm/benchmark/presentation/run_entries_safety_reasoning.conf
Due: none

Undo stray newline
  src/helm/config/model_deployments.yaml
Due: none

Moved documentation to download leaderboard results to medhelm.md
  docs/medhelm.md
Due: none
