Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

MELT: Add Vietnamese bias and toxicity metrics
  src/helm/benchmark/metrics/melt_bias_metric.py
  src/helm/benchmark/metrics/melt_bias_word_lists.py
  src/helm/benchmark/metrics/melt_metrics.py
  src/helm/benchmark/metrics/melt_toxicity_metric.py
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/static/schema_melt.yaml
Due: run-pre-commit-python

MELT: Update MATH dataset
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

fix: remover other_prompt.txt and add some comments
  src/helm/benchmark/prompts/other_prompt.txt
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

refactor: change default_prompt.txt to english
  src/helm/benchmark/prompts/default_prompt.txt
Due: none

fix multiple content parts
  src/helm/clients/vertexai_client.py
Due: run-pre-commit-python

Support reasoning_content from vLLM model responses
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Lint
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

MELT: Finalize metric implementation
  src/helm/benchmark/adaptation/common_adapter_specs.py
  src/helm/benchmark/metrics/melt_bias_metric.py
  src/helm/benchmark/metrics/melt_bias_word_lists.py
  src/helm/benchmark/metrics/melt_toxicity_metric.py
  src/helm/benchmark/metrics/summac/model_summac.py
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

Support reasoning_content from vLLM model responses (#3632)
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Add SLP Helm Leaderboard (#3626)
  docs/reproducing_leaderboards.md
  helm-frontend/project_metadata.json
  helm-frontend/src/components/Landing/SLPHelmLanding.tsx
  helm-frontend/src/routes/Home.tsx
  src/helm/benchmark/presentation/run_entries_slphelm.conf
  src/helm/benchmark/static/schema_slphelm.yaml
Due: run-pre-commit-frontend

Remove project_metadata.json
  helm-frontend/project_metadata.json
Due: none

Remove unused project_metadata.json (#3633)
  helm-frontend/project_metadata.json
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/index-176d8a15.css
  src/helm/benchmark/static_build/assets/index-2b8b9628.css
  src/helm/benchmark/static_build/assets/index-69c16982.js
  src/helm/benchmark/static_build/assets/index-84bb5365.js
  src/helm/benchmark/static_build/assets/medhelm-overview-eac29843.png
  src/helm/benchmark/static_build/assets/medhelm-v1-overview-3ddfcd65.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

MELT: Optimize code and remove unnecessary stuffs
  src/helm/benchmark/metrics/melt_bias_metric.py
  src/helm/benchmark/metrics/melt_bias_word_lists.py
  src/helm/benchmark/metrics/melt_toxicity_metric.py
Due: run-pre-commit-python

Resolve comments
  docs/medhelm.md
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario_helper.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
  src/helm/common/general.py
Due: run-pre-commit-python

Resolve comments
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
Due: run-pre-commit-python

Medhelm Update (#3631)
  docs/medhelm.md
  docs/reproducing_leaderboards.md
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/presentation/run_entries_medhelm_gated.conf
  src/helm/benchmark/presentation/run_entries_medhelm_private_stanford.conf
  src/helm/benchmark/presentation/run_entries_medhelm_public.conf
  src/helm/benchmark/presentation/run_entries_medhelm_reasoning.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario_helper.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
  src/helm/common/general.py
Due: run-pre-commit-python

Fix order of benchmark dropdown
  src/helm/benchmark/static/schema_medhelm.yaml
Due: none

Add DeepSeek-R1-0528
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Update data source
  src/helm/benchmark/scenarios/viet_wvs_scenario.py
Due: run-pre-commit-python

Add DeepSeek-R1-0528 (#3636)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fixed markdown for python commands
  docs/medhelm.md
Due: none

Upgrade requirements.txt
  requirements.txt
Due: none

Fix order of benchmark dropdown (#3635)
  src/helm/benchmark/static/schema_medhelm.yaml
Due: none

Added link to publication
  docs/medhelm.md
Due: none

Fixed markdown for python commands (#3637)
  docs/medhelm.md
Due: none

Add link to MedHELM paper
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
  helm-frontend/src/components/Landing/MedHELMV1Landing.tsx
Due: run-pre-commit-frontend

Add link to MedHELM paper (#3639)
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
  helm-frontend/src/components/Landing/MedHELMV1Landing.tsx
Due: run-pre-commit-frontend

Use 10k default budget tokens for Claude extended thinking
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Use 10k default budget tokens for Claude extended thinking (#3640)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Also default Claude 4 Opus extended thinking to 10k budget tokens
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Also default Claude 4 Opus extended thinking to 10k budget tokens (#3641)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

sample video frames
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/model_metadata_registry.py
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_spec_factory.py
  src/helm/benchmark/runner.py
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
  src/helm/common/images_utils.py
  src/helm/common/request.py
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

sample video frames
  src/helm/common/video_understanding_parameters.py
Due: run-pre-commit-python

added code_evaluation_metrics.py
  src/helm/benchmark/metrics/code_evaluation_metrics.py
  src/helm/benchmark/run_specs/student_run_specs.py
Due: run-pre-commit-python

fix: change the llm judge flow
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

feat: remove intermediate judge files and include full summary in llm_judge_summary.json
  src/helm/benchmark/judge_llm.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

refactor: move judge summary and prediction extraction to judge_llm module
  src/helm/benchmark/judge_llm.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

feat:add partial impl to show llm judge metrics in UI web
  helm-frontend/src/components/LLMJudgeDisplay.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getLLMJudgeDataByName.ts
  helm-frontend/src/types/LLMJudgeData.ts
Due: run-pre-commit-frontend

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
