Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Update ehrshot_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
Due: run-pre-commit-python

Update medbullets_scenario.py
  src/helm/benchmark/scenarios/medbullets_scenario.py
Due: run-pre-commit-python

Update mental_health_scenario.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
Due: run-pre-commit-python

Update starr_patient_instructions_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
Due: run-pre-commit-python

Move Marin to HuggingFaceClient
  src/helm/config/model_deployments.yaml
Due: none

Apply chat template in HuggingFaceClient
  src/helm/clients/huggingface_client.py
  src/helm/clients/huggingface_pipeline_client.py
Due: run-pre-commit-python

Fixes
  src/helm/clients/huggingface_client.py
  src/helm/clients/huggingface_pipeline_client.py
Due: run-pre-commit-python

Fixes
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Allow setting `apply_chat_template` explicitly
  src/helm/clients/huggingface_client.py
  src/helm/clients/huggingface_pipeline_client.py
Due: run-pre-commit-python

Updated MedHELM benchmark descriptions (#3673)
  src/helm/benchmark/scenarios/aci_bench_scenario.py
  src/helm/benchmark/scenarios/chw_care_plan_scenario.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/ehr_sql_scenario.py
  src/helm/benchmark/scenarios/ehrshot_scenario.py
  src/helm/benchmark/scenarios/headqa_scenario.py
  src/helm/benchmark/scenarios/med_dialog_scenario.py
  src/helm/benchmark/scenarios/medalign_scenario.py
  src/helm/benchmark/scenarios/medbullets_scenario.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/scenarios/medec_scenario.py
  src/helm/benchmark/scenarios/medhallu_scenario.py
  src/helm/benchmark/scenarios/medi_qa_scenario.py
  src/helm/benchmark/scenarios/medication_qa_scenario.py
  src/helm/benchmark/scenarios/mental_health_scenario.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.py
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/pubmed_qa_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
  src/helm/benchmark/scenarios/shc_bmt_scenario.py
  src/helm/benchmark/scenarios/shc_cdi_scenario.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
  src/helm/benchmark/scenarios/shc_ent_scenario.py
  src/helm/benchmark/scenarios/shc_gip_scenario.py
  src/helm/benchmark/scenarios/shc_privacy_scenario.py
  src/helm/benchmark/scenarios/shc_proxy_scenario.py
  src/helm/benchmark/scenarios/shc_ptbm_scenario.py
  src/helm/benchmark/scenarios/shc_sei_scenario.py
  src/helm/benchmark/scenarios/shc_sequoia_scenario.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Lint
  src/helm/clients/huggingface_pipeline_client.py
Due: run-pre-commit-python

feat: include multiple choice alternatives in LLM judge prompts
  src/helm/benchmark/judge_llm.py
  src/helm/benchmark/prompts/default_prompt.txt
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

Add warning
  src/helm/clients/huggingface_client.py
  src/helm/clients/huggingface_pipeline_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

fix: add explicit None checks for Optional[ScenarioState] to satisfy mypy
  src/helm/benchmark/judge_llm.py
Due: run-pre-commit-python

refactor: remove unnecessary print
  src/helm/benchmark/judge_llm.py
Due: run-pre-commit-python

Fix bugs
  src/helm/clients/huggingface_client.py
  src/helm/clients/huggingface_pipeline_client.py
Due: run-pre-commit-python

Fix
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Fix Marin config
  src/helm/config/model_deployments.yaml
Due: none

Add Gemini 2.5 Flash-Lite (#3677)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

all videos fps=1
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
Due: run-pre-commit-python

Fix bugs in benchmark code
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
  src/helm/clients/audio_language/qwen2_5_omni_client.py
  src/helm/clients/audio_language/qwen_omni/modeling_qwen2_5_omni.py
  src/helm/clients/audio_language/qwen_omni/processing_qwen2_5_omni.py
Due: run-pre-commit-python

LMKT: Initialize first two scenarios
  src/helm/benchmark/metrics/lmkt_metric_specs.py
  src/helm/benchmark/metrics/lmkt_metrics.py
  src/helm/benchmark/presentation/run_entries_lmkt.conf
  src/helm/benchmark/run_specs/lmkt_run_specs.py
  src/helm/benchmark/scenarios/lmkt_scenarios.py
Due: run-pre-commit-python

Apply chat template in HuggingFaceClient and make chat template usage configurable (#3678)
  src/helm/clients/huggingface_client.py
  src/helm/clients/huggingface_pipeline_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

fixes pagination of metrics displayed on the front-end. (#3646)
  helm-frontend/src/components/RunMetrics.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-2b8b9628.css
  src/helm/benchmark/static_build/assets/index-84bb5365.js
  src/helm/benchmark/static_build/assets/index-94295e78.js
  src/helm/benchmark/static_build/assets/index-b9779128.css
  src/helm/benchmark/static_build/assets/medhelm-overview-eac29843.png
  src/helm/benchmark/static_build/assets/medhelm-v1-overview-3ddfcd65.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add back in OpenAI Responses Client (#3652)
  src/helm/clients/openai_client.py
  src/helm/clients/openai_responses_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Switch client for o3-pro to Responses API
  src/helm/config/model_deployments.yaml
Due: none

6/20 Most Updated Code
  src/helm/benchmark/metrics/code_evaluation_metrics.py
  src/helm/benchmark/metrics/codeinsights_metric_specs.py
  src/helm/benchmark/metrics/edge_case_metrics.py
  src/helm/benchmark/run_specs/edge_case_run_specs.py
  src/helm/benchmark/scenarios/edge_case_scenario.py
Due: run-pre-commit-python

SLPHelm: Revise implementation of scenarios
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_transcription_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/clients/audio_language/qwen_omni/processing_qwen2_5_omni.py
Due: run-pre-commit-python

Fix format
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
Due: run-pre-commit-python

feat: add Gemma-3-Gaia-PT-BR-4B-it model
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

feat: add Sabia, Bode, Cabrita, Grevasio PT, Tucano e TeenyTinyLlama
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

second commit
  scripts/validity_check.py
  src/helm/benchmark/presentation/run_display.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

LMKT: Fix minor bugs in the first two scenarios
  setup.cfg
  src/helm/benchmark/metrics/lmkt_metric_specs.py
  src/helm/benchmark/metrics/lmkt_metrics.py
  src/helm/benchmark/run_specs/lmkt_run_specs.py
  src/helm/benchmark/scenarios/lmkt_scenarios.py
Due: run-pre-commit-python

Loosen versions
  setup.cfg
Due: none

LMKT: Improve code based on Yifan's comments
  src/helm/benchmark/run_specs/lmkt_run_specs.py
  src/helm/benchmark/scenarios/lmkt_scenarios.py
Due: run-pre-commit-python

Fix loglevel in logging wrapper
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python

LMKT: Fix argument type
  src/helm/benchmark/metrics/lmkt_metric_specs.py
Due: run-pre-commit-python

Loosen dependency versions (#3681)
  setup.cfg
Due: none

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
