Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

feat: add max eval instances
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Use Anthropic tokenizer from Hugging Face (#3467)
  setup.cfg
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/anthropic_tokenizer.py
  src/helm/tokenizers/caching_tokenizer.py
  src/helm/tokenizers/test_anthropic_tokenizer.py
  src/helm/tokenizers/tokenizer.py
Due: run-pre-commit-python

Update requirements.txt
  requirements.txt
Due: none

Add MedHELM to documentation for downloading raw results (#3462)
  docs/downloading_raw_results.md
Due: none

Added the MIMIC-IV-BHC benchmark to MedHelm scenarios (#3459)
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Add ConvFinQACalc (#3453)
  src/helm/benchmark/metrics/conv_fin_qa_calc_metrics.py
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/conv_fin_qa_calc_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

fix: linting and eval instances
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/clear_scenario.py
Due: run-pre-commit-python

feat: add complete implementation of CLEAR dataset (#3466)
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Set trust_remote_code for TyDiQA
  src/helm/benchmark/scenarios/seahelm_scenario.py
Due: run-pre-commit-python

Add python-crfsuite
  setup.cfg
Due: none

Set trust_remote_code for TyDiQA (#3473)
  setup.cfg
  src/helm/benchmark/scenarios/seahelm_scenario.py
Due: run-pre-commit-python

fix qwen2 audio
  src/helm/clients/audio_language/qwen2_audiolm_client.py
Due: run-pre-commit-python

update
  src/helm/clients/audio_language/qwen2_audiolm_client.py
Due: run-pre-commit-python

update fix
  src/helm/benchmark/scenarios/audio_language/voxceleb2_scenario.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
Due: run-pre-commit-python

adaptation start
  src/helm/clients/ibm_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Fix Qwen2-Audio-Instruct empty outputs (#3474)
  src/helm/benchmark/scenarios/audio_language/voxceleb2_scenario.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
Due: run-pre-commit-python

to rerun voxceleb
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
Due: none

revert
  src/helm/benchmark/scenarios/audio_language/voxceleb2_scenario.py
Due: run-pre-commit-python

Add Palmyra Fin model
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add Palmyra Fin model (#3475)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Make long context length configurable and fix run names
  src/helm/benchmark/presentation/run_entries_long_context.conf
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
  src/helm/benchmark/scenarios/test_infinite_bench_sum_scenario.py
Due: run-pre-commit-python

Remove whitespace
  src/helm/benchmark/presentation/run_entries_long_context.conf
Due: none

Make long context length configurable and fix run names (#3476)
  src/helm/benchmark/presentation/run_entries_long_context.conf
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/infinite_bench_sum_scenario.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
  src/helm/benchmark/scenarios/test_infinite_bench_sum_scenario.py
Due: run-pre-commit-python

Set trust_remote_code for banking77
  src/helm/benchmark/scenarios/banking77_scenario.py
Due: run-pre-commit-python

Set trust_remote_code for banking77 (#3477)
  src/helm/benchmark/scenarios/banking77_scenario.py
Due: run-pre-commit-python

Fix bugs and update name convention
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenario.py
Due: run-pre-commit-python

Add Mistral Small 3.1 model
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add Mistral Small 3.1 model (#3478)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Minor edits to HELM Finance landing and schema
  helm-frontend/src/components/Landing/FinanceLanding.tsx
  src/helm/benchmark/static/schema_finance.yaml
Due: run-pre-commit-frontend

Add efficiency metric
  src/helm/benchmark/static/schema_finance.yaml
Due: none

updated data directory for minor bug resolution
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
Due: run-pre-commit-python

Minor edits to HELM Finance landing and schema (#3479)
  helm-frontend/src/components/Landing/FinanceLanding.tsx
  src/helm/benchmark/static/schema_finance.yaml
Due: run-pre-commit-frontend

med-hallu with error in mapping
  src/helm/benchmark/scenarios/medhallu_scenario.py
Due: run-pre-commit-python

Update LLM as a judge
  src/helm/benchmark/annotation/aci_bench_annotator.py
  src/helm/benchmark/annotation/chw_care_plan_annotator.py
  src/helm/benchmark/annotation/dischargeme_annotator.py
  src/helm/benchmark/annotation/med_dialog_annotator.py
  src/helm/benchmark/annotation/medalign_annotator.py
  src/helm/benchmark/annotation/medi_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/mental_health_annotator.py
  src/helm/benchmark/annotation/mimic_rrs_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/mtsamples_procedures_annotator.py
  src/helm/benchmark/annotation/mtsamples_replicate_annotator.py
  src/helm/benchmark/annotation/starr_patient_instructions_annotator.py
  src/helm/benchmark/metrics/aci_bench_metrics.py
  src/helm/benchmark/metrics/chw_care_plan_metrics.py
  src/helm/benchmark/metrics/dischargeme_metrics.py
  src/helm/benchmark/metrics/med_dialog_metrics.py
  src/helm/benchmark/metrics/medalign_metrics.py
  src/helm/benchmark/metrics/medi_qa_metrics.py
  src/helm/benchmark/metrics/medication_qa_metrics.py
  src/helm/benchmark/metrics/mental_health_metrics.py
  src/helm/benchmark/metrics/mimic_rrs_metrics.py
  src/helm/benchmark/metrics/mtsamples_procedures_metrics.py
  src/helm/benchmark/metrics/mtsamples_replicate_metrics.py
  src/helm/benchmark/metrics/starr_patient_instructions_metrics.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Add links to Finance landing and schema
  helm-frontend/src/components/Landing/FinanceLanding.tsx
  src/helm/benchmark/static/schema_finance.yaml
Due: run-pre-commit-frontend

Fixes
  helm-frontend/src/components/Landing/FinanceLanding.tsx
Due: run-pre-commit-frontend

medhallu with proper adapter
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhallu_scenario.py
Due: run-pre-commit-python

Switch SEAHELM to use mean score instead
  src/helm/benchmark/static/schema_seahelm.yaml
Due: none

precommit updates
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhallu_scenario.py
Due: run-pre-commit-python
