Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Add run spec
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/speech_disorder_scenario.py
Due: run-pre-commit-python

update gitignore
  .gitignore
Due: none

Add Grok 3 models
  src/helm/clients/grok_client.py
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Add Grok 3 models (#3518)
  src/helm/clients/grok_client.py
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Use Grok tokenizer API
  src/helm/config/model_deployments.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/grok_tokenizer.py
  src/helm/tokenizers/test_grok_tokenizer.py
Due: run-pre-commit-python

Fix doc
  src/helm/tokenizers/grok_tokenizer.py
Due: run-pre-commit-python

Use Grok API for tokenizing text (#3519)
  src/helm/config/model_deployments.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/grok_tokenizer.py
  src/helm/tokenizers/test_grok_tokenizer.py
Due: run-pre-commit-python

Add Call Transcript Summarization Leaderboard landing
  helm-frontend/src/components/Landing/CallTranscriptSummarizationLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add Call Transcript Summarization Leaderboard landing (#3520)
  helm-frontend/src/components/Landing/CallTranscriptSummarizationLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Revert medhelm run specs and update configuration file by adding num_output_tokens
  src/helm/benchmark/presentation/run_entries_medhelm_reasoning.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

update
  src/helm/benchmark/static/schema_audio.yaml
Due: none

Added models contributions
  docs/medhelm.md
Due: none

refusal metric
  src/helm/benchmark/metrics/gpt4_audio_refusal_metrics.py
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

fix metric
  src/helm/benchmark/metrics/gpt4_audio_refusal_metrics.py
Due: run-pre-commit-python

Only use .mp3 for opanai
  src/helm/benchmark/scenarios/audio_language/speech_disorder_scenario.py
Due: run-pre-commit-python

Update scenerio
  src/helm/benchmark/scenarios/audio_language/speech_disorder_scenario.py
Due: run-pre-commit-python

Add ultrax processing
  requirements.txt
  scripts/process_audio_data.py
  src/helm/benchmark/scenarios/audio_language/speech_disorder_scenario.py
Due: run-pre-commit-python

Util
  scripts/process_audio_data.py
Due: run-pre-commit-python

Add GPT-4.1 models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add GPT-4.1 models (#3527)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fix incorrect names of GPT-4.1 models
  src/helm/config/model_metadata.yaml
Due: none

Add metadata for Grok 3 models
  src/helm/config/model_metadata.yaml
Due: none

Fix typo
  src/helm/config/model_metadata.yaml
Due: none

Fix incorrect names of GPT-4.1 models (#3528)
  src/helm/config/model_metadata.yaml
Due: none

Add metadata for Grok 3 models (#3529)
  src/helm/config/model_metadata.yaml
Due: none

enable flash-attn2
  setup.cfg
  src/helm/clients/audio_language/qwen2_5_omni_client.py
Due: run-pre-commit-python

Measure refusal rate for audio safety (#3523)
  setup.cfg
  src/helm/benchmark/metrics/gpt4_audio_refusal_metrics.py
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/benchmark/static/schema_vhelm.yaml
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Enable flash-attn2 in Qwen2.5-Omni-7B audio scenarios (#3530)
  setup.cfg
  src/helm/clients/audio_language/qwen2_5_omni_client.py
Due: run-pre-commit-python

Update requirements.txt
  requirements.txt
Due: none

Fix linting issues in medhelm_run_specs.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Medhelm Documentation (#3522)
  docs/medhelm.md
  docs/reproducing_leaderboards.md
Due: none

Remove util
  scripts/process_audio_data.py
Due: run-pre-commit-python

Rewrite new metrics and add back old metrics
  src/helm/benchmark/metrics/kpi_edgar_metrics.py
  src/helm/benchmark/metrics/kpi_edgar_old_metrics.py
  src/helm/benchmark/metrics/statistic.py
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Remove old metrics
  src/helm/benchmark/metrics/kpi_edgar_old_metrics.py
  src/helm/benchmark/run_specs/enterprise_run_specs.py
Due: run-pre-commit-python

Remove stray change
  src/helm/benchmark/metrics/statistic.py
Due: run-pre-commit-python

Update medhelm run specifications (#3508)
  src/helm/benchmark/presentation/run_entries_medhelm_reasoning.conf
Due: none

Change Grok 3 Beta access to limited
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none
