Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

flash
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

moe
  src/helm/clients/vision_language/qwen3_vlm_client.py
Due: run-pre-commit-python

flash
  src/helm/clients/audio_language/qwen2_5_omni_client.py
Due: run-pre-commit-python

Move Mistral Large 2 (2407) to use Hugging Face verison
  src/helm/config/model_deployments.yaml
Due: none

Add Cohere Labs Command A
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Fix names
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Update schema, model metadata and scenario metadata for HELM Arabic
  helm-frontend/public/config.js
  helm-frontend/src/components/Landing/ArabicLanding.tsx
  helm-frontend/src/routes/Home.tsx
  src/helm/benchmark/static/schema_arabic.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-frontend

Lint
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

Revert config
  helm-frontend/public/config.js
Due: run-pre-commit-frontend

Update schema, model metadata and scenario metadata for HELM Arabic (#3959)
  helm-frontend/src/components/Landing/ArabicLanding.tsx
  helm-frontend/src/routes/Home.tsx
  src/helm/benchmark/static/schema_arabic.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-B-e-H0ne.js
  src/helm/benchmark/static_build/assets/index-qOFpOyHb.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Fix scenario tests
  .github/workflows/test_scenarios.yml
Due: none

Fix scenario tests (#3961)
  .github/workflows/test_scenarios.yml
Due: none

Fix test_aratrust_scenario
  src/helm/benchmark/scenarios/test_aratrust_scenario.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/scenarios/test_aratrust_scenario.py
Due: run-pre-commit-python

Fix
  src/helm/benchmark/scenarios/test_aratrust_scenario.py
Due: run-pre-commit-python

Fix test_aratrust_scenario (#3962)
  src/helm/benchmark/scenarios/test_aratrust_scenario.py
Due: run-pre-commit-python

gpt5.2
  src/helm/clients/vision_language/qwen3_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

update display name
  src/helm/config/model_metadata.yaml
Due: none

org name
  src/helm/config/model_metadata.yaml
Due: none

jaco and taco play
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
Due: none

roboturk
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/config/model_metadata.yaml
Due: none

jaco
  src/helm/benchmark/static/schema_video.yaml
Due: none

update schema
  src/helm/benchmark/static/schema_video.yaml
Due: none

feat: add MedCalc-Bench v1.0, v1.1, and v1.2 scenarios and update dataset references
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
  src/helm/benchmark/scenarios/test_medcalc_bench_scenario.py
Due: run-pre-commit-python

fix: update MedCalc-Bench dataset link and improve v1.0 description
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
Due: run-pre-commit-python

Change device_map
  src/helm/config/model_deployments.yaml
Due: none

Add Cohere Labs Command A (#3957)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Rename Tarjama to Arabic.ai
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

Rename Tarjama to Arabic.ai (#3963)
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

Add metadata for Arabic.AI LLM-X and LLM-S
  src/helm/config/model_metadata.yaml
Due: none

Update landing again
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

Update model metadata for Arabic.AI (#3965)
  helm-frontend/src/components/Landing/ArabicLanding.tsx
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-frontend

image
  src/helm/config/model_metadata.yaml
Due: none

fix rendering
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

fix
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

update runner:
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

more annotated tasks
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
Due: none

Change organization name for Arabic.AI models
  src/helm/config/model_metadata.yaml
Due: none

average MAE
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/static/schema_video.yaml
Due: none
