Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Update docs
  docs/medhelm.md
Due: none

Update docs (#3854)
  docs/medhelm.md
Due: none

Fix main_metric
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
Due: run-pre-commit-python

Fix LLM jury metric
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
  src/helm/benchmark/scenarios/medhelm_configurable_scenario.py
Due: run-pre-commit-python

Updated replacement method fo annotations
  src/helm/benchmark/annotation/aci_bench_annotator.py
  src/helm/benchmark/annotation/chw_care_plan_annotator.py
  src/helm/benchmark/annotation/dischargeme_annotator.py
  src/helm/benchmark/annotation/med_dialog_annotator.py
  src/helm/benchmark/annotation/medalign_annotator.py
  src/helm/benchmark/annotation/medi_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/mental_health_annotator.py
  src/helm/benchmark/annotation/mimic_bhc_annotator.py
  src/helm/benchmark/annotation/mimic_rrs_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/mtsamples_procedures_annotator.py
  src/helm/benchmark/annotation/mtsamples_replicate_annotator.py
  src/helm/benchmark/annotation/starr_patient_instructions_annotator.py
  src/helm/benchmark/scenarios/medhelm_configurable_scenario.py
Due: run-pre-commit-python

Update changelog (#3853)
  CHANGELOG.md
Due: none

Add SLP Helm Leaderboard Schema (#3852)
  src/helm/benchmark/static/schema_slp.yaml
Due: none

Added main_metric config
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
  src/helm/benchmark/scenarios/medhelm_configurable_scenario.py
Due: run-pre-commit-python

lint
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
Due: run-pre-commit-python

smaller
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
Due: run-pre-commit-python

Fix bug with main_metric
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
Due: run-pre-commit-python

Main metric is now first metric
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
Due: run-pre-commit-python

Medhelm benchmarks (#3844)
  src/helm/benchmark/annotation/aci_bench_annotator.py
  src/helm/benchmark/annotation/chw_care_plan_annotator.py
  src/helm/benchmark/annotation/dischargeme_annotator.py
  src/helm/benchmark/annotation/med_dialog_annotator.py
  src/helm/benchmark/annotation/medalign_annotator.py
  src/helm/benchmark/annotation/medi_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/mental_health_annotator.py
  src/helm/benchmark/annotation/mimic_bhc_annotator.py
  src/helm/benchmark/annotation/mimic_rrs_annotator.py
  src/helm/benchmark/annotation/model_as_judge.py
  src/helm/benchmark/annotation/mtsamples_procedures_annotator.py
  src/helm/benchmark/annotation/mtsamples_replicate_annotator.py
  src/helm/benchmark/annotation/starr_patient_instructions_annotator.py
  src/helm/benchmark/run_specs/medhelm/__init__.py
  src/helm/benchmark/run_specs/medhelm/benchmark_config.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhelm_configurable_scenario.py
Due: run-pre-commit-python

Release v0.5.8
  CHANGELOG.md
  pyproject.toml
Due: none

Release v0.5.8 (#3855)
  CHANGELOG.md
  pyproject.toml
Due: none

Actually update the changelog for v0.5.8
  CHANGELOG.md
Due: none

Update requirements.txt
  requirements.txt
Due: none

Actually update the changelog for v0.5.8 (#3857)
  CHANGELOG.md
Due: none

Upgrade requirements.txt
  requirements.txt
Due: none

Fix for Yifan's comments
  src/helm/benchmark/metrics/lmkt_eclektic_metrics.py
  src/helm/benchmark/scenarios/lmkt_eclektic_scenario.py
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Implement Cultural Evolution Understanding
  src/helm/benchmark/metrics/common_metric_specs.py
  src/helm/benchmark/metrics/regression_metrics.py
  src/helm/benchmark/presentation/run_entries_lmkt.conf
  src/helm/benchmark/run_specs/lmkt_run_specs.py
  src/helm/benchmark/scenarios/lmkt_scenarios.py
Due: run-pre-commit-python

Add landing for Audio leaderboard
  README.md
  helm-frontend/src/assets/audio/audio-table.png
  helm-frontend/src/components/Landing/AudioLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Add landing for Audio leaderboard (#3858)
  README.md
  helm-frontend/src/assets/audio/audio-table.png
  helm-frontend/src/components/Landing/AudioLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/audio-table-fc8f0e23.png
  src/helm/benchmark/static_build/assets/index-671a5e06.js
  src/helm/benchmark/static_build/assets/index-e8153e69.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

test relax package
  pyproject.toml
Due: none

Add metadata to more scenarios
  src/helm/benchmark/scenarios/commonsense_scenario.py
  src/helm/benchmark/scenarios/fin_qa_scenario.py
  src/helm/benchmark/scenarios/gsm_scenario.py
  src/helm/benchmark/scenarios/math_scenario.py
  src/helm/benchmark/scenarios/med_qa_scenario.py
  src/helm/benchmark/scenarios/mmlu_scenario.py
  src/helm/benchmark/scenarios/narrativeqa_scenario.py
  src/helm/benchmark/scenarios/wmt_14_scenario.py
Due: run-pre-commit-python

Add metadata to safety scenarios and metrics
  src/helm/benchmark/scenarios/anthropic_red_team_scenario.py
  src/helm/benchmark/scenarios/harm_bench_gcg_transfer_scenario.py
  src/helm/benchmark/scenarios/harm_bench_scenario.py
  src/helm/benchmark/scenarios/simple_safety_tests_scenario.py
Due: run-pre-commit-python

Fix metadata
  src/helm/benchmark/metrics/bbq_metrics.py
  src/helm/benchmark/metrics/safety_metrics.py
  src/helm/benchmark/scenarios/bbq_scenario.py
Due: run-pre-commit-python

Add metadata and taxonomy to more scenarios (#3860)
  src/helm/benchmark/scenarios/commonsense_scenario.py
  src/helm/benchmark/scenarios/fin_qa_scenario.py
  src/helm/benchmark/scenarios/gsm_scenario.py
  src/helm/benchmark/scenarios/math_scenario.py
  src/helm/benchmark/scenarios/med_qa_scenario.py
  src/helm/benchmark/scenarios/mmlu_scenario.py
  src/helm/benchmark/scenarios/narrativeqa_scenario.py
  src/helm/benchmark/scenarios/wmt_14_scenario.py
Due: run-pre-commit-python

Added docs for easy benchmark addition
  docs/medhelm.md
Due: none

Fix numpy version
  requirements.txt
Due: none

Fix
  pyproject.toml
Due: none

Add metadata to safety scenarios and metrics (#3861)
  src/helm/benchmark/metrics/bbq_metrics.py
  src/helm/benchmark/metrics/safety_metrics.py
  src/helm/benchmark/scenarios/anthropic_red_team_scenario.py
  src/helm/benchmark/scenarios/bbq_scenario.py
  src/helm/benchmark/scenarios/harm_bench_gcg_transfer_scenario.py
  src/helm/benchmark/scenarios/harm_bench_scenario.py
  src/helm/benchmark/scenarios/simple_safety_tests_scenario.py
Due: run-pre-commit-python

Fix numpy version issue (#3862)
  pyproject.toml
  requirements.txt
Due: none

weak can model
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Fixes
  docs/reproducing_leaderboards.md
  src/helm/benchmark/presentation/run_entries_safety.conf
  src/helm/benchmark/presentation/run_entries_safety_palmyra_x5.conf
  src/helm/benchmark/presentation/run_entries_safety_reasoning.conf
Due: none

Make priority optional for run entries
  src/helm/benchmark/presentation/run_entry.py
  src/helm/benchmark/run.py
Due: run-pre-commit-python

fix
  src/helm/config/model_metadata.yaml
Due: none
