Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

minor fixes
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Add Qwen-Audio-Chat and Qwen2-Audio-Instruct (#3104)
  docs/models.md
  install-shelm-extras.sh
  setup.cfg
  src/helm/benchmark/model_metadata_registry.py
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/clients/audio_language/qwen_audiolm_client.py
  src/helm/clients/cohere_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Add web player for audio objects (#3098)
  helm-frontend/src/components/MediaObjectDisplay.tsx
  helm-frontend/src/utils/getBenchmarkEndpoint.ts
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-19bdae52.js
  src/helm/benchmark/static_build/assets/index-b570d6c4.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

CoVost-2: Speech Machine Translation
  setup.cfg
  src/helm/benchmark/presentation/run_entries_speech.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/__init__.py
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/benchmark/scenarios/audio_language/covost2_scenario.py
  src/helm/benchmark/static/schema_speech.yaml
  src/helm/clients/openai_client.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

fix subset
  src/helm/benchmark/presentation/run_entries_vhelm.conf
  src/helm/benchmark/presentation/run_entries_vhelm_debug.conf
  src/helm/benchmark/scenarios/vision_language/mm_star_scenario.py
Due: run-pre-commit-python

Fix "science & technology" subset of MMSTAR (#3107)
  src/helm/benchmark/presentation/run_entries_vhelm.conf
  src/helm/benchmark/presentation/run_entries_vhelm_debug.conf
  src/helm/benchmark/scenarios/vision_language/mm_star_scenario.py
Due: run-pre-commit-python

commit to mmlupronew
  src/helm/benchmark/scenarios/mmlu_pro.py
  src/helm/benchmark/scenarios/test_mmlu_pro_scenario.py
  src/helm/benchmark/scenarios/test_mmlu_scenario.py
Due: run-pre-commit-python

New changes to MMLU Pro
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/scenarios/mmlu_pro.py
  src/helm/benchmark/scenarios/test_mmlu_pro_scenario.py
Due: run-pre-commit-python

Implementing MMLU Pro final changes.
  src/helm/benchmark/scenarios/mmlu_pro.py
  src/helm/benchmark/scenarios/test_mmlu_pro_scenario.py
Due: run-pre-commit-python

CoVost-2: Speech Machine Translation (#3106)
  setup.cfg
  src/helm/benchmark/presentation/run_entries_speech.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/__init__.py
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/benchmark/scenarios/audio_language/covost2_scenario.py
  src/helm/benchmark/static/schema_speech.yaml
  src/helm/clients/openai_client.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

Changing images_utils.py for mmlu pro
  src/helm/common/images_utils.py
Due: run-pre-commit-python

Changes for formatting for MMLU Pro Files
  src/helm/benchmark/scenarios/mmlu_pro.py
  src/helm/benchmark/scenarios/test_mmlu_pro_scenario.py
  src/helm/common/images_utils.py
Due: run-pre-commit-python

Added Mistral 2 Large and Llama 3.1 models on Amazon Bedrock (#3095)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fix typo in downloading_raw_results.md (#3102)
  docs/downloading_raw_results.md
Due: none

Allow setting device for Hugging Face models
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Also pop the key
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Update docs
  docs/adding_new_models.md
Due: none

Add new Ministral and Mistral Small models
  src/helm/clients/mistral_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Undo stop sequence changes
  src/helm/clients/mistral_client.py
Due: run-pre-commit-python

Allow setting device for Hugging Face models (#3109)
  docs/adding_new_models.md
  src/helm/clients/huggingface_client.py
Due: run-pre-commit-python

Fix minor bug in punkt installation logic
  src/helm/benchmark/metrics/nltk_helper.py
Due: run-pre-commit-python

Fix minor bug
  src/helm/benchmark/metrics/nltk_helper.py
Due: run-pre-commit-python

Add new Ministral and Mistral Small models (#3110)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Fix minor bug in punkt installation logic (#3111)
  src/helm/benchmark/metrics/nltk_helper.py
Due: run-pre-commit-python

added sumosum
  src/helm/benchmark/scenarios/sumosum_scenario.py
Due: run-pre-commit-python

Fix imports
  src/helm/benchmark/scenarios/sumosum_scenario.py
Due: run-pre-commit-python

datasets
  setup.cfg
  src/helm/benchmark/metrics/summarization_metrics.py
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/sumosum_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/sumosum_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Fix citation
  src/helm/benchmark/scenarios/sumosum_scenario.py
  src/helm/benchmark/static/schema_enterprise.yaml
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/run_specs/enterprise_run_specs.py
  src/helm/benchmark/scenarios/sumosum_scenario.py
Due: run-pre-commit-python

Reverted metrics changes
  setup.cfg
  src/helm/benchmark/metrics/summarization_metrics.py
Due: run-pre-commit-python

Fix padding around mini leaderboard for Classic and Lite
  helm-frontend/src/components/Hero.tsx
Due: run-pre-commit-frontend

Lint
  helm-frontend/src/components/Hero.tsx
Due: run-pre-commit-frontend

Fix padding around mini leaderboard for Classic and Lite (#3114)
  helm-frontend/src/components/Hero.tsx
Due: run-pre-commit-frontend

Add a badge indicating if the release is latest or stale
  helm-frontend/public/config.js
  helm-frontend/src/components/ReleaseDropdown.tsx
Due: run-pre-commit-frontend

Add a badge indicating if the release is latest or stale (#3116)
  helm-frontend/public/config.js
  helm-frontend/src/components/ReleaseDropdown.tsx
Due: run-pre-commit-frontend

increased max_tokens for CoT
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Change title for HELM leaderboards
  helm-frontend/src/components/NavDropdown.tsx
Due: run-pre-commit-frontend

Lint
  helm-frontend/src/components/NavDropdown.tsx
Due: run-pre-commit-frontend

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
