Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

update with arxiv link
  helm-frontend/src/components/Landing/Image2StructLanding.tsx
Due: run-pre-commit-frontend

Change title for HELM leaderboards (#3117)
  helm-frontend/src/components/NavDropdown.tsx
Due: run-pre-commit-frontend

zero shot cot and w/o cot
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

prettier
  helm-frontend/src/components/Landing/Image2StructLanding.tsx
Due: run-pre-commit-frontend

download audio file to local and supports qwen2 for local audio file
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
Due: run-pre-commit-python

add llama-omni
  setup.cfg
  src/helm/clients/audio_language/llama_omni/arguments.py
  src/helm/clients/audio_language/llama_omni/constants.py
  src/helm/clients/audio_language/llama_omni/conversation.py
  src/helm/clients/audio_language/llama_omni/model/__init__.py
  src/helm/clients/audio_language/llama_omni/model/builder.py
  src/helm/clients/audio_language/llama_omni/model/language_model/omni_speech2s_llama.py
  src/helm/clients/audio_language/llama_omni/model/language_model/omni_speech_llama.py
  src/helm/clients/audio_language/llama_omni/model/omni_speech_arch.py
  src/helm/clients/audio_language/llama_omni/model/speech_encoder/builder.py
  src/helm/clients/audio_language/llama_omni/model/speech_encoder/speech_encoder.py
  src/helm/clients/audio_language/llama_omni/model/speech_generator/builder.py
  src/helm/clients/audio_language/llama_omni/model/speech_generator/generation.py
  src/helm/clients/audio_language/llama_omni/model/speech_generator/speech_generator.py
  src/helm/clients/audio_language/llama_omni/model/speech_projector/builder.py
  src/helm/clients/audio_language/llama_omni/model/speech_projector/speech_projector.py
  src/helm/clients/audio_language/llama_omni/preprocess.py
  src/helm/clients/audio_language/llama_omni/utils.py
  src/helm/clients/audio_language/llama_omni_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

modify description
  src/helm/clients/audio_language/llama_omni_client.py
Due: run-pre-commit-python

delete flash-attn dependency
  setup.cfg
Due: none

update with arxiv link (#3118)
  helm-frontend/src/components/Landing/Image2StructLanding.tsx
Due: run-pre-commit-frontend

Add stop sequence support to MistralClient
  src/helm/clients/mistral_client.py
Due: run-pre-commit-python

minor fix
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

Add Llama-Omni-8B (#3119)
  setup.cfg
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/clients/audio_language/llama_omni/arguments.py
  src/helm/clients/audio_language/llama_omni/constants.py
  src/helm/clients/audio_language/llama_omni/conversation.py
  src/helm/clients/audio_language/llama_omni/model/__init__.py
  src/helm/clients/audio_language/llama_omni/model/builder.py
  src/helm/clients/audio_language/llama_omni/model/language_model/omni_speech2s_llama.py
  src/helm/clients/audio_language/llama_omni/model/language_model/omni_speech_llama.py
  src/helm/clients/audio_language/llama_omni/model/omni_speech_arch.py
  src/helm/clients/audio_language/llama_omni/model/speech_encoder/builder.py
  src/helm/clients/audio_language/llama_omni/model/speech_encoder/speech_encoder.py
  src/helm/clients/audio_language/llama_omni/model/speech_generator/builder.py
  src/helm/clients/audio_language/llama_omni/model/speech_generator/generation.py
  src/helm/clients/audio_language/llama_omni/model/speech_generator/speech_generator.py
  src/helm/clients/audio_language/llama_omni/model/speech_projector/builder.py
  src/helm/clients/audio_language/llama_omni/model/speech_projector/speech_projector.py
  src/helm/clients/audio_language/llama_omni/preprocess.py
  src/helm/clients/audio_language/llama_omni/utils.py
  src/helm/clients/audio_language/llama_omni_client.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/common/audio_utils.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

formatting
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

add anchor
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

fix
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Treat missing AI21 generation output as empty string
  src/helm/clients/ai21_client.py
Due: run-pre-commit-python

Specify revision in many calls to Hugging Face load_datasets
  src/helm/benchmark/annotation/air_bench_annotator.py
  src/helm/benchmark/scenarios/air_bench_scenario.py
  src/helm/benchmark/scenarios/anthropic_hh_rlhf_scenario.py
  src/helm/benchmark/scenarios/audio_language/covost2_scenario.py
  src/helm/benchmark/scenarios/banking77_scenario.py
  src/helm/benchmark/scenarios/gpqa_scenario.py
  src/helm/benchmark/scenarios/legalbench_scenario.py
  src/helm/benchmark/scenarios/math_scenario.py
  src/helm/benchmark/scenarios/open_assistant_scenario.py
  src/helm/benchmark/scenarios/raft_scenario.py
  src/helm/benchmark/scenarios/wmt_14_scenario.py
Due: run-pre-commit-python

Pin revision in many invocations of Hugging Face load_datasets() (#3124)
  src/helm/benchmark/annotation/air_bench_annotator.py
  src/helm/benchmark/scenarios/air_bench_scenario.py
  src/helm/benchmark/scenarios/anthropic_hh_rlhf_scenario.py
  src/helm/benchmark/scenarios/audio_language/covost2_scenario.py
  src/helm/benchmark/scenarios/banking77_scenario.py
  src/helm/benchmark/scenarios/gpqa_scenario.py
  src/helm/benchmark/scenarios/legalbench_scenario.py
  src/helm/benchmark/scenarios/math_scenario.py
  src/helm/benchmark/scenarios/open_assistant_scenario.py
  src/helm/benchmark/scenarios/raft_scenario.py
  src/helm/benchmark/scenarios/wmt_14_scenario.py
Due: run-pre-commit-python

Treat missing AI21 message content as empty string (#3123)
  src/helm/clients/ai21_client.py
Due: run-pre-commit-python

Add stop sequence support to MistralClient (#3120)
  src/helm/clients/mistral_client.py
Due: run-pre-commit-python

Changed MMLU Pro for Non-COT Version (#3108)
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/scenarios/mmlu_pro.py
  src/helm/benchmark/scenarios/test_mmlu_pro_scenario.py
  src/helm/benchmark/scenarios/test_mmlu_scenario.py
  src/helm/common/images_utils.py
Due: run-pre-commit-python

GPQA Few-shot CoT, adapter part (#3099)
  src/helm/benchmark/adaptation/adapters/adapter_factory.py
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_adapter.py
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_chain_of_thought_adapter.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Changed files based on comments
  src/helm/benchmark/scenarios/mmlu_pro.py
  src/helm/benchmark/scenarios/test_mmlu_pro_scenario.py
  src/helm/benchmark/scenarios/test_mmlu_scenario.py
Due: run-pre-commit-python

Changes according to comments
  src/helm/benchmark/scenarios/mmlu_pro.py
  src/helm/benchmark/scenarios/test_mmlu_pro_scenario.py
Due: run-pre-commit-python

add button
  helm-frontend/src/components/InstanceData.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

format
  helm-frontend/src/components/InstanceData.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Changes to mmlu scenario based on comments
  src/helm/benchmark/scenarios/test_mmlu_scenario.py
Due: run-pre-commit-python

Addressing comments for MMLU Pro
  src/helm/benchmark/scenarios/test_mmlu_scenario.py
Due: run-pre-commit-python

Add functionality for linking directly to instances in Predictions page (#3121)
  helm-frontend/src/components/InstanceData.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Show "preview" badge if current version is not released yet
  helm-frontend/src/components/ReleaseDropdown.tsx
Due: run-pre-commit-frontend

Skip models column when summarizing mean
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Check cell value
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Show "preview" badge if current version is not released yet (#3126)
  helm-frontend/src/components/ReleaseDropdown.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-05c76bb1.css
  src/helm/benchmark/static_build/assets/index-a8fe93a8.css
  src/helm/benchmark/static_build/assets/index-b570d6c4.js
  src/helm/benchmark/static_build/assets/index-cef2e336.js
  src/helm/benchmark/static_build/config.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

GPQA Few-shot CoT, spec part (#3097)
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/adaptation/adapters/adapter_factory.py
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_adapter.py
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_chain_of_thought_adapter.py
  src/helm/benchmark/adaptation/common_adapter_specs.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Release VHELM v2.1.0
  helm-frontend/project_metadata.json
Due: none

Reorganize audio helper functions
  src/helm/clients/openai_client.py
  src/helm/common/audio_utils.py
  src/helm/common/multimodal_request_utils.py
Due: run-pre-commit-python

Fixes
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python
