Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Fix
  src/helm/benchmark/scenarios/audio_language/meld_audio_scenario.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/meld_audio_scenario.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

Fix type
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

Add MELD Audio scenario (#3142)
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/meld_audio_scenario.py
  src/helm/benchmark/static/schema_social_audio.yaml
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

update helm safety for publication
  helm-frontend/src/assets/helm-safety.png
  helm-frontend/src/components/Landing/SafetyLanding.tsx
Due: run-pre-commit-frontend

format
  helm-frontend/src/components/Landing/SafetyLanding.tsx
Due: run-pre-commit-frontend

Deprecate OpenAI legacy completions API
  src/helm/clients/nvidia_nim_client.py
  src/helm/clients/openai_client.py
  src/helm/clients/palmyra_client.py
  src/helm/clients/vllm_client.py
  src/helm/clients/yi_client.py
Due: run-pre-commit-python

Move legacy OpenAI models to legacy client
  src/helm/config/model_deployments.yaml
Due: none

Add Grok Beta
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Update helm safety for publication (#3143)
  helm-frontend/src/assets/helm-safety.png
  helm-frontend/src/components/Landing/SafetyLanding.tsx
Due: run-pre-commit-frontend

Add HELM safety to project metadata (#3129)
  helm-frontend/project_metadata.json
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/helm-safety-2907a7b6.png
  src/helm/benchmark/static_build/assets/index-2d9bbc7a.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Deprecate OpenAI legacy completions API (#3144)
  src/helm/clients/nvidia_nim_client.py
  src/helm/clients/openai_client.py
  src/helm/clients/palmyra_client.py
  src/helm/clients/vllm_client.py
  src/helm/clients/yi_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Add Grok Beta model (#3145)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

addressing comments
  src/helm/benchmark/scenarios/ifeval_scenario.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

Add Diva client
  src/helm/clients/audio_language/diva_llama_client.py
  src/helm/common/audio_utils.py
  src/helm/common/media_object.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Optional import in audio_utils
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

update audio file saving function
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/benchmark/scenarios/audio_language/fleurs_scenario.py
  src/helm/benchmark/scenarios/audio_language/iemocap_audio_scenario.py
  src/helm/benchmark/scenarios/audio_language/meld_audio_scenario.py
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

add chinese asr metrics and add two audio scnarios
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

add srb and cv15 audio scenarios
  src/helm/benchmark/scenarios/audio_language/common_voice_15_scenario.py
  src/helm/benchmark/scenarios/audio_language/speech_robust_bench_scenario.py
  src/helm/benchmark/static/schema_speech.yaml
Due: run-pre-commit-python

update dependency
  setup.cfg
Due: none

Fixes?
  src/helm/clients/audio_language/diva_llama_client.py
Due: run-pre-commit-python

Fixes
  src/helm/clients/audio_language/__init__.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Fix generate input
  src/helm/clients/audio_language/diva_llama_client.py
Due: run-pre-commit-python

Lint
  src/helm/clients/audio_language/diva_llama_client.py
Due: run-pre-commit-python

Fix generate_request again
  src/helm/clients/audio_language/diva_llama_client.py
Due: run-pre-commit-python

fix tokenizer
  src/helm/config/tokenizer_configs.yaml
Due: none

Fix tokenizer config
  src/helm/config/model_deployments.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

add audio_pairs scenario
  src/helm/benchmark/scenarios/audio_language/audio_pairs_scenario.py
Due: run-pre-commit-python

fix
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/audiocaps_scenario.py
Due: run-pre-commit-python

update dependency
  setup.cfg
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
Due: run-pre-commit-python

Add Common_Voice_15 and RSB audio scenarios (#3147)
  setup.cfg
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/audio_mnist_scenario.py
  src/helm/benchmark/scenarios/audio_language/audiocaps_scenario.py
  src/helm/benchmark/scenarios/audio_language/common_voice_15_scenario.py
  src/helm/benchmark/scenarios/audio_language/fleurs_scenario.py
  src/helm/benchmark/scenarios/audio_language/iemocap_audio_scenario.py
  src/helm/benchmark/scenarios/audio_language/meld_audio_scenario.py
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
  src/helm/benchmark/scenarios/audio_language/speech_robust_bench_scenario.py
  src/helm/benchmark/static/schema_speech.yaml
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

add audio pairs audio scenario
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/audio_pairs_scenario.py
  src/helm/benchmark/static/schema_speech.yaml
Due: run-pre-commit-python

fix
  src/helm/benchmark/scenarios/audio_language/audio_pairs_scenario.py
  src/helm/benchmark/static/schema_speech.yaml
Due: run-pre-commit-python

Add Audio PAIRS audio scenario (#3149)
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/audio_pairs_scenario.py
  src/helm/benchmark/static/schema_speech.yaml
Due: run-pre-commit-python

first pass
  src/helm/benchmark/presentation/run_entries_speech.conf
Due: none

fix name
  src/helm/benchmark/presentation/run_entries_speech.conf
Due: none

Committing changes for COT metric
  src/helm/benchmark/metrics/air_bench_metrics copy.py
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/metrics/chain_of_thought_metric.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Changes for COT metrix
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/metrics/chain_of_thought_metric.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

Changes to COT metric
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/metrics/chain_of_thought_metric.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
