Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Use GPT-4.1 in example queries in proxy (#3803)
  src/helm/proxy/example_queries.py
Due: run-pre-commit-python

Corrently handle Gemini response with no text
  src/helm/clients/vertexai_client.py
Due: run-pre-commit-python

Handle Gemini responses with max tokens reached during thinking
  src/helm/clients/vertexai_client.py
Due: run-pre-commit-python

Handle Gemini responses with max tokens reached during thinking (#3804)
  src/helm/clients/vertexai_client.py
Due: run-pre-commit-python

Raise error if helm-summarize is given a non-existent suite
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

feat: Extracted jury models to config files
  src/helm/benchmark/annotation/aci_bench_annotator.py
  src/helm/benchmark/annotation/chw_care_plan_annotator.py
  src/helm/benchmark/annotation/dischargeme_annotator.py
  src/helm/benchmark/annotation/med_dialog_annotator.py
  src/helm/benchmark/annotation/medalign_annotator.py
  src/helm/benchmark/annotation/medi_qa_annotator.py
  src/helm/benchmark/annotation/medication_qa_annotator.py
  src/helm/benchmark/annotation/mental_health_annotator.py
  src/helm/benchmark/annotation/mimic_bhc_annotator.py
  src/helm/benchmark/annotation/mimic_rrs_annotator.py
  src/helm/benchmark/annotation/mtsamples_procedures_annotator.py
  src/helm/benchmark/annotation/mtsamples_replicate_annotator.py
  src/helm/benchmark/annotation/starr_patient_instructions_annotator.py
  src/helm/benchmark/presentation/run_entries_medhelm_gated.conf
  src/helm/benchmark/presentation/run_entries_medhelm_private_stanford.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/aci_bench_scenario.yaml
  src/helm/benchmark/scenarios/chw_care_plan_scenario.yaml
  src/helm/benchmark/scenarios/dischargeme_scenario.yaml
  src/helm/benchmark/scenarios/med_dialog_scenario.yaml
  src/helm/benchmark/scenarios/medalign_scenario.yaml
  src/helm/benchmark/scenarios/medi_qa_scenario.yaml
  src/helm/benchmark/scenarios/medication_qa_scenario.yaml
  src/helm/benchmark/scenarios/mental_health_scenario.yaml
  src/helm/benchmark/scenarios/mimic_bhc_scenario.yaml
  src/helm/benchmark/scenarios/mimic_rrs_scenario.yaml
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.yaml
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.yaml
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.yaml
Due: run-pre-commit-python

Raise error if helm-summarize is given a non-existent suite (#3805)
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

transport
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

500
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

Add MadinahQA scenario
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Arabic prompts
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Fix prompts
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Lint
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Removed unused metrics
  MANIFEST.in
  src/helm/benchmark/metrics/aci_bench_metrics.py
  src/helm/benchmark/metrics/chw_care_plan_metrics.py
  src/helm/benchmark/metrics/dischargeme_metrics.py
  src/helm/benchmark/metrics/med_dialog_metrics.py
  src/helm/benchmark/metrics/medalign_metrics.py
  src/helm/benchmark/metrics/medi_qa_metrics.py
  src/helm/benchmark/metrics/medication_qa_metrics.py
  src/helm/benchmark/metrics/mental_health_metrics.py
  src/helm/benchmark/metrics/mimic_bhc_metrics.py
  src/helm/benchmark/metrics/mimic_rrs_metrics.py
  src/helm/benchmark/metrics/mtsamples_procedures_metrics.py
  src/helm/benchmark/metrics/mtsamples_replicate_metrics.py
  src/helm/benchmark/metrics/starr_patient_instructions_metrics.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Max prompts and trailing newline
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Display Arabic text in RTL direction in frontend
  helm-frontend/src/App.css
  helm-frontend/src/components/Preview.tsx
  helm-frontend/src/components/References.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Display Arabic text in RTL direction in frontend (#3807)
  helm-frontend/src/App.css
  helm-frontend/src/components/Preview.tsx
  helm-frontend/src/components/References.tsx
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Add Arabic instructions to Arabic scenarios (#3806)
  src/helm/benchmark/presentation/run_entries_arabic.conf
  src/helm/benchmark/run_specs/arabic_run_specs.py
  src/helm/benchmark/static/schema_arabic.yaml
Due: run-pre-commit-python

Build frontend
  src/helm/benchmark/static_build/assets/index-2994adba.js
  src/helm/benchmark/static_build/assets/index-9352595e.css
  src/helm/benchmark/static_build/assets/index-b9779128.css
  src/helm/benchmark/static_build/assets/index-e439d5e1.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Allow setting reference prefix characters
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/adaptation/adapters/multimodal/multiple_choice_joint_multimodal_adapter.py
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_adapter.py
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Allow setting reference prefix characters (#3809)
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/adaptation/adapters/multimodal/multiple_choice_joint_multimodal_adapter.py
  src/helm/benchmark/adaptation/adapters/multiple_choice_joint_adapter.py
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Updated MedHELM documentation
  docs/medhelm.md
Due: none

lift
  src/helm/clients/vision_language/qwen2_vlm_client.py
Due: run-pre-commit-python

Add OpenRouterClient implementation and tests
  src/helm/clients/openrouter_client.py
  src/helm/clients/test_openrouter_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Improve installation instructions
  docs/medhelm.md
Due: none

Improve MedHELM schema instructions
  docs/medhelm.md
Due: none

Updated error msg for config files
  src/helm/benchmark/run_specs/medhelm_run_specs.py
Due: run-pre-commit-python

Add get_metadata() method to Scenarios
  pyproject.toml
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/scenarios/gpqa_scenario.py
  src/helm/benchmark/scenarios/ifeval_scenario.py
  src/helm/benchmark/scenarios/mmlu_pro_scenario.py
  src/helm/benchmark/scenarios/omni_math_scenario.py
  src/helm/benchmark/scenarios/scenario.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
  src/helm/benchmark/static/schema_capabilities.yaml
Due: run-pre-commit-python

Lint
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/scenarios/gpqa_scenario.py
  src/helm/benchmark/scenarios/ifeval_scenario.py
  src/helm/benchmark/scenarios/mmlu_pro_scenario.py
  src/helm/benchmark/scenarios/omni_math_scenario.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
Due: run-pre-commit-python

Revert pyproject.toml
  pyproject.toml
Due: none

Add file
  src/helm/benchmark/presentation/taxonomy_info.py
Due: run-pre-commit-python

Remove prints, handle more errors
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Revert schema_capabilities.yaml for reverse compatibility
  src/helm/benchmark/static/schema_capabilities.yaml
Due: none

Auto-generate run groups in helm-summarize (#3813)
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/presentation/taxonomy_info.py
  src/helm/benchmark/scenarios/gpqa_scenario.py
  src/helm/benchmark/scenarios/ifeval_scenario.py
  src/helm/benchmark/scenarios/mmlu_pro_scenario.py
  src/helm/benchmark/scenarios/omni_math_scenario.py
  src/helm/benchmark/scenarios/scenario.py
  src/helm/benchmark/scenarios/wildbench_scenario.py
Due: run-pre-commit-python

Metric metadata
  src/helm/benchmark/metrics/basic_metrics.py
  src/helm/benchmark/metrics/efficiency_metrics.py
  src/helm/benchmark/metrics/gpqa_chain_of_thought_metric.py
  src/helm/benchmark/metrics/ifeval_metrics.py
  src/helm/benchmark/metrics/metric.py
  src/helm/benchmark/metrics/omni_math_metrics.py
  src/helm/benchmark/metrics/wildbench_metrics.py
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/static/schema_capabilities.yaml
Due: run-pre-commit-python
