Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Render adapter values using pre-wrap
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Add paper link in PartiPrompts scenario description
  src/helm/benchmark/static/schema_heim.yaml
Due: none

Add more links
  src/helm/benchmark/static/schema_heim.yaml
Due: none

Add paper link in HEIM scenario descriptions (#4063)
  src/helm/benchmark/static/schema_heim.yaml
Due: none

Render whitespace in adapter values using pre-wrap (#4062)
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-CEFcz97S.js
  src/helm/benchmark/static_build/assets/index-DF-7ospl.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Upgrade mkdocs-macros-plugin
  docs/requirements.txt
Due: none

Upgrade mkdocs-macros-plugin (#4065)
  docs/requirements.txt
Due: none

Add optional dependencies for summarization
  pyproject.toml
  src/helm/benchmark/metrics/summac/model_summac.py
  uv.lock
Due: run-pre-commit-python

Override torch and numpy dependencies
  pyproject.toml
  uv.lock
Due: none

Add summarization extras (#4067)
  pyproject.toml
  src/helm/benchmark/metrics/summac/model_summac.py
  uv.lock
Due: run-pre-commit-python

Update requirements
  requirements.txt
Due: none

Remove tokenization from OpenAIClient chat responses
  src/helm/clients/azure_openai_client.py
  src/helm/clients/grok_client.py
  src/helm/clients/nvidia_nim_client.py
  src/helm/clients/openai_client.py
  src/helm/clients/openrouter_client.py
  src/helm/clients/palmyra_client.py
  src/helm/clients/stanfordhealthcare_azure_openai_client.py
  src/helm/clients/stanfordhealthcare_openai_client.py
  src/helm/clients/stanfordhealthcare_shc_openai_client.py
  src/helm/clients/test_openrouter_client.py
  src/helm/clients/upstage_client.py
  src/helm/clients/vllm_client.py
  src/helm/clients/yi_client.py
Due: run-pre-commit-python

Add Grok 4 Fast and Grok 4.1 Fast
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

amc
  src/helm/benchmark/presentation/run_entries_reasoning.conf
  src/helm/benchmark/run_specs/reasoning_run_specs.py
  src/helm/benchmark/scenarios/aime_scenario.py
  src/helm/benchmark/static/schema_reasoning.yaml
Due: run-pre-commit-python

Add Grok 4 Fast and Grok 4.1 Fast (#4071)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add jfinqa: Japanese Financial Numerical Reasoning QA
  src/helm/benchmark/presentation/run_entries_finance.conf
  src/helm/benchmark/run_specs/finance_run_specs.py
  src/helm/benchmark/scenarios/jfinqa_scenario.py
  src/helm/benchmark/static/schema_finance.yaml
Due: run-pre-commit-python

Link to DrawBench paper in HEIM schema
  src/helm/benchmark/static/schema_heim.yaml
Due: none

Link to DrawBench paper in HEIM schema (#4074)
  src/helm/benchmark/static/schema_heim.yaml
Due: none

Add GPT-5.2
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add Gemini 3.1 Pro
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Arabic Enterprise scenarios
  src/helm/benchmark/annotation/arabic_finance_calculation_annotator.py
  src/helm/benchmark/annotation/arabic_tool_usage_annotator.py
  src/helm/benchmark/annotation/arabic_writing_style_annotator.py
  src/helm/benchmark/metrics/arabic_finance_calculation_metric.py
  src/helm/benchmark/metrics/arabic_tool_usage_metric.py
  src/helm/benchmark/metrics/arabic_writing_style_metric.py
  src/helm/benchmark/scenarios/arabic_finance_scenario.py
  src/helm/benchmark/scenarios/arabic_tool_usage_scenario.py
  src/helm/benchmark/scenarios/arabic_writing_style_scenario.py
Due: run-pre-commit-python

Delete call center scenario
  helm-frontend/src/components/Landing/CallCenterLanding.tsx
  helm-frontend/src/components/Landing/CallTranscriptSummarizationLanding.tsx
  helm-frontend/src/routes/Home.tsx
  src/helm/benchmark/annotation/call_center_annotator.py
  src/helm/benchmark/metrics/helpdesk_call_summarization_metrics.py
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/scenarios/call_center_scenario.py
  src/helm/benchmark/scenarios/helpdesk_call_summarization_scenario.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Add GPT-5.2 (#4075)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Delete call center scenario (#4077)
  helm-frontend/src/components/Landing/CallCenterLanding.tsx
  helm-frontend/src/components/Landing/CallTranscriptSummarizationLanding.tsx
  helm-frontend/src/routes/Home.tsx
  src/helm/benchmark/annotation/call_center_annotator.py
  src/helm/benchmark/metrics/helpdesk_call_summarization_metrics.py
  src/helm/benchmark/run_specs/call_center_run_specs.py
  src/helm/benchmark/scenarios/call_center_scenario.py
  src/helm/benchmark/scenarios/helpdesk_call_summarization_scenario.py
  src/helm/benchmark/static/schema_call_center.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-1l-PnIC-.js
  src/helm/benchmark/static_build/assets/index-CEFcz97S.js
  src/helm/benchmark/static_build/assets/index-D30r2Sub.css
  src/helm/benchmark/static_build/assets/index-R8QkG8fS.css
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add research-level metrics: uncertainty quantification, robustness, and cross-model consistency
  docs/research_metrics.md
  src/helm/benchmark/metrics/common_metric_specs.py
  src/helm/benchmark/metrics/cross_model_consistency_metrics.py
  src/helm/benchmark/metrics/robustness_metrics.py
  src/helm/benchmark/metrics/test_robustness_metrics.py
  src/helm/benchmark/metrics/test_uncertainty_quantification_metrics.py
  src/helm/benchmark/metrics/uncertainty_quantification_metrics.py
Due: run-pre-commit-python

HELM Arabic Enterprise fixes
  src/helm/benchmark/annotation/arabic_content_generation_annotator.py
  src/helm/benchmark/run_specs/arabic_enterprise_run_specs.py
  src/helm/benchmark/scenarios/arabic_finance_scenario.py
Due: run-pre-commit-python

Add Claude Sonnet 4.6 and Opus 4.6
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

More Arabic Enterprise
  src/helm/benchmark/metrics/arabic_content_generation_metric.py
  src/helm/benchmark/presentation/run_entries_arabic_enterprise.conf
  src/helm/benchmark/run_specs/arabic_experimental_run_specs.py
  src/helm/benchmark/scenarios/arabic_content_generation_scenario.py
  src/helm/benchmark/static/schema_arabic_enterprise.yaml
Due: run-pre-commit-python

Add Claude Sonnet 4.6 and Opus 4.6 (#4083)
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Remove tokenization from MistralAICLient
  src/helm/clients/mistral_client.py
Due: run-pre-commit-python

Display whitespace in responses in proxy server
  src/helm/proxy/static/index.css
Due: none

Support models on HuggingFace Inference Providers
  src/helm/benchmark/model_deployment_registry.py
  src/helm/clients/huggingface_inference_providers_client.py
Due: run-pre-commit-python

Import order
  src/helm/clients/huggingface_inference_providers_client.py
Due: run-pre-commit-python

Handle provider suffix
  src/helm/benchmark/model_deployment_registry.py
Due: run-pre-commit-python

Display whitespace in responses in proxy server (#4085)
  src/helm/proxy/static/index.css
Due: none

Add Gemini 3.1 Pro (#4076)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Explicitly set pad_token_id for Hugging Face generations
  src/helm/clients/huggingface_client.py
  src/helm/clients/huggingface_pipeline_client.py
Due: run-pre-commit-python

Explicitly set pad_token_id for Hugging Face generations (#4087)
  src/helm/clients/huggingface_client.py
  src/helm/clients/huggingface_pipeline_client.py
Due: run-pre-commit-python
