Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Add gemini-2.0-flash-exp model (#3210)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Added MIMIC-RRS scenario
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/mimic_rrs_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

addressed comments and tested
  setup.cfg
  src/helm/benchmark/annotation/bigcodebench_annotator.py
  src/helm/benchmark/annotation_executor.py
  src/helm/benchmark/metrics/bigcodebench_metrics.py
Due: run-pre-commit-python

Reduced max tokens for MIMIC-RRS
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

Fix device for medical scenarios
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

satisfying type checker
  src/helm/benchmark/annotation/annotator.py
  src/helm/benchmark/annotation/bigcodebench_annotator.py
  src/helm/benchmark/annotation_executor.py
  src/helm/benchmark/scenarios/bigcodebench_scenario.py
Due: run-pre-commit-python

formatting
  src/helm/benchmark/annotation/bigcodebench_annotator.py
Due: run-pre-commit-python

satisfying type checker
  src/helm/benchmark/annotation/bigcodebench_annotator.py
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

formatting
  src/helm/benchmark/run_specs/lite_run_specs.py
Due: run-pre-commit-python

Added groups for each medical task category
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

fixes
  src/helm/benchmark/presentation/run_entries_speech.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
Due: run-pre-commit-python

manual cleaning up
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: none

renaming omnimath to omni_math
  MANIFEST.in
  src/helm/benchmark/annotation/omni_math/gpt_evaluation_template.txt
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/metrics/omni_math_metrics.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/scenarios/omni_math_scenario.py
  src/helm/benchmark/scenarios/test_omni_math_scenario.py
Due: run-pre-commit-python

updating the test cases
  src/helm/benchmark/scenarios/test_omni_math_scenario.py
Due: run-pre-commit-python

formatting
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/metrics/chain_of_thought_metric.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/scenarios/omni_math_scenario.py
Due: run-pre-commit-python

debugging to satisfy type checker
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

dischargeMe scenario + schema update
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

further fix to satisfy type checker
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

addressing comments
  setup.cfg
  src/helm/benchmark/annotation/bigcodebench_annotator.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

pinpoint the actual commit hash to specify revision
  src/helm/benchmark/scenarios/bigcodebench_scenario.py
Due: run-pre-commit-python

pinpointing the commit hash
  src/helm/benchmark/scenarios/omni_math_scenario.py
Due: run-pre-commit-python

adding schema entries
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: none

Add Omni-MATH (#3187)
  MANIFEST.in
  src/helm/benchmark/annotation/omni_math/gpt_evaluation_template.txt
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/metrics/omni_math_metrics.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/scenarios/omni_math_scenario.py
  src/helm/benchmark/scenarios/test_omni_math_scenario.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

Adding BigCodeBench (#3186)
  MANIFEST.in
  setup.cfg
  src/helm/benchmark/annotation/annotator.py
  src/helm/benchmark/annotation/bigcodebench_annotator.py
  src/helm/benchmark/annotation/omni_math/gpt_evaluation_template.txt
  src/helm/benchmark/annotation/omni_math_annotator.py
  src/helm/benchmark/annotation_executor.py
  src/helm/benchmark/metrics/bigcodebench_metrics.py
  src/helm/benchmark/metrics/omni_math_metrics.py
  src/helm/benchmark/run_specs/lite_run_specs.py
  src/helm/benchmark/scenarios/bigcodebench_scenario.py
  src/helm/benchmark/scenarios/omni_math_scenario.py
  src/helm/benchmark/scenarios/test_bigcodebench_scenario.py
  src/helm/benchmark/scenarios/test_omni_math_scenario.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

fix schema:
  src/helm/benchmark/static/schema_speech.yaml
Due: none

more fix
  src/helm/benchmark/static/schema_speech.yaml
Due: none

fix: dataset loading and standardize naming
  src/helm/benchmark/metrics/medcalc_bench_metrics.py
  src/helm/benchmark/run_specs/medcalc_bench_specs.py
  src/helm/benchmark/scenarios/med_calc_bench_scenario.py
  src/helm/benchmark/scenarios/medcalc_bench_scenario.py
Due: run-pre-commit-python

Limit anthropic to <0.39
  setup.cfg
Due: none

Limit anthropic to <0.39 (#3213)
  setup.cfg
Due: none

Update requirements.txt
  requirements.txt
Due: none

Revert triton version to 2.2.0
  requirements.txt
Due: none

encryption and decryption as extra scripts
  scripts/decrypt_scenario_states.py
  scripts/encrypt_scenario_states.py
  src/helm/benchmark/static/schema_lite_v2.yaml
Due: run-pre-commit-python

Revert triton version to 2.2.0 (#3215)
  requirements.txt
Due: none

frontend decryption, naive direct decryption for GPQA runs
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getInstances.ts
Due: run-pre-commit-frontend

frontend encryption, use a button to get acknowledgement
  helm-frontend/src/components/Instances.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getInstances.ts
Due: run-pre-commit-frontend

manual cleaning
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getInstances.ts
Due: run-pre-commit-frontend

formatting
  helm-frontend/src/components/Instances.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getInstances.ts
Due: run-pre-commit-frontend

satisfying typechecker
  helm-frontend/src/components/Instances.tsx
  helm-frontend/src/services/getDisplayPredictionsByName.ts
  helm-frontend/src/services/getDisplayRequestsByName.ts
  helm-frontend/src/services/getInstances.ts
  helm-frontend/src/types/EncryptionDataMap.ts
Due: run-pre-commit-frontend
