Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Add file for building HELM requirements
  Dockerfile
Due: none

Make mount readwrite
  docker/helm-base/Dockerfile
Due: none

Trigger change
  requirements.txt
Due: none

Add more docker things
  docker/helm-base/Dockerfile
  docker/helm-requirements/Dockerfile
  docker/helm-run/Dockerfile
  docker/helm-summarize/Dockerfile
Due: none

Undo some stuff
  Dockerfile
  requirements.txt
Due: none

Fix CLIPScoreMetric
  src/helm/benchmark/metrics/image_generation/clip_score_metrics.py
  src/helm/benchmark/window_services/image_generation/clip_window_service.py
Due: run-pre-commit-python

Fix CLIPScoreMetric (#3750)
  src/helm/benchmark/metrics/image_generation/clip_score_metrics.py
  src/helm/benchmark/window_services/image_generation/clip_window_service.py
Due: run-pre-commit-python

Explicitly add xdoctest to requirements
  requirements.txt
Due: none

install-dev should install dev dependencies
  install-dev.sh
Due: none

Fix strings and doctests
  setup.cfg
  src/helm/benchmark/scenarios/math_scenario.py
Due: run-pre-commit-python

Fix typing test error
  src/helm/common/test_logging.py
Due: run-pre-commit-python

Fix string escapes
  src/helm/benchmark/annotation/air_bench_annotator.py
  src/helm/benchmark/annotation/live_qa_annotator.py
  src/helm/benchmark/metrics/comet_metric.py
  src/helm/benchmark/metrics/decodingtrust_stereotype_bias_metrics.py
  src/helm/benchmark/scenarios/audio_language/casual_conversations2_scenario.py
  src/helm/benchmark/scenarios/audio_language/mustard_scenario.py
  src/helm/benchmark/scenarios/cleva_scenario.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/scenarios/seahelm_scenario.py
  src/helm/benchmark/slurm_jobs.py
  src/helm/proxy/cli.py
Due: run-pre-commit-python

Fix math scenario doctests
  src/helm/benchmark/scenarios/math_scenario.py
Due: run-pre-commit-python

Work around mypy
  src/helm/common/test_logging.py
Due: run-pre-commit-python

fix black error
  src/helm/proxy/cli.py
Due: run-pre-commit-python

More black fixes
  src/helm/common/test_logging.py
Due: run-pre-commit-python

Add doctests and enable them (#3745)
  install-dev.sh
  requirements.txt
  setup.cfg
  src/helm/benchmark/scenarios/math_scenario.py
  src/helm/clients/audio_language/qwen_omni/configuration_qwen2_5_omni.py
  src/helm/common/object_spec.py
Due: run-pre-commit-python

Add ability for user to specify log-config (#3744)
  src/helm/benchmark/presentation/create_plots.py
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/run.py
  src/helm/benchmark/slurm_runner.py
  src/helm/common/hierarchical_logger.py
  src/helm/common/test_logging.py
Due: run-pre-commit-python

Show run group name and description from schema on run page
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Add short_description to RunGroup in schema
  helm-frontend/src/routes/Scenarios.tsx
  helm-frontend/src/types/RunGroup.ts
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python, run-pre-commit-frontend

Show run group name and description from schema on run page (#3753)
  helm-frontend/src/routes/Run.tsx
Due: run-pre-commit-frontend

Fixes
  helm-frontend/src/routes/Scenarios.tsx
Due: run-pre-commit-frontend

Clarify usage of short_description
  src/helm/benchmark/presentation/schema.py
Due: run-pre-commit-python

Added link to download page
  docs/medhelm.md
Due: none

Added link to download page (#3756)
  docs/medhelm.md
Due: none

Add short_description to RunGroup in schema (#3755)
  helm-frontend/src/routes/Scenarios.tsx
  helm-frontend/src/types/RunGroup.ts
  src/helm/benchmark/presentation/schema.py
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python, run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-94295e78.js
  src/helm/benchmark/static_build/assets/index-e439d5e1.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add Kimi K2 model
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Grok 4 model
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/grok_tokenizer.py
Due: run-pre-commit-python

Add Kimi K2 model (#3758)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Grok 4 model (#3759)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/grok_tokenizer.py
Due: run-pre-commit-python

Upgrade requirements.txt
  requirements.txt
Due: none

progress
  src/helm/benchmark/annotation/dischargeme_annotator.py
  src/helm/benchmark/annotation/dischargeme_pdsqi_annotator.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/note_summary_scenario.py
Due: run-pre-commit-python

Update
  src/helm/benchmark/annotation/note_summary_annotator.py
  src/helm/benchmark/metrics/llm_jury_metrics.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/note_summary_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Update
  src/helm/benchmark/annotation/dischargeme_annotator.py
  src/helm/benchmark/annotation/note_summary_annotator.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/dischargeme_scenario.py
  src/helm/benchmark/scenarios/note_summary_scenario.py
Due: run-pre-commit-python

docs: clarify private data access
  docs/medhelm.md
Due: none

Added checks for jury response
  src/helm/benchmark/metrics/llm_jury_metrics.py
Due: run-pre-commit-python

Modified medhelm requirements
  setup.cfg
Due: none

update private benchmark infor
  docs/medhelm.md
Due: none

Handle safety guidelines errors from Grok API
  src/helm/clients/openai_client.py
Due: run-pre-commit-python
