Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Build frontend
  src/helm/benchmark/static_build/assets/index-24fda1bb.css
  src/helm/benchmark/static_build/assets/index-2b8b9628.css
  src/helm/benchmark/static_build/assets/index-84bb5365.js
  src/helm/benchmark/static_build/assets/index-979e9015.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add REEval and MedHELM to documentation table of contents (#3599)
  README.md
  docs/medhelm.md
  mkdocs.yml
Due: none

Pin download URL for TruthfulQA CSV file (#3601)
  src/helm/benchmark/scenarios/truthful_qa_scenario.py
Due: run-pre-commit-python

Integrate Vietnamese knowledge, toxicity detection, and information retrieval (#3556)
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_ir_scenario.py
  src/helm/benchmark/scenarios/melt_knowledge_scenario.py
  src/helm/benchmark/scenarios/melt_scenarios.py
Due: run-pre-commit-python

Transpose frontend tables for MedHELM (#3602)
  helm-frontend/src/components/GroupLeaderboard.tsx
  helm-frontend/src/components/TransposedLeaderboardTable.tsx
Due: run-pre-commit-frontend

Integrate Vietnamese translation and language modeling (#3551)
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_lm_scenarios.py
  src/helm/benchmark/scenarios/melt_translation_scenario.py
Due: run-pre-commit-python

fix: issue where validate_args() was missed in helm-run in stanford-crfm/helm#3598
  src/helm/benchmark/run.py
Due: run-pre-commit-python

HF
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
Due: run-pre-commit-python

Linter
  scripts/fact_completion/utils.py
  src/helm/benchmark/metrics/bias_word_lists.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
  src/helm/clients/image_generation/dalle_mini/model/configuration.py
  src/helm/clients/image_generation/dalle_mini/model/modeling.py
  src/helm/clients/image_generation/dalle_mini/model/processor.py
  src/helm/clients/image_generation/dalle_mini/model/tokenizer.py
  src/helm/proxy/critique/mechanical_turk_utils.py
Due: run-pre-commit-python

clean up
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/speech_disorder_asr_scenario.py
  src/helm/benchmark/scenarios/audio_language/speech_disorder_explain_scenario.py
Due: run-pre-commit-python

linter
  scripts/parade/dataset_creation.py
Due: run-pre-commit-python

linter
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
Due: run-pre-commit-python

fix: set MIME type for config.js
  src/helm/benchmark/server.py
Due: run-pre-commit-python

remove unused imports
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
Due: run-pre-commit-python

fix: set MIME type for config.js in server (#3605)
  src/helm/benchmark/server.py
Due: run-pre-commit-python

fix: issue where validate_args() was missed in helm-run (#3604)
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Minor tweaks to log format
  src/helm/common/hierarchical_logger.py
Due: run-pre-commit-python

Add Anthropic Claude 4
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Fixes for Claude 4
  src/helm/config/model_metadata.yaml
Due: none

Update MedHELM documentation
  docs/medhelm.md
Due: none

update corebench v0.1
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/corebench_scenario.py
Due: run-pre-commit-python

feat: remove description
  docs/medhelm.md
Due: none

Update MedHELM documentation (#3608)
  docs/medhelm.md
Due: none

Add COREBench v0 audio scenario (#3567)
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/corebench_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

updated schema
  src/helm/benchmark/static/schema_audio.yaml
Due: none

Fix broken links in readme
  README.md
Due: none

Changed prompt
  src/helm/benchmark/scenarios/audio_language/corebench_scenario.py
Due: run-pre-commit-python

Linter
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
Due: run-pre-commit-python

added corebench to knowledge schema
  src/helm/benchmark/static/schema_audio.yaml
Due: none

Changed prompts for COREBench (#3610)
  src/helm/benchmark/scenarios/audio_language/corebench_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

:sparkles:feat(Contamination Assessment): Starting contamination assessment module
  src/helm/contamination/__init__.py
Due: run-pre-commit-python

refactor: changing the run.py and runner.py class to accept taint parameters
  src/helm/benchmark/run.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

Add: added strategy class (ContaminationEvaluation) and utility classes (UtilsContamination, PromptTranslation)
  src/helm/contamination/contamination_evaluator.py
  src/helm/contamination/prompt_translations.py
  src/helm/contamination/utils_contamination.py
Due: run-pre-commit-python

Add: implementation of the contamination strategy class TSGuessingQuestionBasedContaminationEvaluator
  src/helm/contamination/ts_guessing_question_based.py
Due: run-pre-commit-python

Add: implementation of the contamination strategy class TSGuessingQuestionMultiChoiceContaminationEvaluator
  src/helm/contamination/ts_guessing_question_multichoice.py
Due: run-pre-commit-python
