Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Update on enterprise benchmark README to synchronize with the actual … (#3550)
  docs/enterprise_benchmark.md
Due: none

Update recipe names in ToRR run entries
  src/helm/benchmark/presentation/run_entries_torr.conf
Due: none

Update recipe names in ToRR run entries (#3572)
  src/helm/benchmark/presentation/run_entries_torr.conf
Due: none

Split non-server services into context
  src/helm/benchmark/adaptation/adapters/test_adapter.py
  src/helm/benchmark/executor.py
  src/helm/benchmark/metrics/metric_service.py
  src/helm/benchmark/runner.py
  src/helm/benchmark/scenarios/numeracy_scenario.py
  src/helm/benchmark/window_services/test_utils.py
  src/helm/benchmark/window_services/tokenizer_service.py
  src/helm/common/context.py
  src/helm/common/local_context.py
  src/helm/common/remote_context.py
  src/helm/proxy/services/server_service.py
Due: run-pre-commit-python

Add get_general_info
  src/helm/common/context.py
  src/helm/common/remote_context.py
Due: run-pre-commit-python

Remove unneeded code
  src/helm/common/local_context.py
Due: run-pre-commit-python

Add instructions for reproducing ToRR
  docs/reproducing_leaderboards.md
Due: none

Fix test
  src/helm/benchmark/metrics/tokens/test_openai_token_cost_estimator.py
Due: run-pre-commit-python

Add documentation for running ToRR (#3574)
  docs/reproducing_leaderboards.md
Due: none

Avoid accessing SQLite accounts file in helm-run (#3573)
  src/helm/benchmark/adaptation/adapters/test_adapter.py
  src/helm/benchmark/executor.py
  src/helm/benchmark/metrics/metric_service.py
  src/helm/benchmark/metrics/tokens/test_openai_token_cost_estimator.py
  src/helm/benchmark/runner.py
  src/helm/benchmark/scenarios/numeracy_scenario.py
  src/helm/benchmark/window_services/test_utils.py
  src/helm/benchmark/window_services/tokenizer_service.py
  src/helm/common/context.py
  src/helm/common/local_context.py
  src/helm/common/remote_context.py
  src/helm/proxy/services/server_service.py
Due: run-pre-commit-python

Resolve comments
  src/helm/benchmark/metrics/common_metric_specs.py
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
Due: run-pre-commit-python

Add dataset ref
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
Due: run-pre-commit-python

Feedback changes
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
Due: run-pre-commit-python

Feedback changes
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_tags_scenario.py
Due: run-pre-commit-python

.
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
Due: run-pre-commit-python

Covering edge case when the images are identical and contain a homogenous color, issue #3575
  src/helm/benchmark/metrics/vision_language/emd_utils.py
Due: run-pre-commit-python

rename
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
Due: run-pre-commit-python

Rename jury metrics
  src/helm/benchmark/static/schema_medhelm.yaml
Due: none

Rename jury metrics (#3577)
  src/helm/benchmark/static/schema_medhelm.yaml
Due: none

Remove unsed func
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
Due: run-pre-commit-python

support video understanding
  helm-frontend/src/components/MediaObjectDisplay.tsx
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/msr_vtt_scenario.py
  src/helm/benchmark/static/schema_video.yaml
  src/helm/clients/vertexai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

style check
  helm-frontend/src/components/MediaObjectDisplay.tsx
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/msr_vtt_scenario.py
  src/helm/clients/vertexai_client.py
Due: run-pre-commit-python, run-pre-commit-frontend

update date
  src/helm/config/model_metadata.yaml
Due: none

Support video understanding (#3578)
  helm-frontend/src/components/MediaObjectDisplay.tsx
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/msr_vtt_scenario.py
  src/helm/benchmark/static/schema_video.yaml
  src/helm/clients/vertexai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Update doc string
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
Due: run-pre-commit-python

Linter
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
Due: run-pre-commit-python

Minor + linter changes
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
Due: run-pre-commit-python

Fix whitespace
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
Due: run-pre-commit-python

Parse thinking
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/types/DisplayPrediction.ts
  src/helm/benchmark/presentation/run_display.py
  src/helm/clients/together_client.py
  src/helm/common/request.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Qwen3 stuff
  src/helm/clients/together_client.py
  src/helm/common/request.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python

Lint
  src/helm/benchmark/presentation/run_display.py
  src/helm/clients/together_client.py
  src/helm/common/request.py
Due: run-pre-commit-python

Lint
  helm-frontend/src/components/Predictions.tsx
Due: run-pre-commit-frontend

Clean up
  src/helm/clients/together_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Add comment
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Add Palmyra X5
  scripts/examples/request_json_schema.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Update metadata
  src/helm/config/model_metadata.yaml
Due: none

Add client file
  scripts/examples/request_json_schema.py
  src/helm/clients/writer_client.py
Due: run-pre-commit-python

Fix dependencies
  setup.cfg
  src/helm/clients/writer_client.py
Due: run-pre-commit-python

Fix type of logprobs
  src/helm/clients/writer_client.py
Due: run-pre-commit-python

Add Qwen3 235B on Together (#3579)
  helm-frontend/src/components/Predictions.tsx
  helm-frontend/src/types/DisplayPrediction.ts
  src/helm/benchmark/presentation/run_display.py
  src/helm/clients/together_client.py
  src/helm/common/request.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
