Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Add Jais Adapted models (#3881)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Apply to Arabic
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

more subsets
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/presentation/run_entries_video_understanding_thinking.conf
Due: none

more configs
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/presentation/run_entries_video_understanding_thinking.conf
Due: none

Updated SHC clients
  src/helm/clients/stanfordhealthcare_azure_openai_client.py
Due: run-pre-commit-python

Allow applying regular expression pattern before mapping output (#3882)
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
  src/helm/benchmark/presentation/run_display.py
Due: run-pre-commit-python

Updated SHC clients (#3884)
  src/helm/clients/stanfordhealthcare_azure_openai_client.py
Due: run-pre-commit-python

Add output mapping patterns for Arabic MCQA scenarios
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Add output mapping patterns for Arabic MCQA scenarios (#3885)
  src/helm/benchmark/run_specs/arabic_run_specs.py
Due: run-pre-commit-python

Update output download documentation
  docs/downloading_raw_results.md
Due: none

Skip download tests
  src/helm/common/test_general.py
Due: run-pre-commit-python

Update output download documentation (#3886)
  docs/downloading_raw_results.md
Due: none

Skip download tests (#3887)
  src/helm/common/test_general.py
Due: run-pre-commit-python

roboarena up
  src/helm/benchmark/presentation/run_entries_roboarena.conf
  src/helm/benchmark/presentation/run_entries_roboarena_thinking.conf
Due: none

more runs
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/presentation/run_entries_video_understanding_thinking.conf
Due: none

undo
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/presentation/run_entries_video_understanding_thinking.conf
Due: none

Fix lint errors
  src/helm/benchmark/metrics/ultra_suite_asr_classification_metrics.py
Due: run-pre-commit-python

increase
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/presentation/run_entries_video_understanding_thinking.conf
Due: none

[SLP Helm] Update scenarios to use load_dataset() (#3835)
  src/helm/benchmark/metrics/ultra_suite_asr_classification_metrics.py
  src/helm/benchmark/run_specs/speech_disorder_audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_asr_transcription_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_classification_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_breakdown_scenario.py
  src/helm/benchmark/scenarios/audio_language/ultra_suite_disorder_symptoms_scenario.py
Due: run-pre-commit-python

Added OUTPUT_PATH to docs
  docs/examples.zip
  docs/medhelm.md
Due: none

Updated MedHELM examples
  docs/medhelm.md
  docs/medhelm_examples.zip
Due: none

the rest
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/presentation/run_entries_video_understanding_thinking.conf
Due: none

wrist removed
  src/helm/benchmark/static/schema_video.yaml
Due: none

Updated links
  docs/medhelm.md
Due: none

Moved examples zip to google drive
  docs/medhelm.md
  docs/medhelm_examples.zip
Due: none

Fix comments
  docs/medhelm.md
Due: none

Medhelm benchmark docs (#3890)
  docs/medhelm.md
Due: none

dspy integration for helm
  requirements.txt
  src/helm/benchmark/presentation/run_entries_medhelm_dspy.conf
  src/helm/benchmark/runner.py
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.py
  src/helm/benchmark/scenarios/mtsamples_replicate_scenario.py
  src/helm/clients/dspy_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Add Falcon3 model
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Add Falcon3 models (#3894)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Update Long Context landing post link
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Update Long Context landing post link (#3895)
  helm-frontend/src/components/Landing/LongContextLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-qOFpOyHb.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Add Claude 4.5 Sonnet
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Add Claude 4.5 Sonnet (#3897)
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Updated tiny eval to user PubMedQA
  docs/medhelm.md
Due: none

Updated tiny eval to user PubMedQA (#3898)
  docs/medhelm.md
Due: none

Update Changelog
  CHANGELOG.md
Due: none
