Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

Fix types and method names
  src/helm/benchmark/scenarios/conv_fin_qa_calc_scenario.py
Due: run-pre-commit-python

Update HELM Capabilities landing page
  helm-frontend/src/components/Landing/CapabilitiesLanding.tsx
Due: run-pre-commit-frontend

Update HELM Capabilities landing page (#3455)
  helm-frontend/src/components/Landing/CapabilitiesLanding.tsx
Due: run-pre-commit-frontend

Fix HELM Capabilities blog post link
  helm-frontend/src/components/Landing/CapabilitiesLanding.tsx
Due: run-pre-commit-frontend

Fix HELM Capabilities blog post link (#3456)
  helm-frontend/src/components/Landing/CapabilitiesLanding.tsx
Due: run-pre-commit-frontend

Update stale URL https://crfm.stanford.edu/helm/latest/
  README.md
  docs/get_helm_rank.md
  helm-frontend/README.md
Due: none

Update stale URL https://crfm.stanford.edu/helm/latest/ (#3457)
  README.md
  docs/get_helm_rank.md
  helm-frontend/README.md
Due: none

Build frontend
  src/helm/benchmark/static_build/assets/index-262903c1.js
  src/helm/benchmark/static_build/assets/index-8b1238c1.js
  src/helm/benchmark/static_build/assets/tremor-38a10867.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

metadata for MMLU-Pro
  src/helm/benchmark/static/schema_capabilities.yaml
Due: none

Added the MIMIC-IV-BHC benchmark to MedHelm scenarios.
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Added medhelm annotators
  src/helm/benchmark/annotation/aci_bench_annotator.py
  src/helm/benchmark/annotation/chw_care_plan_annotator.py
  src/helm/benchmark/annotation/dischargeme_annotator.py
  src/helm/benchmark/annotation/med_dialog_annotator.py
  src/helm/benchmark/annotation/medalign_annotator.py
  src/helm/benchmark/annotation/medi_qa_annotator.py
  src/helm/benchmark/annotation/mental_health_annotator.py
  src/helm/benchmark/annotation/mimic_rrs_annotator.py
  src/helm/benchmark/annotation/mtsamples_procedures_annotator.py
  src/helm/benchmark/annotation/mtsamples_replicate_annotator.py
  src/helm/benchmark/annotation/starr_patient_instructions_annotator.py
  src/helm/benchmark/metrics/aci_bench_metrics.py
  src/helm/benchmark/metrics/chw_care_plan_metrics.py
  src/helm/benchmark/metrics/dischargeme_metrics.py
  src/helm/benchmark/metrics/med_dialog_metrics.py
  src/helm/benchmark/metrics/medalign_metrics.py
  src/helm/benchmark/metrics/medi_qa_metrics.py
  src/helm/benchmark/metrics/mental_health_metrics.py
  src/helm/benchmark/metrics/mimic_rrs_metrics.py
  src/helm/benchmark/metrics/mtsamples_procedures_metrics.py
  src/helm/benchmark/metrics/mtsamples_replicate_metrics.py
  src/helm/benchmark/metrics/starr_patient_instructions_metrics.py
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

fix linter and type checker
  src/helm/benchmark/adaptation/adapter_spec.py
  src/helm/benchmark/reeval_run.py
  src/helm/benchmark/reeval_runner.py
Due: run-pre-commit-python

add document
  docs/reeval.md
  src/helm/benchmark/reeval_run.py
  src/helm/benchmark/reeval_runner.py
Due: run-pre-commit-python

Resolve static files using importlib_resources for crfm-proxy-server
  src/helm/proxy/server.py
Due: run-pre-commit-python

Resolve static files using importlib_resources for crfm-proxy-server (#3460)
  src/helm/proxy/server.py
Due: run-pre-commit-python

Add proxy static files to manifest
  MANIFEST.in
Due: none

Add proxy static files to manifest (#3461)
  MANIFEST.in
Due: none

ran pre-commit commands succesfully
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
Due: run-pre-commit-python

medhallu implementation
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/medhallu_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Add MedHELM to documentation for downloading raw results
  docs/downloading_raw_results.md
Due: none

Add bert-score to dependencies
  setup.cfg
  src/helm/benchmark/metrics/summarization_metrics.py
Due: run-pre-commit-python

Add metadata for MMLU-Pro (#3458)
  src/helm/benchmark/static/schema_capabilities.yaml
Due: none

Add bert-score to dependencies (#3463)
  setup.cfg
  src/helm/benchmark/metrics/summarization_metrics.py
Due: run-pre-commit-python

fixed minor comments
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Fix imports in mimic_bhc_scenario.py
  src/helm/benchmark/scenarios/mimic_bhc_scenario.py
Due: run-pre-commit-python

display transcript
  src/helm/benchmark/presentation/run_display.py
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

new transcribe models
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

change sign
  src/helm/benchmark/reeval_runner.py
Due: run-pre-commit-python

feat: add complete implementation of CLEAR dataset
  src/helm/benchmark/presentation/run_entries_medhelm.conf
  src/helm/benchmark/run_specs/medhelm_run_specs.py
  src/helm/benchmark/scenarios/clear_scenario.py
  src/helm/benchmark/static/schema_medhelm.yaml
Due: run-pre-commit-python

Allow using alternate annotator models for AIR-Bench 2024
  src/helm/benchmark/annotation/air_bench_annotator.py
  src/helm/benchmark/run_specs/air_bench_run_specs.py
Due: run-pre-commit-python

Rename legacy Claude 2 Anthropic client
  scripts/cache/fix_anthropic_cache.py
  src/helm/clients/anthropic_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

Use Anthropic tokenizer from Hugging Face
  src/helm/config/tokenizer_configs.yaml
  src/helm/tokenizers/anthropic_tokenizer.py
Due: run-pre-commit-python

Upgrade Anthropic library
  setup.cfg
Due: none

Move pytrec_eval to its own optional dependencies section
  setup.cfg
Due: none

Add comment
  setup.cfg
Due: none

Allow using alternate annotator models for AIR-Bench 2024 (#3468)
  src/helm/benchmark/annotation/air_bench_annotator.py
  src/helm/benchmark/run_specs/air_bench_run_specs.py
Due: run-pre-commit-python

Move pytrec_eval to its own optional dependencies section (#3470)
  setup.cfg
Due: none

Update requirements.txt
  requirements.txt
Due: none

Fix test, delete duplicated methods
  src/helm/tokenizers/caching_tokenizer.py
  src/helm/tokenizers/test_anthropic_tokenizer.py
  src/helm/tokenizers/tokenizer.py
Due: run-pre-commit-python

style: linter issue
  src/helm/benchmark/scenarios/clear_scenario.py
Due: run-pre-commit-python

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
