Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

test
  src/helm/clients/audio_language/qwen2_5_omni_client.py
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

test
  setup.cfg
  src/helm/clients/audio_language/qwen2_5_omni_client.py
Due: run-pre-commit-python

test
  setup.cfg
  src/helm/benchmark/metrics/robo_reward_bench_metrics.py
Due: run-pre-commit-python

test
  setup.cfg
Due: none

Add link to MedHELM docs from landing page
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
  helm-frontend/src/components/Landing/MedHELMV1Landing.tsx
Due: run-pre-commit-frontend

Add link to MedHELM docs from landing page (#3643)
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
  helm-frontend/src/components/Landing/MedHELMV1Landing.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-176d8a15.css
  src/helm/benchmark/static_build/assets/index-2b8b9628.css
  src/helm/benchmark/static_build/assets/index-84bb5365.js
  src/helm/benchmark/static_build/assets/index-e295de9c.js
  src/helm/benchmark/static_build/assets/medhelm-overview-eac29843.png
  src/helm/benchmark/static_build/assets/medhelm-v1-overview-3ddfcd65.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Update scenario/metrics/run June 4th 10PM
  src/helm/benchmark/metrics/code_evaluation_metrics.py
  src/helm/benchmark/run_specs/student_run_specs.py
  src/helm/benchmark/scenarios/student_coding_scenario.py
Due: run-pre-commit-python

MELT: Revise code according to Yifan's comments
  src/helm/benchmark/adaptation/common_adapter_specs.py
  src/helm/benchmark/metrics/melt_metric_specs.py
  src/helm/benchmark/run_specs/melt_run_specs.py
Due: run-pre-commit-python

refactor: standardizes code
  helm-frontend/src/components/LLMJudgeDisplay.tsx
  helm-frontend/src/routes/Run.tsx
  helm-frontend/src/services/getLLMJudgeDataByName.ts
  helm-frontend/src/types/LLMJudgeData.ts
Due: run-pre-commit-frontend

Revise MELT schema and implement Vietnamese-specific metrics (#3634)
  src/helm/benchmark/metrics/melt_bias_metric.py
  src/helm/benchmark/metrics/melt_bias_word_lists.py
  src/helm/benchmark/metrics/melt_metric_specs.py
  src/helm/benchmark/metrics/melt_toxicity_metric.py
  src/helm/benchmark/metrics/summac/model_summac.py
  src/helm/benchmark/presentation/run_entries_melt.conf
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_specs/melt_run_specs.py
  src/helm/benchmark/scenarios/melt_scenarios.py
  src/helm/benchmark/static/schema_melt.yaml
Due: run-pre-commit-python

refactor: partial refactoring of pull requests
  src/helm/benchmark/multi_gpu_runner.py
  src/helm/benchmark/reeval_runner.py
  src/helm/benchmark/run.py
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

fix: fixes bug in argument extraction
  src/helm/benchmark/run.py
Due: run-pre-commit-python

Delete helm_scenario1_testing_code.py
  helm_scenario1_testing_code.py
Due: run-pre-commit-python

refactor: Adjusting logs, adding abstract class and factory method, granularizing utils class
  src/helm/benchmark/runner.py
  src/helm/contamination/contamination_evaluator.py
  src/helm/contamination/contamination_evaluator_factory.py
  src/helm/contamination/contamination_utils.py
  src/helm/contamination/ts_guessing_question_based.py
  src/helm/contamination/ts_guessing_question_multichoice.py
  src/helm/contamination/utils_contamination.py
Due: run-pre-commit-python

style: Stylistic adjustments to classes related to the contamination module
  src/helm/benchmark/run.py
  src/helm/benchmark/runner.py
  src/helm/contamination/contamination_evaluator_factory.py
  src/helm/contamination/contamination_utils.py
  src/helm/contamination/ts_guessing_question_based.py
  src/helm/contamination/ts_guessing_question_multichoice.py
Due: run-pre-commit-python

new schema
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/run_expander.py
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
  src/helm/benchmark/static/schema_video.yaml
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/common/images_utils.py
  src/helm/common/video_understanding_parameters.py
Due: run-pre-commit-python

cleanup
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
Due: run-pre-commit-python

progress prediction
  src/helm/benchmark/metrics/robo_reward_bench_metrics.py
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/run_specs/vlm_run_specs.py
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
  src/helm/benchmark/static/schema_video.yaml
Due: run-pre-commit-python

new gemini
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

fix reference
  src/helm/benchmark/scenarios/vision_language/robo_reward_bench_scenario.py
Due: run-pre-commit-python

scenario2 and scenario1 modification
  src/helm/benchmark/metrics/code_evaluation_metrics.py
  src/helm/benchmark/run_specs/mistake_code_run_specs.py
  src/helm/benchmark/scenarios/code_mistake_scenario.py
  src/helm/benchmark/scenarios/student_coding_scenario.py
Due: run-pre-commit-python

fix: fixes pagination of metrics displayed on the front-end.
  helm-frontend/src/components/RunMetrics.tsx
Due: run-pre-commit-frontend

Upgrade requirements.txt
  requirements.txt
Due: none

feat: include scenario instructions in LLM judge evaluation prompt
  src/helm/benchmark/judge_llm.py
  src/helm/benchmark/prompts/default_prompt.txt
  src/helm/benchmark/runner.py
Due: run-pre-commit-python

Upgrade mypy to 1.16.0
  setup.cfg
  src/helm/benchmark/metrics/vision_language/image_utils.py
  src/helm/clients/audio_language/diva_llama_client.py
  src/helm/clients/audio_language/qwen2_5_omni_client.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/clients/audio_language/qwen_audiolm_client.py
  src/helm/clients/audio_language/test.py
  src/helm/clients/vision_language/huggingface_vision2seq_client.py
  src/helm/clients/vision_language/huggingface_vlm_client.py
  src/helm/clients/vision_language/idefics_client.py
  src/helm/clients/vision_language/paligemma_client.py
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/clients/vision_language/qwen_vlm_client.py
  src/helm/common/general.py
Due: run-pre-commit-python

added correct code scenario
  src/helm/benchmark/metrics/code_evaluation_metrics.py
  src/helm/benchmark/metrics/correct_code_metrics.py
  src/helm/benchmark/run_specs/correct_code_run_specs.py
  src/helm/benchmark/scenarios/correct_code_scenario.py
Due: run-pre-commit-python

Fix
  src/helm/clients/audio_language/diva_llama_client.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/clients/audio_language/qwen_audiolm_client.py
  src/helm/clients/vision_language/huggingface_vision2seq_client.py
  src/helm/clients/vision_language/idefics_client.py
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/clients/vision_language/qwen_vlm_client.py
Due: run-pre-commit-python

Upgrade mypy to 1.16.0 (#3649)
  setup.cfg
  src/helm/benchmark/metrics/vision_language/image_utils.py
  src/helm/clients/audio_language/diva_llama_client.py
  src/helm/clients/audio_language/qwen2_5_omni_client.py
  src/helm/clients/audio_language/qwen2_audiolm_client.py
  src/helm/clients/audio_language/qwen_audiolm_client.py
  src/helm/clients/audio_language/test.py
  src/helm/clients/vision_language/huggingface_vision2seq_client.py
  src/helm/clients/vision_language/huggingface_vlm_client.py
  src/helm/clients/vision_language/idefics_client.py
  src/helm/clients/vision_language/paligemma_client.py
  src/helm/clients/vision_language/qwen2_vlm_client.py
  src/helm/clients/vision_language/qwen_vlm_client.py
  src/helm/common/general.py
Due: run-pre-commit-python

Fix incorrect thinking parsing in TogetherClient
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Fix incorrect thinking parsing in TogetherClient (#3650)
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Update requirements.txt
  requirements.txt
Due: none

fix compilation
  src/helm/benchmark/metrics/code_evaluation_metrics.py
  src/helm/benchmark/metrics/correct_code_metrics.py
Due: run-pre-commit-python

feat: initial attempt at re-implementing OpenAI Responses Client
  src/helm/clients/openai_client.py
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

refactor: properly support multiple outputs and responses, test this thing works
  src/helm/clients/openai_client.py
  src/helm/clients/openai_responses_client.py
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-python

fix: flake8 fixes
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

fix: can;t use match in python 3.9
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

feat: get model for request method for overriding
  src/helm/clients/openai_responses_client.py
Due: run-pre-commit-python

Add OpenAI-MRCR scenario
  src/helm/benchmark/metrics/openai_mrcr_metrics.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/openai_mrcr_scenario.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python
