Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

fix UI
  src/helm/benchmark/static/schema_medical.yaml
  src/helm/config/model_deployments.yaml
Due: none

Modified prompt for race based medicine
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

feat: fix starr patient instructions prompt
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/starr_patient_instructions_scenario.py
Due: run-pre-commit-python

Added SHC benchmarks
  src/helm/benchmark/static/schema_medical.yaml
Due: none

Add output postprocessing for metrics
  src/helm/benchmark/metrics/output_processing_metric.py
  src/helm/benchmark/metrics/output_processors.py
  src/helm/benchmark/metrics/test_output_postprocessors.py
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Changes
  src/helm/benchmark/metrics/output_processing_metric.py
  src/helm/benchmark/metrics/output_processors.py
  src/helm/benchmark/metrics/test_output_postprocessors.py
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Added description of missing metrics
  src/helm/benchmark/static/schema_medical.yaml
Due: none

Make things private
  src/helm/benchmark/metrics/output_processing_metric.py
Due: run-pre-commit-python

Fix
  src/helm/benchmark/metrics/output_processing_metric.py
Due: run-pre-commit-python

Add Support for DeepSeek R1 Distill Llama 8B and DeepSeek Code Instruct 6.7B (#3332)
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
  src/helm/config/tokenizer_configs.yaml
Due: none

Allow processing output before metrics (#3333)
  src/helm/benchmark/metrics/output_processing_metric.py
  src/helm/benchmark/metrics/output_processors.py
  src/helm/benchmark/run_expander.py
Due: run-pre-commit-python

Disable test_math_scenario due to DMCA takedown
  src/helm/benchmark/scenarios/test_math_scenario.py
Due: run-pre-commit-python

Fix test_bigcodebench_scenario
  src/helm/benchmark/scenarios/test_bigcodebench_scenario.py
Due: run-pre-commit-python

Adding OAB Exams Scenario (#3329)
  src/helm/benchmark/run_specs/oab_exams_specs.py
  src/helm/benchmark/scenarios/oab_exams_scenario.py
  src/helm/benchmark/scenarios/test_oab_exams_scenario.py
Due: run-pre-commit-python

add ehr sql annotator and metric
  ehr_sql_annotator.py
  ehr_sql_metrics.py
  ehr_sql_scenario.py
Due: run-pre-commit-python

Update classic_run_specs.py to include ehr sql
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

Add files via upload
  ehr_sql_annotator.py
Due: run-pre-commit-python

New SHC scenario added
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/shc_conf_scenario.py
Due: run-pre-commit-python

update schema medical to remove summac metric and remove stop sequences from MTSamples_replicate
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

feat: add possible ans choices for medbullets
  src/helm/benchmark/scenarios/medbullets_scenario.py
Due: run-pre-commit-python

modify ehr sql
  src/helm/benchmark/annotation/ehr_sql_annotator.py
  src/helm/benchmark/metrics/ehr_sql_metrics.py
  src/helm/benchmark/scenarios/ehr_sql_scenario.py
  src/helm/benchmark/static/schema_medical.yaml
Due: run-pre-commit-python

modify sqlite db location for ehr sql
  src/helm/benchmark/annotation/ehr_sql_annotator.py
Due: run-pre-commit-python

Added missing EHR SQL metrics
  src/helm/benchmark/static/schema_medical.yaml
Due: none

modify ehr sql metric
  src/helm/benchmark/metrics/ehr_sql_metrics.py
Due: run-pre-commit-python

Added metadata for SHC benchmarks
  src/helm/benchmark/static/schema_medical.yaml
Due: none

push run specs for ehr sql
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

Add HotPotQA from Ruler
  src/helm/benchmark/run_specs/experimental_run_specs.py
  src/helm/benchmark/run_specs/long_context_run_specs.py
  src/helm/benchmark/scenarios/ruler_qa_scenario_helper.py
  src/helm/benchmark/scenarios/ruler_qa_scenarios.py
  src/helm/benchmark/static/schema_long_context.yaml
Due: run-pre-commit-python

Revert GPT-4o model snapshot
  src/helm/benchmark/annotation/wildbench_annotator.py
Due: run-pre-commit-python

Revert GPT-4o snapshot
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

Fix
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

Add a version of DeepSeek R1 that hides thinking tokens from output
  src/helm/clients/together_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Remove print
  src/helm/clients/together_client.py
Due: run-pre-commit-python

Display messages in request
  helm-frontend/src/components/MessagesDisplay.tsx
  helm-frontend/src/components/Request/Request.tsx
  helm-frontend/src/types/DisplayRequest.ts
  helm-frontend/src/types/Message.ts
Due: run-pre-commit-frontend

Fixes
  helm-frontend/src/components/MessagesDisplay.tsx
  helm-frontend/src/components/Request/Request.tsx
Due: run-pre-commit-frontend

Fix test
  helm-frontend/src/components/Request/Request.test.tsx
Due: run-pre-commit-frontend

Add a version of DeepSeek R1 that hides thinking tokens from output (#3335)
  src/helm/clients/together_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Frontend for messages in requests (#3336)
  helm-frontend/src/components/MessagesDisplay.tsx
  helm-frontend/src/components/Request/Request.test.tsx
  helm-frontend/src/components/Request/Request.tsx
  helm-frontend/src/types/DisplayRequest.ts
  helm-frontend/src/types/Message.ts
Due: run-pre-commit-frontend

Add latest to the frontend version dropdown
  helm-frontend/src/components/ReleaseDropdown.tsx
Due: run-pre-commit-frontend

Add latest to the frontend version dropdown (#3338)
  helm-frontend/src/components/ReleaseDropdown.tsx
Due: run-pre-commit-frontend
