Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

run-pre-commit-python:
  name: Python pre-commit
  entry: ./pre-commit.sh
  language: script
  pass_filenames: false
  require_serial: true

run-pre-commit-frontend:
  name: Frontend pre-commit
  entry: ./pre-commit-frontend.sh
  language: script
  pass_filenames: false
  require_serial: true

MUStARDScenario for sarcasm detection (#3345)
  setup.cfg
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/presentation/run_entries_audio_debug.conf
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/casual_conversations2_scenario.py
  src/helm/benchmark/scenarios/audio_language/mustard_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/common/audio_utils.py
Due: run-pre-commit-python

fix
  src/helm/benchmark/presentation/run_entries_audio.conf
Due: none

Fixed EHRSQL
  src/helm/benchmark/run_specs/classic_run_specs.py
Due: run-pre-commit-python

more gemini and openai models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

fix audio
  src/helm/clients/openai_client.py
Due: run-pre-commit-python

Fix ehrsql annotator
  src/helm/benchmark/annotation/ehr_sql_annotator.py
Due: run-pre-commit-python

rearrange
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

update
  src/helm/benchmark/metrics/evaluate_reference_metrics.py
Due: run-pre-commit-python

Add SEA-LIONv3 models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

Add BHASA leaderboard
  docs/reproducing_leaderboards.md
  helm-frontend/project_metadata.json
  helm-frontend/src/components/Landing/BhasaLanding.tsx
  helm-frontend/src/routes/Home.tsx
  src/helm/config/model_deployments.yaml
Due: run-pre-commit-frontend

Lint pages
  helm-frontend/src/components/ExtraDataDisplay.tsx
  helm-frontend/src/components/Landing/BhasaLanding.tsx
Due: run-pre-commit-frontend

Lint pages
  helm-frontend/src/components/ExtraDataDisplay.tsx
Due: run-pre-commit-frontend

List pages
  helm-frontend/src/components/ExtraDataDisplay.tsx
Due: run-pre-commit-frontend

more gemini models
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

New OpenAI (audio) + recent Gemini models (#3346)
  src/helm/benchmark/presentation/run_entries_audio.conf
  src/helm/benchmark/scenarios/audio_language/multilingual_librispeech_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
  src/helm/clients/openai_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

Change Omni-MATH template
  helm-frontend/public/config.js
  src/helm/benchmark/annotation/omni_math/helm_omni_math_annotator_v1.0.0.txt
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python, run-pre-commit-frontend

Fixes
  helm-frontend/public/config.js
  src/helm/benchmark/annotation/omni_math/helm_omni_math_annotator_v1.0.0.txt
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python, run-pre-commit-frontend

Fixes
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

New template
  src/helm/benchmark/annotation/omni_math/helm_omni_math_annotator_template_v1.0.0.txt
Due: none

Increase max tokens for all capabilities scenarios
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

reorganize speech robust bench
  src/helm/benchmark/scenarios/audio_language/speech_robust_bench_scenario.py
Due: run-pre-commit-python

Fix scenarios
  src/helm/benchmark/run_specs/classic_run_specs.py
  src/helm/benchmark/scenarios/mimiciv_billing_code_scenario.py
  src/helm/benchmark/scenarios/mtsamples_procedures_scenario.py
  src/helm/benchmark/scenarios/n2c2_ct_matching_scenario.py
  src/helm/benchmark/scenarios/race_based_med_scenario.py
Due: run-pre-commit-python

Change Omni-MATH template (#3348)
  src/helm/benchmark/annotation/omni_math/helm_omni_math_annotator_template_v1.0.0.txt
  src/helm/benchmark/annotation/omni_math_annotator.py
Due: run-pre-commit-python

Increase max tokens for all capabilities scenarios (#3349)
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Default HELM_MAX_CONCURRENT_WORKER_SLURM_JOBS to 4 instead of 8
  src/helm/benchmark/slurm_runner.py
Due: run-pre-commit-python

add ami and librispeech scenarios
  src/helm/benchmark/run_specs/audio_run_specs.py
  src/helm/benchmark/scenarios/audio_language/ami_scenario.py
  src/helm/benchmark/scenarios/audio_language/librispeech_scenario.py
  src/helm/benchmark/scenarios/audio_language/speech_robust_bench_scenario.py
  src/helm/benchmark/static/schema_audio.yaml
Due: run-pre-commit-python

Fixed requirements for race_based_med
  requirements.txt
Due: none

Update MedHELM front page
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Fix
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Add logo
  helm-frontend/src/assets/medhelm/medhelm-overview.png
Due: none

Update MedHELM front page (#3352)
  helm-frontend/src/assets/medhelm/medhelm-overview.png
  helm-frontend/src/components/Landing/MedHELMLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-53044ef6.js
  src/helm/benchmark/static_build/assets/index-6c4512c2.js
  src/helm/benchmark/static_build/assets/medhelm-overview-3040904f.png
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Default HELM_MAX_CONCURRENT_WORKER_SLURM_JOBS to 4 instead of 8 (#3353)
  src/helm/benchmark/slurm_runner.py
Due: run-pre-commit-python

add to conf
  src/helm/benchmark/presentation/run_entries_audio.conf
Due: none

Change capabilities max tokens to 4096
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Change capabilities max tokens to 4096 (#3356)
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Update order of bechmarks to match healthcare categorization
  src/helm/benchmark/static/schema_medical.yaml
Due: none

Disable test_math_scenario due to DMCA takedown (#3315)
  src/helm/benchmark/scenarios/test_bigcodebench_scenario.py
  src/helm/benchmark/scenarios/test_math_scenario.py
  src/helm/benchmark/scenarios/test_wildbench_scenario.py
Due: run-pre-commit-python

Rename BHASA to SEA-HELM
  docs/reproducing_leaderboards.md
  helm-frontend/project_metadata.json
  helm-frontend/src/components/Landing/SEAHELMLanding.tsx
  helm-frontend/src/routes/Home.tsx
  setup.cfg
  src/helm/benchmark/metrics/bhasa_metrics_specs.py
  src/helm/benchmark/metrics/seahelm_metrics.py
  src/helm/benchmark/metrics/seahelm_metrics_specs.py
  src/helm/benchmark/presentation/run_entries_seahelm.conf
  src/helm/benchmark/presentation/run_entries_seahelm_zero_shot.conf
  src/helm/benchmark/run_specs/seahelm_run_specs.py
  src/helm/benchmark/scenarios/seahelm_scenario.py
  src/helm/benchmark/static/schema_seahelm.yaml
Due: run-pre-commit-python, run-pre-commit-frontend

Path conditions:
  run-pre-commit-python: any of: \.py$
  run-pre-commit-frontend: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
