Repository stanford-crfm/helm: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-pre-commit-python, run-pre-commit-frontend

.pre-commit-config.yaml:

default_install_hook_types: [pre-push]
default_stages: [push]
repos:
- repo: local
  hooks:
    - id: run-pre-commit-python
      name: Python pre-commit
      entry: ./pre-commit.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [python]
    - id: run-pre-commit-frontend
      name: Frontend pre-commit
      entry: ./pre-commit-frontend.sh
      language: script
      pass_filenames: false
      require_serial: true
      types_or: [javascript, jsx, ts, tsx]

Change organization name for Arabic.AI models (#3966)
  src/helm/config/model_metadata.yaml
Due: none

sort table
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

more batch
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
  src/helm/benchmark/static/schema_video.yaml
Due: none

more batch
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
Due: none

Minor edits to Arabic landing page and model metadata
  helm-frontend/src/components/Landing/ArabicLanding.tsx
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-frontend

lint
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

final subsets
  src/helm/benchmark/presentation/run_entries_video_understanding.conf
Due: none

Temporarily rmeove link to blog post from Arabic landing
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

Temporarily remove link to blog post from Arabic landing (#3968)
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

Update blog link
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

Update HELM Arabic blog link (#3969)
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

gemini 3 flash
  src/helm/benchmark/static/schema_video.yaml
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: none

update link
  src/helm/config/model_metadata.yaml
Due: none

Update Arabic landing with citations
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

Update Arabic landing with citations (#3970)
  helm-frontend/src/components/Landing/ArabicLanding.tsx
Due: run-pre-commit-frontend

Build frontend
  src/helm/benchmark/static_build/assets/index-B-e-H0ne.js
  src/helm/benchmark/static_build/assets/index-BbMCKqLr.js
  src/helm/benchmark/static_build/index.html
Due: run-pre-commit-frontend

Updated model summac to handle cases where the generation exceeds token length
  src/helm/benchmark/metrics/summac/model_summac.py
Due: run-pre-commit-python

first column
  src/helm/benchmark/static/schema_video.yaml
Due: none

ablation runs
  src/helm/clients/vision_language/qwen3_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

tex
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

summarize
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

reruns
  src/helm/clients/vision_language/qwen3_vlm_client.py
  src/helm/config/model_deployments.yaml
  src/helm/config/model_metadata.yaml
Due: run-pre-commit-python

better table
  src/helm/benchmark/static/schema_video.yaml
  src/helm/config/model_metadata.yaml
Due: none

better table
  src/helm/benchmark/presentation/summarize.py
Due: run-pre-commit-python

done
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/static/schema_video.yaml
Due: run-pre-commit-python

finalized table
  src/helm/benchmark/presentation/summarize.py
  src/helm/benchmark/static/schema_video.yaml
Due: run-pre-commit-python

Update branch
  src/helm/benchmark/annotation/ehr_sql_annotator.py
  src/helm/benchmark/presentation/run_entries_medhelm_gated.conf
  src/helm/benchmark/presentation/run_entries_medhelm_private_stanford.conf
  src/helm/benchmark/presentation/run_entries_medhelm_public.conf
Due: run-pre-commit-python

Update schema_thai.yaml to remove duplicate description
  src/helm/benchmark/static/schema_thai.yaml
Due: none

Add missing name entry for WinoGrande
  src/helm/benchmark/static/schema_mmlu_winogrande_afr.yaml
Due: none

Set subject to all by default for MMLU-Pro
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

Implement NoTokenizerWindowService
  src/helm/benchmark/window_services/no_tokenizer_window_service.py
  src/helm/benchmark/window_services/window_service_factory.py
Due: run-pre-commit-python

Fixes
  src/helm/benchmark/window_services/no_tokenizer_window_service.py
  src/helm/benchmark/window_services/window_service_factory.py
Due: run-pre-commit-python

Rob
  src/helm/benchmark/static/schema_video.yaml
Due: none

Minor lint
  src/helm/benchmark/window_services/no_tokenizer_window_service.py
  src/helm/benchmark/window_services/window_service_factory.py
Due: run-pre-commit-python

Allow omitting the tokenizer and disabling request truncation (#3974)
  src/helm/benchmark/window_services/no_tokenizer_window_service.py
  src/helm/benchmark/window_services/window_service_factory.py
Due: run-pre-commit-python

roboreward landing
  helm-frontend/src/assets/roboreward/overview.png
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

Set subject to all by default for MMLU-Pro (#3975)
  src/helm/benchmark/run_specs/capabilities_run_specs.py
Due: run-pre-commit-python

configure
  helm-frontend/src/routes/Home.tsx
Due: run-pre-commit-frontend

finalize
  helm-frontend/src/components/Landing/RoboRewardLanding.tsx
Due: run-pre-commit-frontend
